<table data-ng-table="ancestorsTableParams" class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Part Type</th>
      <th>Manufacturer</th>
      <th>Part #</th>
      <th>Relation Type</th>
      <th>Relation Distance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in $data">
      <td>{{item.partTypeName}}</td>
      <td>{{item.manufacturerName}}</td>
      <td style="white-space: nowrap;">{{item.partNumber}}</td>
      <td>{{item.relationType}}</td>
      <td>{{item.distance}}</td>
      <td>
        <a authorize="ROLE_READ" data-ng-href="/part/{{item.partId}}" class="btn btn-primary btn-xs">
          <i class="fa fa-eye"></i> View
        </a>
      </td>
    </tr>
    <tr data-ng-hide="$data.length > 0">
      <td colspan="6">No parts to display.</td>
    </tr>
  </tbody>
</table>
