<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Engine</th>
      <th>Fuel Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in applications">
      <td>{{getApplication(item).year.name}}</td>
      <td>{{getApplication(item).model.make.name}}</td>
      <td>{{getApplication(item).model.name}}</td>
      <td>{{getApplication(item).engine.engineSize}}</td>
      <td>{{getApplication(item).engine.fuelType.name}}</td>
      <td part-table-actions>TODO</td>
    </tr>
    <tr ng-hide="applications">
      <td colspan="7">No applications to display.</td>
    </tr>
  </tbody>
</table>
