<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Engine</th>
    <th>Fuel Type</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in applications">
    <td>{{item.year.name}}</td>
    <td>{{item.model.make.name}}</td>
    <td>{{item.model.name}}</td>
    <td>{{item.engine.engineSize}}</td>
    <td>{{item.engine.fuelType.name}}</td>
    <td>
      <button ng-click="unpick(index, item)" class="btn btn-danger btn-xs">
        <i class="fa fa-trash-o"></i> Unpick
      </button>
    </td>
  </tr>
  <tr ng-hide="applications">
    <td colspan="7">Pick an application to associate to part.</td>
  </tr>
  </tbody>
</table>
