<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Engine</th>
      <th>Fuel Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in applications">
      <td>
        {{getPart(item).partType.name}}
      </td>
      <td>
        {{getPart(item).manufacturer.name}}
      </td>
      <td style="white-space: nowrap;">
        {{getPart(item).manufacturerPartNumber}}
      </td>
      <td part-table-actions>
        <a authorize="ROLE_READ"
           ng-href="/part/{{getPart(item).id}}"
           class="btn btn-primary btn-xs">
          <i class="fa fa-eye"></i>
          View
        </a>
      </td>
    </tr>
    <tr ng-hide="applications">
      <td colspan="7">No applications to display.</td>
    </tr>
  </tbody>
</table>
