<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Engine</th>
    <th>Fuel Type</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in applications">
    <td>{{item.year.name}}</td>
    <td>{{item.model.make.name}}</td>
    <td>{{item.model.name}}</td>
    <td>{{item.engine.engineSize}}</td>
    <td>{{item.engine.fuelType.name}}</td>
  </tr>
  <tr ng-hide="applications">
    <td colspan="6">There are no applications yet.</td>
  </tr>
  </tbody>
</table>
