<div class="pull-right" style="margin-bottom: 5px;">
  <a authorize="ROLE_BOM"
     class="btn btn-primary"
     data-ng-href="/part/{{parentPartId}}/parentbom/search">
    <i class="fa fa-plus"></i> Add to Parent
  </a>
  <a authorize="ROLE_BOM"
     class="btn btn-primary"
     data-ng-href="/part/{{parentPartId}}/bom/search">
    <i class="fa fa-plus"></i> Add Child
  </a>
</div>

<table data-ng-table="bomTableParams" class="table table-bordered table-striped table-hover table-responsive">
  <tr data-ng-repeat="bomItem in $data">
    <td title="'Part #'" class="text-center text-nowrap" data-sortable="'child.manufacturerPartNumber'">
      <a data-ng-href="/part/{{bomItem.child.id}}">{{bomItem.child.manufacturerPartNumber}}</a>
    </td>
    <td title="'Qty'" class="text-right" data-sortable="'quantity'">
      <span data-ng-hide="isModifying(bomItem)">{{bomItem.quantity}}</span>
      <input data-ng-model="modifyValues[bomItem.id]" type="text" data-ng-show="isModifying(bomItem)"/>
    </td>
    <td title="'Type'" data-sortable="'child.partType.name'">
      {{bomItem.child.partType.name}}
    </td>
    <td title="'Name'" data-sortable="'child.name'">
      {{bomItem.child.name}}
    </td>
    <td title="'Interchange'">
      <ul class="list-unstyled list-inline" style="margin-bottom:0">
      <li data-ng-repeat="p in interchangesOfThePartBoms[bomItem.id]">
        <a data-ng-href="/part/{{p.id}}">{{p.manufacturerPartNumber}}</a><span data-ng-if="!$last">,</span>
      </li>
      </ul>
    </td>
    <td title="'Actions'" class="actions">

      <button data-ng-click="modifyStart(bomItem)"
              authorize="ROLE_BOM" class="btn btn-warning btn-xs"
              data-ng-hide="isModifying(bomItem)">
        <i class="fa fa-cog"></i> Modify
      </button>

      <button data-ng-click="modifySave(bomItem)"
              data-ng-disabled="restService.status.bomRebuilding"
              authorize="ROLE_BOM" class="btn btn-success btn-xs"
              data-ng-show="isModifying(bomItem)">
        <i class="fa fa-save"></i> Save
      </button>

      <button data-ng-click="modifyCancel(bomItem)"
              authorize="ROLE_BOM" class="btn btn-warning btn-xs"
              data-ng-show="isModifying(bomItem)">
        <i class="fa fa-minus-circle"></i> Cancel
      </button>

      <a data-ng-click="showAlternates(bomItem)"
         authorize="ROLE_READ" class="btn btn-info btn-xs"
         data-ng-hide="isModifying(bomItem)">
        <i class="fa fa-random"></i> Alternates
      </a>

      <button data-ng-click="remove(bomItem)"
              data-ng-disabled="restService.status.bomRebuilding"
              authorize="ROLE_BOM" class="btn btn-danger btn-xs"
              data-ng-hide="isModifying(bomItem)">
        <i class="fa fa-trash-o"></i> Remove
      </button>

    </td>
  </tr>

  <tr data-ng-hide="$data.length > 0">
    <td colspan="6">No parts to display.</td>
  </tr>
</table>

<div data-ng-show="altBomItem">
    <h4 part-name="altBomItem.child" part-name-suffix="Alternates"></h4>

    <a authorize="ROLE_BOM"
       class="btn btn-info pull-right" style="vertical-align: middle;"
       data-ng-href="/part/{{parentPartId}}/bom/{{altBomItem.id}}/search">
      <i class="fa fa-cogs"></i> Add Alternate
    </a>

  <div class="row">
    <part-table parts="altBomItem.alternatives" key="part"
                extra-columns="{&quot;Alt Group #&quot;: &quot;item.header.id&quot;}">

      <button data-ng-click="removeAlternate(index, item)"
              data-ng-disabled="restService.status.bomRebuilding"
         authorize="ROLE_BOM_ALT" class="btn btn-danger btn-xs">
        <i class="fa fa-trash-o"></i> Remove
      </button>

    </part-table>

  </div>
</div>
