<div class="well">
  <h3 style="display: inline-block;">Bill of Materials</h3>
  <div class="row">
  <a authorize="ROLE_BOM" class="btn btn-info pull-right" style="vertical-align: middle;" ng-href="#/part/{{part.partType.typeName}}/{{partId}}/bom/search">
    <i class="fa fa-cogs"></i>
    Add BOM Item
  </a>
  </div>
  <table data-ng-table="bomTableParams" class="table table-bordered table-striped table-hover table-responsive">
    <tr data-ng-repeat="bomItem in $data">
      <td title="'Type'">{{bomItem.child.partType.name}}</td>
      <td title="'Name'">{{bomItem.child.name}}</td>
      <td title="'Manufacturer'">{{bomItem.child.manufacturer.name}}</td>
      <td title="'Part #'">{{bomItem.child.manufacturerPartNumber}}</td>
      <td title="'Qty'">
        <span ng-hide="isModifying($index, bomItem)">{{bomItem.quantity}}</span>
        <input ng-model="modifyValues[bomItem.id]" type="text" ng-show="isModifying($index, bomItem)"/>
      </td>
      <td title="'Actions'">

        <button ng-click="modifyStart($index, bomItem)"
                authorize="ROLE_BOM" class="btn btn-warning btn-xs"
                ng-hide="isModifying($index, bomItem)">
          <i class="fa fa-cog"></i> Modify
        </button>

        <button ng-click="modifySave($index, bomItem)"
                authorize="ROLE_BOM" class="btn btn-success btn-xs"
                ng-show="isModifying($index, bomItem)">
          <i class="fa fa-save"></i> Save
        </button>

        <button ng-click="modifyCancel($index, bomItem)"
                authorize="ROLE_BOM" class="btn btn-warning btn-xs"
                ng-show="isModifying($index, bomItem)">
          <i class="fa fa-minus-circle"></i> Cancel
        </button>

        <a ng-href="#/part/{{bomItem.child.partType.typeName}}/{{bomItem.child.id}}"
           authorize="ROLE_READ" class="btn btn-primary btn-xs"
           ng-hide="isModifying($index, bomItem)">
          <i class="fa fa-eye"></i> View Part
        </a>

        <a ng-click="showAlternates(bomItem)"
           authorize="ROLE_READ" class="btn btn-info btn-xs"
           ng-hide="isModifying($index, bomItem)">
          <i class="fa fa-random"></i> Alternates
        </a>

        <button ng-click="remove($index, bomItem)"
                authorize="ROLE_BOM" class="btn btn-danger btn-xs"
                ng-hide="isModifying($index, bomItem)">
          <i class="fa fa-trash-o"></i> Remove
        </button>

      </td>
    </tr>
  </table>

  <div ng-show="altBomItem">
    <h3>
      {{
        altBomItem.child.manufacturer.name
        + ' '
        + altBomItem.child.partType.name
        + ' '
        + altBomItem.child.manufacturerPartNumber
      }}
      Alternates</h3>

      <a authorize="ROLE_BOM" class="btn btn-info pull-right" style="vertical-align: middle;" ng-href="#/part/{{part.partType.typeName}}/{{partId}}/bom/{{altBomItem.id}}/search">
        <i class="fa fa-cogs"></i>
        Add Alternate
      </a>

      <div ng-repeat="altItem in altBomItem.alternatives | orderBy: altItem.header.id">
        <table class="table table-bordered table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Group</th>
              <th>Type</th>
              <th>Manufacturer</th>
              <th>Part #</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{altItem.header.id}}</td>
              <td>{{altItem.part.partType.name}}</td>
              <td>{{altItem.part.manufacturer.name}}</td>
              <td>{{altItem.part.manufacturerPartNumber}}</td>
              <td>
                <a ng-href="#/part/{{bomItem.child.partType.typeName}}/{{bomItem.child.id}}"
                   authorize="ROLE_READ" class="btn btn-primary btn-xs">
                  <i class="fa fa-eye"></i> View Part
                </a>

                <a ng-click="remove($index, bomItem)"
                   authorize="ROLE_BOM" class="btn btn-danger btn-xs">
                  <i class="fa fa-trash-o"></i> Remove
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-hide="altBomItem.alternatives">
        No alternate specified.
      </div>
  </div>

</div>
