<div id="dlgFileNotSelected" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>There is no any selected file for download.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="dlgDeleteLegend" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete this image with legend?</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to remove this image from these critical dimensions?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="deleteLegend()">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div id="dlgUploadLegend" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Upload JPG Image</h3>
      </div>
      <div class="modal-body">
        <form>
          <input id="cd-file" type="file" name="file" onchange="angular.element(this).scope().onSelectLegendImage(this.files)"/>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cd-dlg-upload-btn-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="cd-dlg-upload-btn-upload" type="button" class="btn btn-primary" data-ng-click="uploadLegend()" data-ng-disabled="legendImage === null || legendImage === undefined">Upload</button>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-bottom:15px;">
  <div class="col-xs-12">
    <div class="row text-right">
      <a id="cd-ctrl-toggle-legend" onclick="$('#legend').collapse('toggle')" class="col-xs-12" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="legend">Toggle Legend</a>
    </div>
    <div id="legend" class="row collapse">
      <div class="col-xs-12">
        <div class="row" style="padding: 10px 0;">
          <div class="col-xs-12">
            <button id="cd-bttn-add-replcace-image" authorize="ROLE_PART_IMAGES" class="btn btn-primary pull-right" data-toggle="modal" data-target="#dlgUploadLegend">
              <i class="fa fa-plus"></i>
              Add/Replace Image...
            </button>
          </div>
        </div>
        <div class="row">
          <div data-ng-class="['col-xs-12', {'clicked-row': part.legendImgFilename}]">
            <img id="cd-legend-image" src="{{::METADATA_BASE}}image/{{::part.id}}/cdlegend/{{part.legendImgFilename}}" class="center-block" data-ng-show="part.legendImgFilename" data-ng-click="showDeleteLegendDlg()" />
            <div id="cd-legend-noimage" class="no-image" data-ng-hide="part.legendImgFilename"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form name="filterForm" class="form-horizontal" novalidate>
  <div class="form-group">
    <div class="col-xs-2">
      <div class="checkbox">
        <label>
          <input id="cd-ctrl-hide-blank" type="checkbox" data-ng-model="opts.hideBlank" data-ng-disabled="isEditing()" />Hide&nbsp;blank
        </label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="checkbox">
        <label>
          <input id="cd-ctrl-inline-layout" type="checkbox" data-ng-model="opts.inlineLayout" data-ng-disabled="isEditing()" />Inline&nbsp;layout
        </label>
      </div>
    </div>
    <div class="col-xs-7">
      <input id="cd-inpt-filter" type="text" class="form-control" data-ng-model="opts.filter" data-ng-model-options="{debounce:300}" data-ng-trim="true" placeholder="Filter" data-ng-disabled="isEditing()" />
    </div>
  </div>
  <hr/>
</form>

<form name="cdForm" class="form-horizontal" novalidate>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="pull-right">
        <button id="cd-bttn-modify-all" data-ng-click="modifyStartAll()" data-ng-hide="isEditing()" data-ng-disabled="toDisplay.length === 0" authorize="ROLE_ALTER_PART" class="btn btn-primary">
          <i class="fa fa-cog"></i> Modify All
        </button>
        <button id="cd-bttn-save-all" data-ng-click="modifySaveAll()" data-ng-show="isEditing()" authorize="ROLE_ALTER_PART" class="btn btn-success data-ng-hide" data-ng-disabled="cdForm.$pristine || cdForm.$invalid || cdForm.$pending">
          <i class="fa fa-save"></i> Save All
        </button>
        <button id="cd-bttn-undo-all" data-ng-click="modifyUndoAll()" data-ng-show="isEditing()" data-ng-disabled="cdForm.$pristine || cdForm.$pending" class="btn btn-warning data-ng-hide">
          <i class="fa fa-undo"></i> Undo All
        </button>
        <button id="cd-bttn-cancel-all" data-ng-click="modifyCancelAll()" data-ng-show="isEditing()" class="btn btn-warning">
          <i class="fa fa-minus-circle"></i> Cancel All
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <table id="cd-table" class="table table-striped table-condensed critical-dimensions">
        <tr data-ng-repeat="d in toDisplay">
          <td style="width:30%;" class="text-uppercase">{{d.displayName}}</td>
          <td data-ng-class="{'bg-danger': d.invalidDisplayValue}">
            <span data-ng-hide="isModifying(d)">{{d.displayValue}}</span>
            <div data-ng-show="isModifying(d)" data-ng-if="::!d.invalidDisplayValue">
              <select name="{{::d.jsonName}}" data-ng-if="d.selectOptions" data-ng-options="item.val for item in d.selectOptions track by item.id" data-ng-model="editedPart[d.jsonName]">
                <option value="" data-ng-if="::d.valueDescriptor.nullAllowed">{{::d.valueDescriptor.nullDisplay}}</option>
              </select>
              <input
                name="{{::d.jsonName}}" type="{{::d.inputType}}"
                title="{{errors[d.jsonName]}}"
                data-ng-if="::!d.selectOptions" data-ng-model="editedPart[d.jsonName]"
                data-ng-required="::!d.valueDescriptor.nullAllowed"
                data-ng-max="::d.valueDescriptor.maxVal"
                data-ng-pattern="::d.valueDescriptor.regex"
                critical-dimension-validator="d.valueDescriptor"
                data-ng-trim="true" />
              <div data-ng-if="d.bothToleranceJsonName" class="tolerance">&plusmn;
                <input
                  name="{{::d.bothToleranceJsonName}}" type="{{::d.bothToleranceInputType}}"
                  title="{{errors[d.bothToleranceJsonName]}}"
                  data-ng-if="d.bothToleranceJsonName"
                  data-ng-model="editedPart[d.bothToleranceJsonName]"
                  data-ng-required="::!d.bothToleranceDescriptor.nullAllowed"
                  data-ng-max="::d.bothToleranceDescriptor.maxVal"
                  data-ng-pattern="::d.bothToleranceDescriptor.regex"
                  critical-dimension-validator="d.bothToleranceDescriptor"
                  data-ng-trim="true" />
              </div>

              <div data-ng-if="d.lowerToleranceJsonName" class="tolerance">&#8595;
                <input
                  name="{{::d.lowerToleranceJsonName}}" type="{{::d.lowerToleranceInputType}}"
                  title="{{errors[d.lowerToleranceJsonName]}}"
                  data-ng-if="d.lowerToleranceJsonName"
                  data-ng-model="editedPart[d.lowerToleranceJsonName]"
                  data-ng-required="::!d.lowerToleranceDescriptor.nullAllowed"
                  data-ng-max="::d.lowerToleranceDescriptor.maxVal"
                  data-ng-pattern="::d.lowerToleranceDescriptor.regex"
                  critical-dimension-validator="d.lowerToleranceDescriptor"
                  data-ng-trim="true" />
              </div>

              <div data-ng-if="d.upperToleranceJsonName" class="tolerance">&#8593;
                <input
                  name="{{::d.upperToleranceJsonName}}" type="{{::d.upperToleranceInputType}}"
                  title="{{errors[d.upperToleranceJsonName]}}"
                  data-ng-if="d.upperToleranceJsonName"
                  data-ng-model="editedPart[d.upperToleranceJsonName]"
                  data-ng-required="::!d.upperToleranceDescriptor.nullAllowed"
                  data-ng-max="::d.upperToleranceDescriptor.maxVal"
                  data-ng-pattern="::d.upperToleranceDescriptor.regex"
                  critical-dimension-validator="d.upperToleranceDescriptor"
                  data-ng-trim="true" />
              </div>

              <div data-ng-if="d.otherToleranceJsonName" class="tolerance">&nbsp;//&nbsp;
                <select name="{{::d.otherToleranceJsonName}}" data-ng-if="d.otherToleranceDescriptor.selectOptions" data-ng-options="item.val for item in d.otherToleranceDescriptor.selectOptions track by item.id" data-ng-model="editedPart[d.otherToleranceJsonName]">
                  <option value="" data-ng-if="::d.otherToleranceDescriptor.nullAllowed">{{::d.otherToleranceDescriptor.nullDisplay}}</option>
                </select>
                <input
                  name="{{::d.otherToleranceJsonName}}" type="{{::d.upperToleranceInputType}}"
                  title="{{errors[d.otherToleranceJsonName]}}"
                  data-ng-if="::!d.otherToleranceDescriptor.selectOptions"
                  data-ng-model="editedPart[d.otherToleranceJsonName]"
                  data-ng-required="::!d.otherToleranceDescriptor.nullAllowed"
                  data-ng-max="::d.otherToleranceDescriptor.maxVal"
                  data-ng-pattern="::d.otherToleranceDescriptor.regex"
                  critical-dimension-validator="d.otherToleranceDescriptor"
                  data-ng-trim="true" />
              </div>

            </div>
          </td>
          <td class="text-right">
            <button tabindex="-1" data-ng-click="modifyStart(d)" authorize="ROLE_ALTER_PART" data-ng-hide="isModifying(d)" data-ng-disabled="{{::d.invalidDisplayValue}}" class="btn btn-primary btn-xs">
              <i class="fa fa-cog"></i> Modify
            </button>
            <button tabindex="-1" data-ng-click="modifyUndo(d)" data-ng-show="isModifying(d)" data-ng-disabled="cdForm.$pristine || cdForm.$pending" class="btn btn-warning btn-xs data-ng-hide">
              <i class="fa fa-undo"></i> Undo
            </button>
            <button tabindex="-1" data-ng-click="modifyCancel(d)" data-ng-show="isModifying(d)" class="btn btn-warning btn-xs">
              <i class="fa fa-minus-circle"></i> Cancel
            </button>
          </td>
        </tr>
        <tr data-ng-hide="toDisplay.length > 0">
          <td colspan="3">No rows to display.</td>
        </tr>
      </table>
    </div>
  </div>

</form>
