<table data-ng-table="interchangeablePartsTableParams" class="table table-bordered table-striped table-hover table-responsive">
  <tbody>
    <tr data-ng-repeat="item in $data">
      <td title="'Part Type'" data-sortable="'partType.name'">{{item.partType.name}}</td>
      <td title="'Manufacturer'" data-sortable="'manufacturer.name'">{{item.manufacturer.name}}</td>
      <td title="'Part #'" class="text-nowrap" data-sortable="'partNumber'">
        <a data-ng-href="/part/{{item.partId}}">{{item.partNumber}}</a>
      </td>
    </tr>
    <tr data-ng-hide="$data.length > 0">
      <td colspan="3">No interchangeable parts to display.</td>
    </tr>
  </tbody>
</table>
