<div class="navbar navbar-btn" role="navigation">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li authorize="ROLE_READ">
        <a ng-href="#/part/list" class="btn btn-primary">
          <i class="fa fa-home"></i>
          Part List
        </a>
      </li>

      <li authorize="ROLE_ADMIN" class="dropdown">
        <a class="dropdown-toggle btn btn-warning" data-toggle="dropdown">
          <i class="fa fa-th"></i>
          Admin
          <i class="fa fa-caret-down"></i>
        </a>

        <ul class="dropdown-menu">
          <li><a ng-href="#/security/users/"><i class="fa fa-user"></i> Users</a></li>
          <li><a ng-href="#/security/groups/"><i class="fa fa-group"></i> Groups</a></li>

          <li class="divider"></li>

          <li><a ng-click="rebuildBomAncestry()"><i class="fa fa-refresh"></i> Rebuild BOM Ancestry</a></li>
          <li><a ng-click="reindexSearch()"><i class="fa fa-refresh"></i> Reindex Search</a></li>

          <li class="divider"></li>

          <li><a ng-click="clearHibernate()"><i class="fa fa-trash-o"></i> Clear Hibernate Cache</a></li>
        </ul>
      </li>
      <li>
        <a ng-href="#/security/me" class="navbar-right btn btn-default">
          <i class="fa fa-smile-o"></i>
          My Account
        </a>
      </li>

      <li>
        <a ng-click="User.logout()" class="navbar-right btn btn-default">
          <i class="fa fa-sign-out"></i>
          Logout {{User.user.name}}
        </a>
      </li>
    </ul>
    <hr/>

    <ul class="nav nav-pills" ng-transclude>
      <!-- Transcluded li -->
    </ul>
    <hr/>
  </div>
</div>
