<div class="row">

    <!-- Search by input or facet select options -->
    <div class="col-xs-12 col-sm-3">
        <form class="" role="form" id="facet-pickers">
            <div class="form-group">
                <label for="search" class="sr-only control-label">Search</label>
                <input class="form-control" id="search" type="text" ng-model="search.queryString" placeholder="Search..."/>
            </div>
            <div class="form-group">
                <label for="part-type-picker" class="facet-header control-label">Part Type</label>
                <picker ng-model="search.partType" path="type/part" id="part-type-picker"/>
            </div>
            <div class="form-group">
                <label for="manufacturer-picker" class="facet-header control-label">Manufacturer</label>
                <picker ng-model="search.manufacturer" path="other/manufacturer" id="manufacturer-picker"/>
            </div>
            <div class="form-group">
                <label for="kit-type-picker" class="facet-header control-label">Kit Type</label>
                <picker ng-model="search.kitType" path="type/kit" id="kit-type-picker"/>
            </div>
            <div class="form-group">
                <label for="gasket-type-picker" class="facet-header control-label">Gasket Type</label>
                <picker ng-model="search.gasketType" path="type/gasket" id="gasket-type-picker"/>
            </div>
            <div class="form-group">
                <label for="seal-type-picker" class="facet-header control-label">Seal Type</label>
                <picker ng-model="search.sealType" path="type/seal" id="seal-type-picker"/>
            </div>
            <div class="form-group">
                <label for="coolant-type-picker" class="facet-header control-label">Coolant Type</label>
                <picker ng-model="search.coolantType" path="type/cool" id="coolant-type-picker"/>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="turbo-type-picker" class="facet-header control-label">Turbo Type</label>-->
                <!--<picker ng-model="search.turboType" path="type/turbo" id="turbo-type-picker"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="turbo-model-picker" class="facet-header control-label">Turbo Model</label>-->
                <!--<picker ng-model="search.turboModel" path="type/turbo" id="turbo-model-picker"/>-->
            <!--</div>-->
        </form>
    </div>

    <!-- Tabular search results -->
    <div class="col-xs-12 col-sm-9">
        <table data-ng-table="partTableParams" class="table table-bordered table-striped table-hover table-responsive">
            <tr data-ng-repeat="part in $data">
                <td title="'Part Type'" sortable="'partType.name'">
                    {{part._source.partType.name}}
                </td>
                <td title="'Manufacturer'" sortable="'manufacturer.name'">
                    {{part._source.manufacturer.name}}
                </td>
                <td title="'Mfr Part #'" sortable="'manufacturerPartNumber'">
                    {{part._source.manufacturerPartNumber}}
                </td>
                <td title="'Name'" sortable="'name'">
                    {{part._source.name}}
                </td>
                <td class="actions text-center" title="'Actions'" part-search-actions="{partId: part._source.id, partType: part._source.partType.typeName}"></td>
            </tr>
        </table>
    </div>
</div>
