<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Part Type</th>
      <th>Manufacturer</th>
      <th>Part #</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in parts">
      <td>
        {{getPart(item).partType.name}}
      </td>
      <td>
        {{getPart(item).manufacturer.name}}
      </td>
      <td style="white-space: nowrap;">
        {{getPart(item).manufacturerPartNumber}}
      </td>
      <td part-table-actions>
        <a authorize="ROLE_READ"
           ng-href="/part/{{getPart(item).id}}"
           class="btn btn-primary btn-xs">
          <i class="fa fa-eye"></i>
          View
        </a>
      </td>
    </tr>
    <tr ng-hide="parts">
      <td colspan="4">No parts to display.</td>
    </tr>
  </tbody>
</table>
