<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Engine</th>
    <th>Fuel Type</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in applications">
    <td>{{item.carModelEngineYear.year.name}}</td>
    <td>{{item.carModelEngineYear.model.make.name}}</td>
    <td>{{item.carModelEngineYear.model.name}}</td>
    <td>{{item.carModelEngineYear.engine.engineSize}}</td>
    <td>{{item.carModelEngineYear.engine.fuelType.name}}</td>
    <td>
      <a authorize="ROLE_READ"
         ng-href="/application/carmodelengineyear/{{item.carModelEngineYear.id}}"
         class="btn btn-primary btn-xs">
        <i class="fa fa-eye"></i>
        View
      </a>
      <button ng-click="remove($index)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-danger btn-xs">
        <i class="fa fa-trash-o"></i> Remove
      </button>
    </td>
  </tr>
  <tr ng-hide="applications">
    <td colspan="6">No applications to display.</td>
  </tr>
  </tbody>
</table>
