<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Type</th>
      <th>Part #</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="part in getParts()">
      <td>
        {{part.manufacturer.name}}
      </td>
      <td>
        {{part.partType.name}}
      </td>
      <td style="white-space: nowrap;">
        {{part.manufacturerPartNumber}}
      </td>
      <td>
        <a authorize="ROLE_READ"
           ng-href="#/part/{{part.partType.typeName}}/{{part.id}}"
           class="btn btn-primary btn-xs">
          <i class="fa fa-eye"></i>
          View
        </a>
      </td>
    </tr>
    <tr ng-hide="parts">
      <td colspan="4">No parts to display.</td>
    </tr>
  </tbody>
</table>
