<dl class="dl-horizontal">
  <dt>Manufacturer</dt>
  <dd>
    {{part.manufacturer.name}}
    <span data-ng-show="part.manufacturer.name == null || part.manufacturer.name == ''">[blank]</span>
  </dd>

  <dt>Part Type</dt>
  <dd>
    {{part.partType.name}}
  </dd>

  <dt>Part Number</dt>
  <dd>
    {{part.manufacturerPartNumber}}
    <span data-ng-show="part.manufacturerPartNumber == null || part.manufacturerPartNumber == ''">[blank]</span>
  </dd>

  <dt>Name</dt>
  <dd>
    {{part.name}}
    <span data-ng-show="part.name == null || part.name == ''">[blank]</span>
  </dd>
</dl>
