<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Part Type</th>
      <th>Manufacturer</th>
      <th>Part #</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in parts track by item.id">
      <td>
        {{::getPart(item).partType.name}}
      </td>
      <td>
        {{::getPart(item).manufacturer.name}}
      </td>
      <td style="white-space: nowrap;">
        <a href="#" data-ng-href="/part/{{::getPart(item).id}}" target="_blank">{{::getPart(item).manufacturerPartNumber}}</a>
      </td>
      <td class="actions" part-table-actions>
        <a authorize="ROLE_READ"
           data-ng-href="/part/{{getPart(item).id}}"
           class="btn btn-primary btn-xs">
          <i class="fa fa-eye"></i>
          View
        </a>
      </td>
    </tr>
    <tr data-ng-hide="hasParts()">
      <td colspan="4">No parts to display.</td>
    </tr>
  </tbody>
</table>
