<div class="row">

    <!-- Search by input or facet select options -->
    <div class="col-xs-12 col-sm-3">
        <form class="" role="form" id="facet-pickers">
            <div class="form-group">
                <label for="search" class="sr-only control-label">Part Number</label>
                <input class="form-control" id="search" type="text" ng-model="search.partNumber" placeholder="Part number..."/>
            </div>
            <search-facets search="search" results="searchResults"></search-facets>
        </form>
    </div>

    <!-- Tabular search results -->
    <div class="col-xs-12 col-sm-9">
        <table data-ng-table="partTableParams" class="table table-bordered table-striped table-hover table-responsive">
            <tr data-ng-repeat="part in $data">
                <td title="'Part Type'" sortable="'partType.name'">
                    {{part._source.partType.name}}
                </td>
                <td title="'Manufacturer'" sortable="'manufacturer.name'">
                    {{part._source.manufacturer.name}}
                </td>
                <td title="'Mfr Part #'" sortable="'manufacturerPartNumber'">
                    {{part._source.manufacturerPartNumber}}
                </td>
                <td title="'Name'" sortable="'name'">
                    {{part._source.name}}
                </td>
                <td class="actions text-center" title="'Actions'" part-search-actions></td>
            </tr>
        </table>
    </div>
</div>
