<div>
    <input type="text" ng-model="search.queryString" placeholder="Search..."/>
    <table border="1">
        <tr valign="top">
            <td>
                <search-facets>

                </search-facets>
            </td>
            <td>
                <table data-ng-table="partTableParams" class="table table-bordered table-striped">
                    <tr data-ng-repeat="part in $data">
                        <td title="'ID'">{{part._source._id}}</td>
                        <td title="'Part Type'">{{part._source.part_type}}</td>
                        <td title="'Manufacturer'">{{part._source.manufacturer_name}}</td>
                        <td title="'Mfr Part #'">{{part._source.manufacturer_part_number}}</td>
                        <td title="'Name'">{{part._source.name}}</td>
                        <td title="'Actions'">
                            <span ng-repeat="action in actionList">
                                <button data-ng-click="onAction({action: action, partId: part._source._id, partType: part._source.part_type})" class="button">{{action}}</button>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
