<div class="picker row">
  <div class="col-xs-11">
    <select data-ng-model="selection.id"
            data-ng-options="item.id as item.name for item in items | orderBy:'name'"
            data-ng-disabled="items == null"
            data-ng-required="required"
            placeholder="Choose..." class="form-control input-sm"></select>
  </div>
  <div class="col-xs-1">
    <button data-ng-click="selection.id='0'" data-ng-disabled="!selection.id" class="btn btn-link btn-sm">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
