<div class="navbar navbar-btn" role="navigation">
  <ul class="nav nav-pills">
    <li>
      <a id="bttn-subnav-modelengineyear" class="btn btn-info" data-ng-disabled="item == 'modelengineyear'" data-ng-href="/application/carmodelengineyear/list">
        <i class="fa fa-sitemap"></i>
        Model Engine Year
      </a>
    </li>
    <li>
      <a id="bttn-subnav-make" class="btn btn-info" data-ng-disabled="item == 'make'" data-ng-href="/application/carmake/list">
        <i class="fa fa-book"></i>
        Make
      </a>
    </li>
    <li>
      <a id="bttn-subnave-model" class="btn btn-info" data-ng-disabled="item == 'model'" data-ng-href="/application/carmodel/list">
        <i class="fa fa-book"></i>
        Model
      </a>
    </li>
    <li>
      <a id="bttn-subnav-engine" class="btn btn-info" data-ng-disabled="item == 'engine'" data-ng-href="/application/carengine/list">
        <i class="fa fa-book"></i>
        Engine
      </a>
    </li>
    <li>
      <a id="bttn-subnav-fueltype" class="btn btn-info" data-ng-disabled="item == 'fueltype'" data-ng-href="/application/carfueltype/list">
        <i class="fa fa-book"></i>
        Fuel Type
      </a>
    </li>
  </ul>
  <hr/>
  <ul class="nav nav-pills" data-ng-transclude> <!-- Transcluded li --> </ul>
</div>
