<table data-ng-table="turboTypesTableParams" class="table table-bordered table-striped table-hover table-responsive">
  <tbody>
    <tr ng-repeat="turboType in $data">
      <td title="'Manufacturer'" data-sortable="'manufacturer.name'">{{turboType.manufacturer.name}}</td>
      <td title="'Type'" data-sortable="'name'">{{turboType.name}}</td>
      <td title="'Actions'">
        <a ng-click="removeTurboType(turboType)"
           class="btn btn-xs btn-danger">
          <i class="fa fa-trash-o"></i>
          Remove
        </a>
      </td>
    </tr>
    <tr ng-hide="$data.length > 0">
      <td colspan="3">No extra turbo types.</td>
    </tr>
  </tbody>
</table>
