<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TI Metadata</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-favicon.png"/>

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/ng-table.css">
    <link rel="stylesheet" href="css/gToast.css">
    <link rel="stylesheet" href="css/dialogs.css">
    <!-- endbuild -->
</head>
<body data-ng-app="mockApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
    browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="/js/es5-shim.js"></script>
<script src="/js/json3.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container" data-ng-controller="indexCtrl">
  <part-search><a href="#" data-ng-click="pickRecord()">Click Me</a></part-search>

  <hr/>

  <button type="button" class="btn btn-primary" data-ng-click="onOpenChangelogDetails()">Open changelog dialog</button>

</div>

<script src="js/jquery-2.2.0.js"></script>
<script src="js/angular.js"></script>

<script src="js/dialogs.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/ui-bootstrap.js"></script>
<script src="js/ui-bootstrap-tpls.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/gToast.js"></script>
<script src="js/ng-table.js"></script>
<script src="js/underscore.js"></script>
<script src="js/restangular.js"></script>

<script src="js/script.js"></script>

</body>
</html>
