<div class="container" ng-controller="PartInterchangeSearchCtrl">
    <h1>{{ partType }} #{{ partId }} Interchanges</h1>
    <h3>Interchangeable Parts Group #:
        <span ng-show="interchangeNewId != null">{{interchangeNewId}}</span>
        <span ng-show="interchangeNewId == null && interchangePartId == null">[none]</span>
        <span ng-show="interchangeNewId == null && interchangePartId != null">[new]</span>

        <!-- Buttons -->
        <span ng-show="interchangeNewId != null || interchangePartId != null"> (<a href="javascript:;" ng-click="clear()">clear</a>)</span>
        <span ng-show="isChanged()"> (<a href="javascript:;" ng-click="undo()">undo</a>)</span>
    </h3>

    <p>Choose an interchangeable part below.</p>

    <part-search partType="partType"></part-search>
</div>
