<metanav>
  <li authorize="ROLE_READ">
    <a ng-href="#/part/{{ part.partType.typeName }}/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a authorize="ROLE_INTERCHANGE"
       ng-click="clear()"
       ng-disabled="!canClear()"
       class="btn btn-danger">
      <i class="fa fa-trash-o"></i>
      Remove Interchange
    </a>
  </li>

  <li>
    <a authorize="ROLE_INTERCHANGE"
       ng-click="save(partId)"
       ng-disabled="!canSave()"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Save
    </a>
  </li>
</metanav>

<h1 class="padding-top">[{{part.id}}] {{part.manufacturer.name}} {{part.partType.name}} <span style="white-space: nowrap;">{{part.manufacturerPartNumber}}</span></h1>

<div class="row">

  <div class="col-xs-12">
    <h2>Current Interchangeable Parts</h2>
    <table class="table table-bordered table-striped table-hover table-responsive" ng-show="part.interchange.parts">
      <thead>
      <tr>
        <th>Manufacturer</th>
        <th>Type</th>
        <th>Part #</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tr ng-repeat="iPart in part.interchange.parts">
        <td>
          {{iPart.manufacturer.name}}
        </td>
        <td>
          {{iPart.partType.name}}
        </td>
        <td style="white-space: nowrap;">
          {{iPart.manufacturerPartNumber}}
        </td>
        <td>
          <a authorize="ROLE_READ"
             ng-href="#/part/{{iPart.partType.typeName}}/{{iPart.id}}"
             class="btn btn-primary btn-xs">
            <i class="fa fa-eye"></i>
            View
          </a>
        </td>
      </tr>
    </table>
    <div ng-hide="part.interchange.parts">
      No interchangeable parts.
    </div>
  </div>

</div>

<hr/>

<div class="row">

  <!-- Picked Part -->
  <div class="col-xs-6">
    <h2>Picked Part</h2>
    <dl class="dl-horizontal" ng-show="pickedPart">
      <dt>Manufacturer</dt>
      <dd>
        {{pickedPart.manufacturer.name}}
        <span ng-show="pickedPart.manufacturer.name == null || pickedPart.manufacturer.name == ''">[blank]</span>
      </dd>

      <dt>Part Type</dt>
      <dd>
        {{pickedPart.partType.name}}
      </dd>

      <dt>Manufacturer Part Number</dt>
      <dd>
        {{pickedPart.manufacturerPartNumber}}
        <span ng-show="pickedPart.manufacturerPartNumber == null || pickedPart.manufacturerPartNumber == ''">[blank]</span>
      </dd>

      <dt>Name</dt>
      <dd>
        {{pickedPart.name}}
        <span ng-show="pickedPart.name == null || pickedPart.name == ''">[blank]</span>
      </dd>
    </dl>

    <div class="alert alert-success" ng-hide="pickedPart">
      Pick an interchangeable part.
    </div>

    <div class="alert alert-warning" ng-show="part.interchange && part.interchange.id === pickedPart.interchange.id">
      Picked part is already interchangeable with this one.
    </div>

    <div class="alert alert-danger" ng-show="part.id === pickedPart.id">
      Can't pick the same part.
    </div>
  </div>

  <!-- Picked Part Interchanges -->
  <div class="row">

    <div class="col-xs-6">
      <h2>Picked Interchangeable Parts</h2>
      <table class="table table-bordered table-striped table-hover table-responsive" ng-show="pickedPart.interchange.parts">
        <thead>
        <tr>
          <th>Manufacturer</th>
          <th>Type</th>
          <th>Part #</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tr ng-repeat="iPart in pickedPart.interchange.parts">
          <td>
            {{iPart.manufacturer.name}}
          </td>
          <td>
            {{iPart.partType.name}}
          </td>
          <td style="white-space: nowrap;">
            {{iPart.manufacturerPartNumber}}
          </td>
          <td>
            <a authorize="ROLE_READ"
               ng-href="#/part/{{iPart.partType.typeName}}/{{iPart.id}}"
               class="btn btn-primary btn-xs">
              <i class="fa fa-eye"></i>
              View
            </a>
          </td>
        </tr>
      </table>
      <div ng-hide="pickedPart.interchange.parts">
        No interchangeable parts
      </div>
    </div>
  </div>
</div>

<hr/>


<h1>Pick Interchangeable Part</h1>
<part-search>

  <a authorize="ROLE_READ"
     ng-href="#/part/{{partType}}/{{partId}}"
     class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a authorize="ROLE_INTERCHANGE"
     ng-click="pick(partId)"
     class="btn btn-success btn-xs">
    <i class="fa fa-bullseye"></i>
    Pick
  </a>

</part-search>
