<div class="row">
  <div class="btn-group">
    <a data-ng-href="#/part"
       class="btn btn-default">
      <i class="fa fa-bars"></i>
      Part List
    </a>

    <a authorize="ROLE_READ"
       ng-href="#/part/{{ part.partType.typeName }}/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>


    <a authorize="ROLE_ALTER_PART"
       data-ng-href="#/part/{{ partType }}/{{ partId }}/form"
       class="btn btn-primary">
      <i class="fa fa-cog"></i>
      Edit Part
    </a>

    <a authorize="ROLE_INTERCHANGE"
       ng-click="clear()"
       ng-disabled="!canClear()"
       class="btn btn-danger">
      <i class="fa fa-trash-o"></i>
      Remove From Interchange
    </a>

  </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- Part Summary -->

        <h1 class="padding-top">Pick Interchangeable Part for {{ partType }} #{{ partId }}</h1>
        <dl class="dl-horizontal">
            <dt>Manufacturer</dt>
            <dd>
                {{part.manufacturer.name}}
                <span ng-show="part.manufacturer.name == null || part.manufacturer.name == ''">[blank]</span>
            </dd>

            <dt>Mfr. Part #</dt>
            <dd>
                {{part.manufacturerPartNumber}}
                <span ng-show="part.manufacturerPartNumber == null || part.manufacturerPartNumber == ''">[blank]</span>
            </dd>
        </dl>
        <p>Find and pick an part below to set the interchangeable part group.</p>
    </div>
</div>
<part-search>

  <a authorize="ROLE_READ"
     ng-href="#/part/{{partType}}/{{partId}}"
     class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i>
    View Part
  </a>

  <a authorize="ROLE_INTERCHANGE"
     ng-click="pick(partId)"
     class="btn btn-success btn-xs">
    <i class="fa fa-bullseye"></i>
    Pick Part
  </a>

</part-search>
