<metanav>
  <li authorize="ROLE_READ">
    <button data-ng-click="go('/part/' + partId)"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </button>
  </li>

  <li authorize="ROLE_INTERCHANGE">
    <button data-ng-click="removeInterchange()"
       data-ng-disabled="!canClear() || restService.status.bomRebuilding"
       class="btn btn-danger">
      <i class="fa fa-trash-o"></i>
      Remove Interchange
    </button>
  </li>

  <li authorize="ROLE_INTERCHANGE">
    <button data-ng-click="save(partId)"
       data-ng-disabled="!canSave() || restService.status.bomRebuilding"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Save
    </button>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Interchanges"></h1>

<div class="row">

  <!-- Current Interchanges -->
  <div class="col-xs-6">
    <h3>Current Interchanges</h3>
    <interchangeable-parts part="part"></interchangeable-parts>
  </div>

  <!-- Picked Part -->
  <div class="col-xs-6">
    <h3>Picked Part</h3>
    <part-summary part="pickedPart" data-ng-show="pickedPart"></part-summary>
    <div class="alert alert-success" data-ng-hide="pickedPart">
      Pick an interchangeable part.
    </div>

    <div class="alert alert-warning" data-ng-show="part.interchange && part.interchange.id === pickedPart.interchange.id">
      Picked part is already interchangeable with this one.
    </div>

    <div class="alert alert-danger" data-ng-show="part.id === pickedPart.id">
      Can't pick the same part.
    </div>

    <div class="row">
      <div class="col-xs-12" data-ng-show="pickedPart">
        <h3>Picked Part Interchanges</h3>
        <interchangeable-parts part="pickedPart"></interchangeable-parts>
      </div>
    </div>
    
  </div>

</div>

<hr/>

<part-search class="well well-lg">
  <a authorize="ROLE_READ" href="/part/{{$part._source.id}}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> View</a>
  <a authorize="ROLE_INTERCHANGE" data-ng-click="pick($part._source.id)" class="btn btn-success btn-xs"><i class="fa fa-bullseye"></i> Pick</a>
</part-search>
