<metanav />

<subnav authorize="ROLE_APPLICATION_CRUD" item="fueltype">

  <li>
    <a class="btn btn-success" data-ng-href="/application/carfueltype/form">
      <i class="fa fa-wrench"></i>
      Create Fuel Type
    </a>
  </li>


</subnav>

<h1>Fuel Type List</h1>

<carfueltype-search class="well well-lg">

  <button data-ng-click="modifyStart(rec._source, carfueltypeForm)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-warning btn-xs" data-ng-hide="isModifying(rec._source)">
    <i class="fa fa-cog"></i> Modify
  </button>
  <button data-ng-click="remove(rec._source.id, rec._source.name)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-danger btn-xs" data-ng-hide="isModifying(rec._source)">
    <i class="fa fa-trash-o"></i> Remove
  </button>
  <button data-ng-click="modifySave(rec._source, carfueltypeForm)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-success btn-xs data-ng-hide" data-ng-show="isModifying(rec._source)"  data-ng-disabled="carfueltypeForm.$pristine || carfueltypeForm.$invalid || carfueltypeForm.$pending">
    <i class="fa fa-save"></i> Save
  </button>
  <button data-ng-click="modifyCancel(rec._source, carfueltypeForm)" class="btn btn-warning btn-xs data-ng-hide" data-ng-show="isModifying(rec._source)">
    <i class="fa fa-minus-circle"></i> Cancel
  </button>

</carfueltype-search>
