<metanav>
  <li>
    <a ng-href="/part/{{partId}}" class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a ng-click="save()"
       ng-disabled="pickedApplication == null"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Add Application
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Add Application"></h1>

<div class="row">

  <div class="col-xs-6">
    <h3>Existing Applications</h3>
    <part-application-table />
  </div>

  <div class="col-xs-6">
    <h3>Picked Applications</h3>
    <carmodelengineyear-summary item="pickedApplication"  ng-show="pickedApplication"/>
    <div ng-hide="pickedApplication" class="well well-sm">
      Pick an application to associate to part.
    </div>
  </div>

</div>

<hr/>

<application-search class="well well-lg">

  <a class="btn btn-primary btn-xs"
     ng-href="/application/carmodelengineyear/{{application._source.id}}">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a class="btn btn-success btn-xs"
    ng-click="pickApplication(application._source.id)">
      <i class="fa fa-bullseye"></i>
    Pick
  </a>

</application-search>
