<metanav>
  <li>
    <a ng-href="/part/{{partId}}" class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a ng-click="save()" class="btn btn-success">
      <i class="fa fa-save"></i>
      Add Application
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Add Application"></h1>

<div class="row">

  <div class="col-xs-6">
    <h3>Existing Applications</h3>
    <application-table-existing/>
  </div>

  <div class="col-xs-6">
    <h3>Picked Applications</h3>
    <application-table-picked/>
  </div>

</div>

<hr/>

<application-search class="well well-lg">

  <a class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a class="btn btn-success btn-xs">
      <i class="fa fa-bullseye"></i>
    Pick
  </a>

</application-search>
