<metanav>
  <li>
    <a ng-href="/part/{{partId}}" class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a ng-click="save()"
       ng-disabled="pickedApplications.length == 0"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Save Application(s)
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Add Applications"></h1>

<div class="row">

  <div class="col-xs-6">
    <h3>Existing Applications</h3>
    <part-application-table />
  </div>

  <div class="col-xs-6">
    <h3>Picked Applications</h3>
    <table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Engine</th>
      <th>Fuel Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in pickedApplications">
      <td>{{item.year.name}}</td>
      <td>{{item.model.make.name}}</td>
      <td>{{item.model.name}}</td>
      <td>{{item.engine.engineSize}}</td>
      <td>{{item.engine.fuelType.name}}</td>
      <td>
        <a class="btn btn-danger btn-xs" ng-click="unpickApplication($index, application._source.id)">
          <i class="fa fa-times"></i>
          Unpick
        </a>
      </td>
    </tr>
    <tr ng-hide="pickedApplications.length">
      <td colspan="6">Pick an application to associate to part.</td>
    </tr>
    </tbody>
    </table>
  </div>

</div>

<hr/>

<application-search class="well well-lg">

  <a class="btn btn-primary btn-xs"
     ng-href="/application/carmodelengineyear/{{application._source.id}}">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a class="btn btn-success btn-xs"
    ng-click="pickApplication(application._source)">
      <i class="fa fa-bullseye"></i>
    Pick
  </a>

</application-search>
