<metanav>
  <li>
    <a data-ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a data-ng-click="save()"
       data-ng-disabled="pickedPart == null"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Add Mapping
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Common Component Mapping Search"></h1>

<div class="row">

  <div class="col-xs-6">
    <h3>Kit Common Component Mappings</h3>
    <part-table parts="components" key="part"
                extra-columns="{&quot;Mapping&quot;: &quot;item.exclude ? 'Exclude' : 'Include'&quot;}"></part-table>
  </div>

  <!-- Picked Part -->
  <div class="col-xs-6">
    <h3>
      Picked Part
      <button id="mapping-input" data-ng-model="mapping.exclude" class="btn btn-sm btn-info pull-right" btn-checkbox>
        <span data-ng-show="mapping.exclude">Exclude</span>
        <span data-ng-hide="mapping.exclude">Include</span>
      </button>
    </h3>

    <part-summary part="pickedPart" data-ng-show="pickedPart"></part-summary>

    <div data-ng-hide="pickedPart" class="well well-sm">
      Pick a part.
    </div>
  </div>
</div>

<hr/>

<part-search class="well well-lg">

  <a authorize="ROLE_READ"
     data-ng-href="/part/{{$part._source.id}}"
     class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a authorize="ROLE_ALTER_PART"
     data-ng-click="pick($part._source.id)"
     class="btn btn-success btn-xs">
      <i class="fa fa-bullseye"></i>
    Pick
  </a>

</part-search>
