<metanav>
  <li authorize="ROLE_READ">
    <a data-ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>
</metanav>

<h2 class="padding-top" part-name="part" part-name-suffix="Ancestors"></h2>

<div class="row">

  <!-- Search by input or facet select options -->
  <div class="col-xs-12 col-sm-3">

    <button class="btn btn-warning btn-sm" data-ng-click="clearFilter()" style="margin-bottom: 3px;">
      <i class="fa fa-eraser" aria-hidden="true"></i> <span style="font-family:monospace;font-variant:small-caps;font-stretch:expanded;">RESET FILTER</span>
    </button>
    <div class="form-group">
      <label for="fltrPartNumber" class="sr-only control-label">Part Number</label>
      <input class="form-control input-sm" id="fltrPartNumber" name="fltrPartNumber" type="text" data-ng-model="fltrPart.partNumber" data-ng-model-options="{debounce: 200}" data-ng-keyup="$event.keyCode === 13 && onPressedEnter()" placeholder="Search part numbers" focus-me="true" autofocus />
    </div>

    <uib-accordion close-others="false">

      <uib-accordion-group heading="Basic attributes" is-open="fltrGroupState.basicAttrsOpened" class="panel-info">

        <div class="form-group">
          <label for="fltrState">State</label>
          <reset-bttn action="resetState()" />
          <select id="fltrState" name="fltrState" class="form-control input-sm" data-ng-options="itm.val as itm.name for itm in stateItems | orderBy: 'name'" data-ng-model="fltrPart.inactive">
            <option></option>
          </select>
        </div>
        <div class="form-group">
          <label for="fltrManufacturer">Manufacturer</label>
          <reset-bttn action="resetManufacturer()" />
          <select id="fltrManufacturer" name="fltrManufacturer" class="form-control input-sm" data-ng-options="itm.key as itm.key for itm in searchResults.aggregations['Manufacturer'] | orderBy: 'key'" data-ng-model="fltrPart.manufacturer">
            <option></option>
          </select>
        </div>
        <div class="form-group">
          <label for="fltrName">Name</label>
          <reset-bttn action="resetName()" />
          <input id="fltrName" name="fltrName" class="form-control input-sm" type="text" data-ng-model="fltrPart.name" placeholder="Name..." data-ng-model-options="{debounce: 500}" />
        </div>
        <div class="form-group">
          <label for="fltrInterchangeParts">Interchange Parts</label>
          <reset-bttn action="resetInterchangeParts()" />
          <input id="fltrInterchangeParts" name="fltrInterchangeParts" class="form-control input-sm" type="text" data-ng-model="fltrPart.interchangeParts" placeholder="Part Number..." data-ng-model-options="{debounce: 500}" />
        </div>
        <div class="form-group">
          <label for="fltrPartType">Type</label>
          <reset-bttn action="resetPartType()" />
          <select id="fltrPartType" name="fltrPartType" class="form-control input-sm" data-ng-options="pt.name for pt in partTypes track by pt.id" data-ng-model="fltrPart.partType">
             <option></option>
          </select>
        </div>
        <div class="form-group">
          <label for="fltrRelationType">Relation Type</label>
          <reset-bttn action="resetRelationType()" />
          <select id="fltrRelationType" name="fltrRelationType" class="form-control input-sm" data-ng-options="rt.name for rt in [{id: true, name: 'direct'}, {id: false, name: 'interchange'}] track by rt.id" data-ng-model="fltrPart.relationType">
            <option></option>
          </select>
        </div>
        <div class="form-group">
          <label for="fltrRelationDistance">Relation Distance</label>
          <reset-bttn action="resetRelationDistance()" />
          <input id="fltrRelationDistance" name="fltrRelationDistance" class="form-control input-sm" type="number" step="1" min="1" data-ng-model="fltrPart.relationDistance" placeholder="Distance..." data-ng-model-options="{debounce: 500}" />
        </div>

      </uib-accordion-group>

      <uib-accordion-group heading="Attributes for Application" is-open="fltrGroupState.appAttrsOpened" class="panel-info">

        <div class="form-group">
          <div angucomplete-alt id="fltrYear"
               placeholder="Search Year"
               minlength="0" maxlength="64" pause="300"
               search-fields="key"
               title-field="key"
               description-field="doc_count"
               input-class="form-control"
               match-class="highlight"
               text-no-results="Not found"
               input-changed="onCmeyYearChanged"
               selected-object="onCmeyYearSelected"
               local-data="searchResults.aggregations['Car Year'].buckets"></div>
        </div>

        <div class="form-group">
          <div angucomplete-alt id="fltrMake"
               placeholder="Search Make"
               minlength="0" maxlength="64" pause="300"
               search-fields="key"
               title-field="key"
               description-field="doc_count"
               input-class="form-control"
               match-class="highlight"
               text-no-results="Not found"
               input-changed="onCmeyMakeChanged"
               selected-object="onCmeyMakeSelected"
               local-data="searchResults.aggregations['Car Make'].buckets"></div>
        </div>

        <div class="form-group">
          <div angucomplete-alt id="fltrModel"
               placeholder="Search Model"
               minlength="0" maxlength="64" pause="300"
               search-fields="key"
               title-field="key"
               description-field="doc_count"
               input-class="form-control"
               match-class="highlight"
               text-no-results="Not found"
               input-changed="onCmeyModelChanged"
               selected-object="onCmeyModelSelected"
               local-data="searchResults.aggregations['Car Model'].buckets"></div>
        </div>

        <div class="form-group">
          <div angucomplete-alt id="fltrEngine"
               placeholder="Search Engine"
               minlength="0" maxlength="64" pause="300"
               search-fields="key"
               title-field="key"
               description-field="doc_count"
               input-class="form-control"
               match-class="highlight"
               text-no-results="Not found"
               input-changed="onCmeyEngineChanged"
               selected-object="onCmeyEngineSelected"
               local-data="searchResults.aggregations['Car Engine'].buckets"></div>
        </div>

        <div class="form-group">
          <div angucomplete-alt id="fltrFuelType"
               placeholder="Search Fuel Type"
               minlength="0" maxlength="64" pause="300"
               search-fields="key"
               title-field="key"
               description-field="doc_count"
               input-class="form-control"
               match-class="highlight"
               text-no-results="Not found"
               input-changed="onCmeyFuelTypeChanged"
               selected-object="onCmeyFuelTypeSelected"
               local-data="searchResults.aggregations['Car Fuel Type'].buckets"></div>
        </div>

      </uib-accordion-group>

      <uib-accordion-group heading="Attributes for Turbo" is-open="fltrGroupState.turboAttrsOpened" is-disabled="fltrPart.partType.id !== 1" class="panel-info">

        <div class="form-group">
          <div angucomplete-alt id="fltrTurboModel"
               placeholder="Search turbo models"
               disable-input="fltrPart.partType.id !== 1"
               minlength="0" maxlength="64" pause="300"
               search-fields="key"
               title-field="key"
               description-field="doc_count"
               input-class="form-control"
               match-class="highlight"
               text-no-results="Not found"
               input-changed="onTurboModelChanged"
               selected-object="onTurboModelSelected"
               local-data="searchResults.aggregations['Turbo Model'].buckets"></div>
        </div>

        <div class="form-group">
          <div angucomplete-alt id="fltrTurboType"
               placeholder="Search turbo types"
               disable-input="fltrPart.partType.id !== 1"
               minlength="0" maxlength="64" pause="300"
               search-fields="key"
               title-field="key"
               description-field="doc_count"
               input-class="form-control"
               match-class="highlight"
               text-no-results="Not found"
               input-changed="onTurboTypeChanged"
               selected-object="onTurboTypeSelected"
               local-data="searchResults.aggregations['Turbo Type'].buckets"></div>
        </div>

      </uib-accordion-group>

    </uib-accordion>

  </div>

  <div class="col-xs-12 col-sm-9">
    <table data-ng-table="partTableParams" class="table table-bordered table-striped table-hover table-expand">
      <tr data-ng-repeat="item in $data">
        <td title="'Part #'" class="text-left text-nowrap">
          <a authorize="ROLE_READ" data-ng-href="/part/{{item.part.partId}}">
            {{item.part.partNumber}}
          </a>
        </td>
        <td title="'Type'" class="text-center">{{item.part.partType.name}}</td>
        <td title="'Manufacturer'" class="text-left">{{item.part.manufacturer.name}}</td>
        <td title="'Name'" class="text-left">{{item.part.name}}</td>
        <td title="'Interchanges'" class="text-left">
          <interchanges parts="item.interchange.parts" />
        </td>
        <td title="'State'" class="text-center" data-ng-switch="item.part.inactive">
          <span data-ng-switch-when="true" class="text-danger">INACTIVE</span>
          <span data-ng-switch-when="false" class="text-success"><b>ACTIVE</b></span>
        </td>
        <td title="'Relation Type'" class="text-center" data-sortable="'relationType'" data-ng-switch="item.relationType">
          <span data-ng-switch-when="true">direct</span>
          <span data-ng-switch-when="false">interchange</span>
        </td>
        <td title="'Relation Distance'" data-sortable="'relationDistance'" class="text-right">
          {{item.relationDistance}}
        </td>
      </tr>
      <tr data-ng-hide="$data.length > 0">
        <td colspan="8">No parts to display.</td>
      </tr>
    </table>
    <table-summary rowscount="searchResults.ancestors.total" />
  </div>

</div>
