<metanav>
  <li authorize="ROLE_READ">
    <button type="button" data-ng-click="onViewPart()" class="btn btn-primary" data-ng-hide="oldPart == null">
      <i class="fa fa-eye"></i>
      View Part
    </button>
  </li>
  <li authorize="ROLE_ALTER_PART">
    <button type="button" data-ng-disabled="partForm.$pristine || partForm.$invalid || partForm.$pending"
            data-ng-click="save()" class="btn btn-success">
      <i class="fa fa-save"></i>
      Save
    </button>
  </li>
  <!-- li>
    <button type="button" data-ng-click="revert()"
            data-ng-disabled="partForm.$pristine"
            class="btn btn-warning"
            data-ng-hide="oldPart == null">
      <i class="fa fa-undo"></i>
      Revert
    </button>
  </li -->
</metanav>

<form name="partForm" novalidate>

  <div class="row">
    <div class="col-xs-5">
      <h2>
        <span data-ng-hide="partId">Create </span>
        <span data-ng-show="partId">Edit </span>
        {{ part.partType.name }}
        <span data-ng-show="partId">#{{ partId }} </span>
      </h2>
    </div>
    <div class="col-xs-5">
      <div class="pull-right" style="margin-top:20px;margin-bottom:10px;">
        <label>Status</label>
        <button data-ng-model="part.inactive" class="btn btn-sm btn-info" btn-checkbox>
          <span data-ng-show="part.inactive">
            <i class="fa fa-warning"></i> Inactive
          </span>
          <span data-ng-hide="part.inactive">
            <i class="fa fa-info-circle"></i> Active
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-10">

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" data-ng-model="part.name" focus-me="true" autofocus />
      </div>

      <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <select id="manufacturer" name="manufacturer" class="form-control"
                data-ng-model="part.manufacturer"
                data-ng-options="mn as mn.name for mn in manufacturers track by mn.id"
                data-ng-change="onChangeManufacturer()"
                data-ng-disabled="::!isManufacturerEnabled()"
                required>
        </select>
        <div data-ng-show="partForm.manufacturer.$dirty && partForm.manufacturer.$invalid" class="alert alert-danger" role="alert">
          <span data-ng-show="partForm.manufacturer.$error.required">Required!</span>
          <span data-ng-show="partForm.manufacturer.$error.nonUniquePartNumber">Pair (Manufacturer, P/N) is not unique!</span>
        </div>
      </div>

      <div class="form-group">
        <label>Manufacturer P/N</label>
        <ul class="list-unstyled">
          <li data-ng-repeat="mpn in mpns">
            <div class="input-group" style="margin-bottom:4px;">
              <input id="{{mpn.id}}" name="{{mpn.id}}" class="form-control" type="text" data-ng-model="mpn.val" data-ng-model-options="{ debounce: 500 }" required maxlength="255" data-ng-disabled="::!isPnEnabled()" unique-part-number ascii-only />
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger" data-ng-disabled="$first" data-ng-click="delPn($index)" title="Delete row">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </span>
            </div>
            <div data-ng-show="partForm[mpn.id].$dirty && partForm[mpn.id].$invalid" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span data-ng-show="partForm[mpn.id].$error.required">Required!</span>
              <span data-ng-show="partForm[mpn.id].$error.maxlenth">Too long manufacturer part number (max 255 chars)!</span>
              <span data-ng-show="partForm[mpn.id].$error.nonUniquePartNumber">Pair (Manufacturer, P/N) is not unique!</span>
              <span data-ng-show="partForm[mpn.id].$error.asciiOnly">Only printable ASCII characters are allowed!</span>
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-primary btn-xs pull-right" data-ng-click="addPn()" data-ng-disabled="partForm.manufacturer.$invalid || !isPnEnabled()" data-ng-hide="part.id">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add P/N
        </button>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" rows="4" data-ng-model="part.description"></textarea>
      </div>

      <div class="form-group">
        <label for="dimensions">Dimensions L x W x H (in)</label>
        <div class="row">
            <div class="form-group col-xs-3">
              <input id="dimensions" class="form-control" type="number" min="0" data-ng-model="part.dimLength"/>
            </div>
            <div class="form-group col-xs-1">X</div>
            <div class="form-group col-xs-3">
              <input class="form-control" type="number" min="0" data-ng-model="part.dimWidth"/>
            </div>
            <div class="form-group col-xs-1">X</div>
            <div class="form-group col-xs-3">
              <input class="form-control" type="number" min="0" data-ng-model="part.dimHeight"/>
            </div>
            <div class="form-group col-xs-1">&nbsp;</div>
        </div>
      </div>

      <div class="form-group">
        <label for="weight">Weight (grams)</label>
        <input id="weight" class="form-control" type="number" min="0" data-ng-model="part.weight"/>
      </div>

      <!-- Type-specific fields -->
      <div data-ng-switch="part.partType.magentoAttributeSet">

        <!-- Kit -->
        <div data-ng-switch-when="Kit" class="form-group">
          <label>Kit Type</label>
          <picker id="picker_kittype" item-type="type/kittype" data-ng-model="part.kitType"></picker>
        </div>

        <!-- Turbo -->
        <div data-ng-switch-when="Turbo" class="form-group">
          <label>Coolant</label>
          <picker item-type="type/cooltype" data-ng-model="part.coolType"></picker>
        </div>

        <div data-ng-switch-when="Turbo" class="row">

          <div class="col-xs-6 form-group">
            <div>
              <label class="control-label">Turbo Type</label>
              <div class="pull-right">
                <button type="button" data-ng-click="createTurboType()" class="btn btn-success btn-xs" data-ng-disabled="!part.manufacturer.id">
                  <i class="fa fa-wrench"></i>
                  Create
                </button>
                <button type="button" data-ng-click="renameTurboType()" class="btn btn-warning btn-xs" data-ng-disabled="!turbo.tt.id">
                  <i class="fa fa-pencil"></i>
                  Rename
                </button>
                <button type="button" data-ng-click="deleteTurboType()" class="btn btn-danger btn-xs" data-ng-disabled="(part.id && !turbo.tt.id && turbo.tt.id == oldPart.turboModel.turboType.id) || (!part.id && !turbo.tt.id)">
                  <i class="fa fa-trash-o"></i>
                  Delete
                </button>
              </div>
            </div>
            <input data-ng-model="filters.turboType" data-ng-init="turboTypeFilter = ''" class="form-control" placeholder="Turbo type filter..."/>
            <select id="turboType" name="turboType" class="form-control"
                    data-ng-model="turbo.tt"
                    data-ng-options="tt as tt.name for tt in turboTypes | filter:{name:filters.turboType} track by tt.id"
                    data-ng-change="onChangeTurboType()"
                    size="6"
                    required>
            </select>
            <div data-ng-show="partForm.turboType.$dirty && partForm.turboType.$invalid" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span data-ng-show="partForm.turboType.$error.required">Required!</span>
            </div>

          </div>

          <div class="col-xs-6">
            <div>
              <label class="control-label">Turbo Model</label>
              <div class="pull-right">
                <button type="button" data-ng-click="createTurboModel()" class="btn btn-success btn-xs" data-ng-disabled="!turbo.tt.id">
                  <i class="fa fa-wrench"></i>
                  Create
                </button>
                <button type="button" data-ng-click="renameTurboModel()" class="btn btn-warning btn-xs" data-ng-disabled="!turbo.tm.id">
                  <i class="fa fa-pencil"></i>
                  Rename
                </button>
                <button type="button" data-ng-click="deleteTurboModel()" class="btn btn-danger btn-xs" data-ng-disabled="(part.id && !turbo.tm.id && turbo.tm.id != oldPart.turboModel.id) || (!part.id && !turbo.tm.id)">
                  <i class="fa fa-trash-o"></i>
                  Delete
                </button>
              </div>
            </div>
            <input data-ng-model="filters.turboModel" data-ng-init="turboModelFilter = ''" class="form-control" placeholder="Turbo model filter..."/>
            <select name="turboModel"
                    data-ng-model="turbo.tm"
                    data-ng-options="tm as tm.name for tm in turboModels | filter:{name:filters.turboModel} track by tm.id"
                    size="6" class="select-large form-control"
                    required>
            </select>
            <div data-ng-show="partForm.turboModel.$dirty && partForm.turboModel.$invalid" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span data-ng-show="partForm.turboModel.$error.required">Required!</span>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</form>
