<div class="modal-header">
    <h3 class="modal-title">Create a Part</h3>
</div>

<div class="modal-body">
    <form name="form" class="form-horizontal" role="form" novalidate>
        <!-- Part Types DDL -->
        <div class="form-group">
            <label for="picker" class="control-label col-sm-2">Part Type</label>
            <picker id="picker" data-ng-model="selection.partType" item-type="type/part" class="col-sm-10" required>
            </picker>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="create()" data-ng-disabled="form.$invalid">Create&hellip;</button>
    <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>
