<form name="partForm">

  <metanav>
    <li authorize="ROLE_READ">
      <a ng-href="/part/{{ partId }}"
         class="btn btn-primary" data-ng-hide="oldPart == null">
        <i class="fa fa-eye"></i>
        View Part
      </a>
    </li>
    <li authorize="ROLE_ALTER_PART">
      <a ng-disabled="partForm.$pristine || partForm.$invalid || partForm.$pending"
         ng-click="save()" class="btn btn-success">
        <i class="fa fa-save"></i>
        Save
      </a>
    </li>
    <li>
      <a ng-click="revert()"
         ng-disabled="partForm.$pristine"
         class="btn btn-warning"
         data-ng-hide="oldPart == null">
        <i class="fa fa-undo"></i>
        Revert
      </a>
    </li>
  </metanav>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div class="pull-right padding-top">
        <label>Status</label>
        <button ng-model="part.inactive" class="btn btn-sm btn-info" btn-checkbox>
          <span ng-show="part.inactive"><i class="fa fa-warning"></i> Inactive</span>
          <span ng-hide="part.inactive"><i class="fa fa-info-circle"></i> Active</span>
        </button>
      </div>

      <h2>
        <span ng-hide="partId">Create </span>
        <span ng-show="partId">Edit </span>
        {{ part.partType.name }}
        <span ng-show="partId">#{{ partId }} </span>
      </h2>

      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" ng-model="part.name"/>

      <label for="description">Description</label>
      <textarea id="description" class="form-control" rows="4" ng-model="part.description"></textarea>

      <label>Manufacturer</label>
      <picker ng-model="part.manufacturer" item-type="other/manufacturer"></picker>

      <label for="manufacturerPartNumber">Manufacturer P/N</label>
      <input id="manufacturerPartNumber" name="manufacturerPartNumber" class="form-control" type="text" ng-model="part.manufacturerPartNumber" ng-model-options="{ debounce: 500 }" required maxlength="255" unique-part-number />
      <span ng-show="partForm.manufacturerPartNumber.$dirty && partForm.manufacturerPartNumber.$invalid" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span ng-show="partForm.manufacturerPartNumber.$error.required">Required!</span>
        <span ng-show="partForm.manufacturerPartNumber.$error.maxlenth">Too long manufacturer part number (max 255 chars)!</span>
        <span ng-show="partForm.manufacturerPartNumber.$error.nonUniquePartNumber">Not unique!</span>
      </span>

    </div>
  </div>

</form>
