<div class="row">
    <div class="btn-group">

        <button authorize="ROLE_CREATE_PART"
                ng-click="createPart()" class="btn btn-success">
          <i class="fa fa-wrench"></i>
          Create Part
        </button>

      <button authorize="ROLE_ADMIN"
              ng-click="reindexTurbos()"
              class="btn btn-info">
        <i class="fa fa-cogs"></i>
        Reindex Turbos
      </button>

      <button authorize="ROLE_ADMIN"
              ng-click="reindexSearch()"
              class="btn btn-info">
        <i class="fa fa-cogs"></i>
        Reindex Search
      </button>

    </div>
</div>

<div class="row">
  <h1 class="col-xs-12 col-sm-9">Part List</h1>
</div>

<part-search>
  <a authorize="ROLE_READ"
     ng-href="#/part/{{partType}}/{{partId}}"
     class="btn btn-primary btn-xs">
    View
  </a>

  <a authorize="ROLE_ALTER_PART"
     ng-href="#/part/{{partType}}/{{partId}}/form"
     class="btn btn-primary btn-xs">
    Edit
  </a >

</part-search>
