<metanav>
  <li authorize="ROLE_READ">
    <a data-ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>
</metanav>

<h2 class="padding-top" part-name="part" part-name-suffix="Ancestors"></h2>

<div class="row">
  <div class="col-xs-12">
    <table data-ng-table="ancestorsTableParams" class="table table-bordered table-striped table-hover table-expand">
      <tr data-ng-repeat="item in $data">
        <td title="'Part Type'" class="text-left">{{item.partType.name}}</td>
        <td title="'Manufacturer'" class="text-left">{{item.manufacturer.name}}</td>
        <td title="'Part #'" class="text-left text-nowrap">{{item.partNumber}}</td>
        <td title="'Relation Type'" class="text-left">
            <span data-ng-show="item.relationDistance === 1">direct</span>
            <span data-ng-hide="item.relationDistance !== 1">interchange</span>
        </td>
        <td title="'Relation Distance'" class="text-left">{{item.relationDistance}}</td>
        <td title="'Actions'" class="actions">
          <a authorize="ROLE_READ" data-ng-href="/part/{{item.partId}}" class="btn btn-primary btn-xs">
            <i class="fa fa-eye"></i> View
          </a>
        </td>
      </tr>
      <tr data-ng-hide="$data.length > 0">
        <td colspan="6">No parts to display.</td>
      </tr>
    </table>
  </div>
</div>

