<nav class="navbar navbar-collapse">
  <ul class="nav navbar-nav">

  <!-- Parts -->
    <li class="btn-group" authorize="ROLE_CREATE_PART">
      <button ng-click="createPart()" class="btn btn-success">
        <i class="fa fa-wrench"></i>
        Create Part
      </button>
    </li>

    <!-- Admin -->
    <li class="btn-group" authorize="ROLE_ADMIN">
      <li>
        <button ng-click="reindexTurbos()"
                class="btn btn-warning">
          <i class="fa fa-cogs"></i>
          Reindex Turbos
        </button>
      </li>

      <li>
        <button ng-click="reindexSearch()"
                class="btn btn-warning">
          <i class="fa fa-cogs"></i>
          Reindex Search
        </button>
      </li>

      <li>
        <button ng-click="clearHibernate()"
                class="btn btn-warning">
          <i class="fa fa-cogs"></i>
          Clear Hibernate Cache
        </button>
      </li>
  </li>


  <!-- Security -->
  <li class="btn-group" authorize="ROLE_ADMIN">
    <a ng-href="#/security/groups/"
       class="btn btn-info">
      <i class="fa fa-group"></i>
      Groups
    </a>

    <a ng-href="#/security/users/"
       class="btn btn-info">
      <i class="fa fa-user"></i>
      Users
    </a>
  </li>

  <!-- My Account -->
  <li class="btn-group">
    <a ng-href="#/security/me"
            class="btn btn-primary">
      <i class="fa fa-smile-o"></i>
      My Account
    </a>
  </li>
  </ul>
</nav>

<div class="row">
  <h1 class="col-xs-12 col-sm-9">Part List</h1>
</div>

<part-search>
  <a authorize="ROLE_READ"
     ng-href="#/part/{{partType}}/{{partId}}"
     class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a authorize="ROLE_ALTER_PART"
     ng-href="#/part/{{partType}}/{{partId}}/form"
     class="btn btn-primary btn-xs">
    <i class="fa fa-cog"></i>
    Edit
  </a >

</part-search>
