<metanav>
  <li authorize="ROLE_READ">
    <a data-ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>
</metanav>

<h2 class="padding-top" part-name="part" part-name-suffix="Ancestors"></h2>

<div class="row">
  <div class="col-xs-12">
    <table data-ng-table="ancestorsTableParams" class="table table-bordered table-striped table-hover table-expand">
      <tr data-ng-repeat="item in $data">
        <td title="'Part #'" class="text-left text-nowrap" data-sortable="'partNumber'">
          <a authorize="ROLE_READ" data-ng-href="/part/{{item.partId}}">
            {{item.partNumber}}
          </a>
        </td>
        <td title="'Part Type'" class="text-left" data-sortable="'partType.name'">{{item.partType.name}}</td>
        <td title="'Manufacturer'" class="text-left" data-sortable="'manufacturer.name'">{{item.manufacturer.name}}</td>
        <td title="'Relation Type'" class="text-left">
            <span data-ng-show="item.relationDistance === 1">direct</span>
            <span data-ng-show="item.relationDistance !== 1">interchange</span>
        </td>
        <td title="'Relation Distance'" class="text-left" data-sortable="'relationDistance'">{{item.relationDistance}}</td>
      </tr>
      <tr data-ng-hide="$data.length > 0">
        <td colspan="5">No parts to display.</td>
      </tr>
    </table>
  </div>
</div>

