<form novalidate>
  <p>What do you want?</p>
  <ul class="list-unstyled">
    <li>
      <div class="radio">
        <label>
          <input type="radio" value="cancel_link" data-ng-model="data.confirmCancelView.result"> Cancel only link a source with changelog and continue the addition of the BOMs?
        </label>
      </div>
    </li>
     <li>
      <div class="radio">
        <label>
          <input type="radio" value="cancel_all" data-ng-model="data.confirmCancelView.result"> Cancel current operation completely?
        </label>
      </div>
    </li>
  </ul>
</form>
