<metanav>
  <li>
    <button type="button" data-ng-click="onViewList()" class="btn btn-primary">
      <i class="fa fa-list"></i>
      Changelog Sources
    </button>
  </li>
  <li>
    <button type="button" data-ng-click="onView()" data-ng-if="source" data-ng-show="source" class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View
    </button>
  </li>
  <li>
    <button type="button" data-ng-disabled="forms.changelogSourceForm.$pristine || forms.changelogSourceForm.$invalid || forms.changelogSourceForm.$pending"
            data-ng-click="onSave()" class="btn btn-success">
      <i class="fa fa-save"></i>
      Save
    </button>
  </li>
  <li>
    <button type="button" data-ng-click="onRevert()"
            data-ng-disabled="forms.changelogSourceForm.$pristine"
            data-ng-if="::source"
            class="btn btn-warning">
      <i class="fa fa-undo"></i>
      Revert
    </button>
  </li>
</metanav>

<h3 data-ng-if="::!source">Create New Source</h3>
<h3 data-ng-if="::source">Source Edit</h3>

<ul id="tabsSources" class="nav nav-tabs" role="tablist">
  <li role="presentation">
    <a href="#source" aria-controls="source" role="tab" data-toggle="tab">
      <i class="fa fa-bars"></i>
      Source
    </a>
  </li>
  <li role="presentation">
    <a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">
      <i class="fa fa-paperclip"></i>
      Attachments
    </a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade" id="source">
    <div class="row">
      <div class="col-xs-12">
        <form name="forms.changelogSourceForm" novalidate>
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" data-ng-model="data.crud.source.name" unique-changelog-source-by-name required>
            <span data-ng-show="forms.changelogSourceForm.name.$dirty && forms.changelogSourceForm.name.$invalid" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span data-ng-show="forms.changelogSourceForm.name.$error.required">Required!</span>
              <span data-ng-show="forms.changelogSourceForm.name.$error.maxlenth">Too long name (max 255 chars)!</span>
              <span data-ng-show="forms.changelogSourceForm.name.$error.nonUniqueName">Not unique!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="source_name">Source name</label>
            <select id="source_name" class="form-control"
                    data-ng-model="data.crud.source.sourceName"
                    data-ng-options="sn as sn.name for sn in sourcesNames track by sn.id"
                    required>
            </select>
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea id="desc" class="form-control" rows="3" data-ng-model="data.crud.source.description"></textarea>
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input id="url" type="url" class="form-control" data-ng-model="data.crud.source.url">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="attachments">
    <div class="row">
      <div class="col-xs-12">

        <form class="form-inline" style="padding-top:8px;padding-bottom:8px;">
          <div class="form-group">
            <input type="file" name="file" onchange="angular.element(this).scope().changedAttachment(this.files)"/>
          </div>
          <div class="form-group">
            <label for="attach-descr">Description</label>
            <input id="attach-descr" type="text" data-ng-model="data.attachDescr" data-ng-maxlength="255" />
          </div>
          <div class="form-group">
            <button data-ng-click="uploadAttachment()" data-ng-disabled="isUploadBttnDisabled()" class="btn btn-sm btn-primary" authorize="ROLE_CHLOGSRC_UPDATE">
              <i class="fa fa-upload"></i> Upload
            </button>
          </div>
        </form>

        <table data-ng-table="attachmentsTableParams" class="table table-bordered table-striped table-hover table-responsive">
        <tr data-ng-repeat="rec in $data">
          <td title="'Name'">{{rec.name}}</td>
          <td title="'Description'">{{rec.description}}</td>
          <td class="actions text-center" title="'Actions'">
            <button type="button" data-ng-click="removeSourceAttachment(rec.id)" class="btn btn-danger btn-xs" authorize="ROLE_CHLOGSRC_UPDATE">
              <i class="fa fa-trash-o"></i> Remove
            </button>
          </td>
        </tr>

        <tr data-ng-hide="$data.length > 0">
          <td colspan="3">The are no attachments.</td>
        </tr>

        </table>

      </div>
    </div>
  </div>
</div>
<script>
  $('#tabsSources a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $('#tabsSources a:first').tab('show');
</script>
