<metanav>
  <li>
    <button data-ng-click="onCreateNewSource()" class="btn btn-success">
      <i class="fa fa-wrench"></i>
      Create Source
    </button>
  </li>
</metanav>

<div class="row">
  <h1 class="col-xs-12 col-sm-9">Changelog Sources List</h1>
</div>

<div class="row">
  <!-- Search by input or facet select options -->
  <div class="col-xs-12 col-sm-3">

    <button class="btn btn-default input-sm" data-ng-click="clearFilter()">
      <i class="fa fa-eraser" aria-hidden="true"></i> Clear
    </button>
    <button class="btn btn-default input-sm" data-ng-click="refreshList()">
      <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
    </button>
    <div class="form-group">
      <input id="fltrName" name="fltrName" class="form-control input-sm" type="text" data-ng-model="fltrSource.name" placeholder="Name..." data-ng-model-options="{debounce: 500}" />
    </div>
    <div class="form-group">
      <label for="fltrDescription">Description</label>
      <input id="fltrDescription" name="fltrDescription" class="form-control input-sm" type="text" data-ng-model="fltrSource.description" placeholder="Description..." data-ng-model-options="{debounce: 500}" />
    </div>
    <div class="form-group">
      <label for="fltrUrl">URL</label>
      <input id="fltrUrl" name="fltrUrl" class="form-control input-sm" type="text" data-ng-model="fltrSource.url" placeholder="URL..." data-ng-model-options="{debounce: 500}" />
    </div>
    <div class="form-group">
      <label for="fltrSourceName">Source Name</label>
      <select id="fltrSourceName" name="fltrSourceName" class="form-control input-sm" data-ng-options="sn.name for sn in sourcesNames track by sn.id" data-ng-model="fltrSource.sourceName">
        <option></option>
      </select>
    </div>

  </div>

  <!-- Tabular search results -->
  <div class="col-xs-12 col-sm-9">
    <table data-ng-table="sourceTableParams" class="table table-bordered table-striped table-hover table-responsive">
    <tr data-ng-repeat="rec in $data">
      <td title="'Name'" sortable="'name.lower_case_sort'">
        {{rec._source.name}}
      </td>
      <td title="'Description'" sortable="'description.lower_case_sort'">
        {{rec._source.description}}
      </td>
      <td title="'Source Name'" sortable="'sourceName.name.lower_case_sort'">
        {{rec._source.sourceName.name}}
      </td>
      <td title="'URL'" sortable="'url.lower_case_sort'">
        <a target="_blank" href="{{rec._source.url}}">{{rec._source.url}}</a>
      </td>
      <td class="actions text-center" title="'Actions'">
        <button type="button" data-ng-click="onView(rec._source.id)" class="btn btn-primary btn-xs" authorize="ROLE_CHLOGSRC_READ">
          <i class="fa fa-eye"></i> View
        </button>
      </td>
    </tr>

    <tr data-ng-hide="$data.length > 0">
      <td colspan="5">No sources to display.</td>
    </tr>

    </table>
  </div>

</div>


