<metanav>
  <li>
    <button type="button" data-ng-click="onViewList()" class="btn btn-primary">
      <i class="fa fa-list"></i>
      Changelog Sources
    </button>
  </li>
  <li>
    <button type="button" data-ng-click="onEdit()" class="btn btn-success">
      <i class="fa fa-pencil"></i>
      Edit
    </button>
  </li>
  <li>
    <button type="button" data-ng-click="onRemove()" class="btn btn-danger">
      <i class="fa fa-trash-o"></i>
      Remove
    </button>
  </li>
</metanav>

<h1>Changelog Source [{{source.id}}] - {{source.name}}</h1>

<div class="row">

  <div class="col-md-6 col-xs-12">

     <h3>Source Properties</h3>

     <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{source.name}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Source Name</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{source.sourceName.name}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{source.description}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">URL</label>
        <div class="col-sm-10">
          <p class="form-control-static">
            <a target="_blank" href="{{source.url}}" data-ng-show="source.url">{{source.url}}</a>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Created</label>
        <div class="col-sm-10">
          <p class="form-control-static" data-ng-show="source.created">
            {{source.created | date : "yyyy-MM-dd HH:mm.ss"}} by <a data-ng-href="security/user/{{source.createUser.id}}">{{source.createUser.name}}</a>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Updated</label>
        <div class="col-sm-10">
          <p class="form-control-static" data-ng-show="source.updated">
            {{source.updated | date : "yyyy-MM-dd HH:mm.ss"}} by <a data-ng-href="security/user/{{source.updateUser.id}}">{{source.updateUser.name}}</a>
          </p>
        </div>
      </div>

    </form>

  </div>
  <div class="col-md-6 col-xs-12">

    <h3>Attachments</h3>

    <table data-ng-table="attachmentsTableParams" class="table table-bordered table-striped table-hover table-responsive">
    <tr data-ng-repeat="rec in $data">
      <td title="'Name'">{{rec.name}}</td>
      <td title="'Description'">{{rec.description}}</td>
      <td title="'Actions'">
        <a href="changelog/source/attachment/{{rec.id}}" target="_self" class="btn btn-info btn-xs">
          <i class="fa fa-download" aria-hidden="true"></i> Download
        </a>
      </td>
    </tr>

    <tr data-ng-hide="$data.length > 0">
      <td colspan="3">No attachments to display.</td>
    </tr>

    </table>

  </div>

</div>



