.vagrant
**/.DS_Store
**/.idea
**/nbactions.xml
**/nbproject/private/
/metadata/target
/sql/script.sql
/sql/data.sql
/magento/.ssh/known_hosts
/magento/.viminfo
/magento/.bash_history
/magento/downloader/.cache
/magento/downloader/cache.cfg
/magento/magmi/import/*
/magento/magmi/state/*
/magento/media/catalog/product/*
/magento/media/bannerslider/*
/magento/media/css/*
/magento/media/css_secure/*
/magento/media/js/*
/magento/media/import/*
/magento/var
/images/
/metadata/yo/dist/
/metadata/yo/.tmp/
/metadata/yo/.sass-cache/
/metadata/yo/nbproject/private/
/magento/includes/src/*
