**/log.roo
**/.DS_Store
**/.idea
metadata/yo/.idea/
**/nbactions.xml
/metadata/target
/mas90magmi/target
/docs/sql/script.sql
/docs/sql/data.sql
**/nbproject/private/
magento/.ssh/known_hosts
magento/.viminfo
magento/.bash_history
magento/media
magento/var/log/
magento/var/cache/
