<h3>Summary</h3>

<ul>
  <li>New Part Type &mdash; <mark>{{wzData.partType.name}}</mark></li>
  <li data-ng-if="wzData.partType.value === 'turbo'">Turbo Model &mdash; <mark>{{wzData.turbo.tm.name}}</mark></li>
  <li data-ng-if="wzData.partType.value === 'turbo'">Turbo Type &mdash; <mark>{{wzData.turbo.tt.name}}</mark></li>
  <li data-ng-if="wzData.partType.value === 'kit'">Kit &mdash; <mark>{{wzData.kitType.name}}</mark></li>
  <li data-ng-if="wzData.options.clearBoms">Clear BOM list</li>
  <li data-ng-if="wzData.options.removeFromParentBoms">Remove from parent BOMs</li>
  <li data-ng-if="wzData.options.clearInterchanges">Clear list of Interchanges</li>
  <li data-ng-if="wzData.options.copyCritDims">Copy compatible critical dimensions values</li>
</ul>

<div data-ng-if="part.partType.value === 'kit' || part.partType.value === 'journal_bearing' || part.partType.value === 'piston_ring' || part.partType.value === 'turbo'" style="margin-top:1.5em;margin-bottom:3em;">
  <h5>Data which may be lost</h5>
  <ul>
    <li data-ng-if="part.partType.value === 'kit'">Common Components</li>
    <li data-ng-if="part.partType.value === 'journal_bearing' && part.partType.value === 'piston_ring'">Non Standard Parts</li>
    <li data-ng-if="part.partType.value === 'turbo'">Turbo Model and Type</li>
    <li data-ng-if="part.partType.value === 'turbo'">Coolant</li>
    <li data-ng-if="part.partType.value === 'turbo'">Gasket Kit</li>
    <li data-ng-if="part.partType.value === 'turbo'">Reference(s) on Application(s)</li>
  </ul>
</div>
<hr>
<div class="checkbox">
  <label>
    <input type="checkbox" data-ng-model="wzData.confirmation" />
    <b>Check this box to confirm the action.</b>
  </label>
</div>
