<ul>
  <li>New Part Type &mdash; <mark>{{wzData.partType.name}}</mark></li>
  <li data-ng-if="wzData.partType.value === 'turbo'">Turbo Model &mdash; <mark>{{wzData.turbo.tm.name}}</mark></li>
  <li data-ng-if="wzData.partType.value === 'turbo'">Turbo Type &mdash; <mark>{{wzData.turbo.tt.name}}</mark></li>
  <li data-ng-if="wzData.partType.value === 'kit'">Kit &mdash; <mark>{{wzData.kitType.name}}</mark></li>
</ul>

<div class="form-group">
  <h4><u>Options for the migration</u></h4>
  <div class="checkbox">
    <label>
      <input type="checkbox" data-ng-model="wzData.options.clearBoms" />
      Clear BOM list
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" data-ng-model="wzData.options.clearInterchanges" />
      Clear list of Interchanges
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" data-ng-model="wzData.options.copyCritDims" />
      Copy compatible critical dimensions values
    </label>
  </div>
</div>
