<metanav authorize="ROLE_ADMIN" />

<h1>History of synchronization</h1>

<div class="col-xs-12 col-sm-9">
  <table data-ng-table="mas90syncHistoryTableParams" class="table table-bordered table-striped">
    <tr data-ng-repeat="rec in $data">
      <td title="'Started'" class="text-center">{{rec.started | date : "yyyy-MM-dd HH:mm.s"}}</td>
      <td title="'Finished'" class="text-center">{{rec.finished | date : "yyyy-MM-dd HH:mm.s"}}</td>
      <td title="'To Process'" class="text-right">{{rec.toProcess}}</td>
      <td title="'Updated'" class="text-right">{{rec.updated}}</td>
      <td title="'Inserted'" class="text-right">{{rec.inserted}}</td>
      <td title="'Started By'">{{rec.user.name}}</td>
      <td title="'Status'" class="text-center">{{rec.status}}</td>
    </tr>
    <tr ng-hide="$data.length > 0">
      <td colspan="7">No records to display.</td>
    </tr>
    </table>
</div>
