<metanav authorize="ROLE_ADMIN" />

<div class="row">

  <div ng-hide="phase != 0">
    <button ng-click="startSync()" authorize="ROLE_ADMIN" class="btn btn-primary btn-lg active">
      <i class="fa fa-flag"></i> Start
    </button>
    <span style="padding-left:1em;">
      Start synchronization process between ERP (<i>MAS90</i>) and local database.
    </span>
  </div>

  <div class="modal-dialog" ng-hide="phase!=1 && phase!=2">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Progress of synchronization</h3>
      </div>
      <div class="modal-body">
        <div>
          <h4>Updating of Parts and BOMs</h4>
          <div ng-hide="partsUpdateTotalSteps || phase!=1">
            <p>
              Job size estimating. Please wait...&nbsp;<i class="fa fa-circle-o-notch fa-spin"></i>
            </p>
          </div>
          <div ng-hide="!partsUpdateTotalSteps || phase!=1 && phase!=2">
            <p>
              <uib-progressbar type="info" max="partsUpdateTotalSteps" value="partsUpdateCurrentStep" ng-class="{'progress-striped active': phase == 0}">
                <span style="color:white; white-space:nowrap;">{{partsUpdateCurrentStep}} / {{partsUpdateTotalSteps}}</span>
              </uib-progressbar>
              <div>
                <span>Updated: <span>{{partsUpdateUpdates | number:0}}</span></span>
                <span style="padding-left:3em;">Inserted: <span>{{partsUpdateInserts | number:0}}</span></span>
                <span style="padding-left:3em;">Skipped: <span ng-class="{'text-danger': partsUpdateSkipped}">{{partsUpdateSkipped | number:0}}</span></span>
              </div>
            </p>
          </div>
          <div ng-hide="!partsUpdateTotalSteps || phase!=1 && phase!=2">
            <label for="failures">Failures:</label>
            <textarea id="failures" ng-class="['col-xs-12', 'text-nowrap',  {'bg-danger': partsUpdateSkipped}]" rows="10" readonly="readonly" data-ng-disabled="!partsUpdateSkipped">{{errors}}</textarea>
          </div>
        </div>
        <br/>
        <div>
          <hr/>
          <p ng-hide="userId">The process started on {{startedOn | date : "yyyy-MM-dd HH:mm.ss"}} by scheduler.</p>
          <p ng-hide="!userId">The process started on {{startedOn | date : "yyyy-MM-dd HH:mm.ss"}} by <a ng-href="security/user/{{userId}}">{{userName}}</a>.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-disabled="phase != 2" ng-click="onCloseStatus()">Close</button>
      </div>
    </div>
  </div>

</div>

<div class="row" style="margin-top:3em;">

  <h2>History of synchronization sessions</h2>

  <div class="col-xs-12 col-sm-9">
    <table data-ng-table="mas90syncHistoryTableParams" class="table table-bordered table-striped">
      <tr data-ng-repeat="rec in $data">
        <td title="'Started'" class="text-center">{{rec.started | date : "yyyy-MM-dd HH:mm.ss"}}</td>
        <td title="'Finished'" class="text-center">{{rec.finished | date : "yyyy-MM-dd HH:mm.ss"}}</td>
        <td title="'To Process'" class="text-right">{{rec.toProcess | number:0}}</td>
        <td title="'Updated'" class="text-right">{{rec.updated | number:0}}</td>
        <td title="'Inserted'" class="text-right">{{rec.inserted | number:0}}</td>
        <td title="'Started By'"><a ng-href="security/user/{{rec.user.id}}">{{rec.user.name}}</a></td>
        <td title="'Status'" class="text-center">{{rec.status}}</td>
      </tr>
      <tr ng-hide="$data.length > 0">
        <td colspan="7">No records to display.</td>
      </tr>
    </table>
  </div>

</div>
