<div class="row">

    <!-- Search by input or facet select options -->
    <div class="col-xs-12 col-sm-3">
        <form class="" role="form" id="part-application-facet-pickers">
          <button class="btn btn-default" ng-click="clear()">Clear</button>

          <div class="form-group">
            <label for="partApplication" class="sr-only control-label">Application</label>
            <input class="form-control" id="partApplication" type="text" ng-model="search.cmey" placeholder="Application..."/>
          </div>

          <cmey-search-facets search="search" results="searchResults"/>

        </form>
    </div>

    <!-- Tabular search results -->
    <div class="col-xs-12 col-sm-9">
        <table data-ng-table="cmeyTableParams" class="table table-bordered table-striped table-hover table-responsive">
            <tr data-ng-repeat="rec in $data">
              <td title="'Year'" sortable="'year.name'">
                {{rec._source.year.name}}
              </td>
              <td title="'Make'" sortable="'model.make.name'">
                {{rec._source.model.make.name}}
              </td>
              <td title="'Model'" sortable="'model.name'">
                {{rec._source.model.name}}
              </td>
              <td title="'Engine'" sortable="'engine.engineSize'">
                {{rec._source.engine.engineSize}}
              </td>
              <td title="'Fuel Type'" sortable="'engine.fuelType.name'">
                {{rec._source.engine.fuelType.name}}
              </td>
              <td class="actions text-center" title="'Actions'" cmey-search-actions></td>
            </tr>
        </table>
    </div>
</div>
