$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Mixins */
@mixin rounded {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; /* future proofing */
  -khtml-border-radius: 6px; /* for old Konqueror browsers */
}

@mixin border-1 {
  border: 1px solid black;
}

/* General */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px;
}

/* Sidebar listing types/parts */
#sidebar {
  div {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }
  h2 {
    line-height: normal;
    margin: inherit 0;
    border-left: 5px solid darkgrey;
    font-size: 20px;
    text-align: center;
    background: #efefef;
  }
}

/* Main read view */
table {
  font-size: 18px;
  background: #ffffff;
  thead {
    tr {
      font-weight: bold;
    }
  }
  tbody {
    tr {
      td {
        a {
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* Details read view */
#detailsView {
  div {
    background: #ffffff;
    overflow: hidden;
    padding: 4px;
  }
  #partImage {
    // Part image CSS rules
  }
  #partDetails {
    hgroup {
      h1, h2 {
        display: inline-block;
        vertical-align: text-bottom;
        padding: 0 inherit;
        margin: 4px inherit;
        line-height: normal;
        span {
          font-size: 50%;
          display: block;
          }
        }
      }
    }
    button {
      line-height: 30px;
      span {
        font-size: 35px;
        vertical-align: text-bottom;
        padding: 0 20px;
      }
    }
  }

/* Updater window */
