<h2>Search</h2>
<button type="button">clear</button>
<input id="part-number" class="form-control" type="text" placeholder="Related Part number or comment">

<h4>Status</h4>
<form action="status" method="get">
  <input type="checkbox" name="Draft"> Draft<br>
  <input type="checkbox" name="Submitted"> Submitted<br>
  <input type="checkbox" name="Approved"> Approved<br>
  <input type="checkbox" name="Rejected"> Rejected<br>
</form>

<h4>Published</h4>
<input list="unknown" />
<datalist id="unknown">
  <option value="Value 1">
  <option value="Value 2">
  <option value="Value 3">
  <option value="Value 4">
</datalist>

<button type="submit" class="btn btn-primary text-center">+ Add Sales Note</button>
