<div class="col-xs-3">
<h2>Search</h2>
<button type="button">clear</button>
<input id="part-number" class="form-control" type="text" placeholder="Related Part number or comment">

<h4>Status</h4>
<form action="status" method="get">
  <input type="checkbox" name="Draft"> Draft<br>
  <input type="checkbox" name="Submitted"> Submitted<br>
  <input type="checkbox" name="Approved"> Approved<br>
  <input type="checkbox" name="Rejected"> Rejected<br>
</form>

<h4>Published</h4>
<input list="unknown" />
<datalist id="unknown">
  <option value="Value 1">
  <option value="Value 2">
  <option value="Value 3">
  <option value="Value 4">
</datalist>
</div>
<div class="pull-right">
<button type="submit" class="btn btn-primary text-center">+ Add Sales Note</button>
</div>

<div class="col-xs-9">
<table class="table">
  <thead>
    <tr>
      <th>Created</th>
      <th>Note</th>
      <th>State</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>2015-03-02</td>
    <td>This part doesn't fit the VW 2004 through 2007.</td>
    <td>approved</td>
    <td>yes</td>
    <td><button type="submit" class="btn btn-primary text-center btn-xs">View</button>
      <button type="submit" class="btn btn-info text-center btn-xs">Approve</button>
      <button type="submit" class="btn btn-success text-center btn-xs">Publish</button>
      <button type="submit" class="btn btn-danger text-center btn-xs">Reject</button></td>
  </tr>
  <tr>
   <td>2015-03-02</td>
   <td>This part doesn't fit the VW 2004 through 2007.</td>
   <td>approved</td>
   <td>yes</td>
   <td><button type="submit" class="btn btn-primary text-center btn-xs">View</button>
     <button type="submit" class="btn btn-info text-center btn-xs">Approve</button>
     <button type="submit" class="btn btn-success text-center btn-xs">Publish</button>
     <button type="submit" class="btn btn-danger text-center btn-xs">Reject</button></td></td>
  </tr>
  <tr>
   <td>2015-03-02</td>
   <td>This part doesn't fit the VW 2004 through 2007.</td>
   <td>approved</td>
   <td>yes</td>
   <td><button type="submit" class="btn btn-primary text-center btn-xs">View</button>
     <button type="submit" class="btn btn-info text-center btn-xs">Approve</button>
     <button type="submit" class="btn btn-success text-center btn-xs">Publish</button>
     <button type="submit" class="btn btn-danger text-center btn-xs">Reject</button></td></td>
  </tr>
  <tr>
   <td>2015-03-02</td>
   <td>This part doesn't fit the VW 2004 through 2007.</td>
   <td>approved</td>
   <td>yes</td>
   <td><button type="submit" class="btn btn-primary text-center btn-xs">View</button>
     <button type="submit" class="btn btn-info text-center btn-xs">Approve</button>
     <button type="submit" class="btn btn-success text-center btn-xs">Publish</button>
     <button type="submit" class="btn btn-danger text-center btn-xs">Reject</button></td></td>
  </tr>
  <tr>
   <td>2015-03-02</td>
   <td>This part doesn't fit the VW 2004 through 2007.</td>
   <td>approved</td>
   <td>yes</td>
   <td><button type="submit" class="btn btn-primary text-center btn-xs">View</button>
     <button type="submit" class="btn btn-info text-center btn-xs">Approve</button>
     <button type="submit" class="btn btn-success text-center btn-xs">Publish</button>
     <button type="submit" class="btn btn-danger text-center btn-xs">Reject</button></td></td>
  </tr>
  <tr>
   <td>2015-03-02</td>
   <td>This part doesn't fit the VW 2004 through 2007.</td>
   <td>approved</td>
   <td>yes</td>
   <td><button type="submit" class="btn btn-primary text-center btn-xs">View</button>
     <button type="submit" class="btn btn-info text-center btn-xs">Approve</button>
     <button type="submit" class="btn btn-success text-center btn-xs">Publish</button>
     <button type="submit" class="btn btn-danger text-center btn-xs">Reject</button></td></td>
   </tr>
  </tbody>
</table>
</div>
