<metanav>
  <li>
    <a ng-href="/part/{{ partId }}/sales_notes"
       class="btn btn-info">
      View Sales Note
    </a>
  </li>

  <li>
   <!--Still need to add save functionality-->
    <a ng-href="N/A"
       class="btn btn-success">
      Save
    </a>
  </li>
</metanav>

<h1>[509] Garrett Cartridge 712402-0066 Create Sales Note</h1>
<hr>
<h4>Note</h4>

<textarea name="NewNote" id="" cols="70" rows="5"></textarea>
<hr>

<div class="col-xs-6">
  <h3 style="float: left;">Attachments</h3>
    <button type="submit" class="btn btn-primary text-center" style="float: right; position: relative; top: 17px; right: 40px;">+ Add Attachment</button>
    <!--<div class="fileinput fileinput-new input-group" data-provides="fileinput">
    <div class="form-control" data-trigger="fileinput"><span class="fileinput-filename"></span></div>
    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
    <a href="#" class="input-group-addon btn btn-primary text-center fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>-->
    <table class="table">
      <thead>
        <tr>
          <th>File name</th>
          <th>User</th>
          <th>Data</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
    <nav>
  <ul class="pagination" style="float: left;">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="btn-group" role="group" aria-label="..." style="float: right; position: relative; top: 21px; right: 10px;">
  <button type="button" class="btn btn-default">10</button>
  <button type="button" class="btn btn-default">25</button>
  <button type="button" class="btn btn-default">50</button>
  <button type="button" class="btn btn-default">100</button>
</div>
</div>

<div class="col-xs-6">
  <h3 style="float: left;">Related Parts</h3>
    <button type="submit" class="btn btn-primary text-center" style="float: right; position: relative; top: 17px; right: 40px;">+ Add Related Part</button>
    <table class="table">
      <thead>
        <tr>
          <th>File name</th>
          <th>User</th>
          <th>Data</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
    <nav>
  <ul class="pagination" style="float: left;">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="btn-group" role="group" aria-label="..." style="float: right; position: relative; top: 21px; right: 10px;">
  <button type="button" class="btn btn-default">10</button>
  <button type="button" class="btn btn-default">25</button>
  <button type="button" class="btn btn-default">50</button>
  <button type="button" class="btn btn-default">100</button>
</div>
</div>
