<metanav>
  <li authorize="ROLE_READ">
    <a ng-href="/part/{{ partId }}" class="btn btn-primary">
      <i class="fa fa-eye"></i> View Part
    </a>
  </li>
  <li authorize="ROLE_SALES_NOTE_SUBMIT">
    <a ng-href="/part/{{ partId }}/sales_note/create" class="btn btn-primary text-center">
      <i class="fa fa-plus"></i> Add Sales Note
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Sales Notes"></h1>

<div class="row">
  <form ng-submit="notesTableParams.reload()" class="form-inline" style="left-padding:0;">
    <div class="btn-group col-xs-5">
      <label ng-repeat="state in SalesNotes.states" class="btn btn-default" btn-checkbox ng-model="states.current[state]">{{state}}</label>
    </div>

    <div class="btn-group col-xs-2">
      <label class="btn btn-default" btn-checkbox ng-model="search.includePrimary">Primary</label>
      <label class="btn btn-default" btn-checkbox ng-model="search.includeRelated">Related</label>
    </div>

    <div class="col-xs-1">
      <input id="part-number" class="form-control" size="15" type="text" placeholder="Primary Part" ng-model="search.partNumber" ng-model-options="{debounce:300}">
    </div>

    <div class="col-xs-2">
      <input id="comment" class="form-control" size="25" type="text" placeholder="Comment" ng-model="search.comment" ng-model-options="{debounce:300}">
    </div>
  </form>
</div>

<div class="row">
    <div class="col-xs-12" style="padding-top:0.5em;">
      <table data-ng-table="notesTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="row in $data">
        <td title="'Created'" data-sortable="'createDate'" class="text-nowrap">
          {{row._source.createDate | date : "yyyy-MM-dd HH:mm" }}
        </td>
        <td title="'Primary Part'" data-sortable="'pk.part.manufacturerPartNumber.lower_case_sort'" class="text-nowrap">
          {{row._source.pk.part.manufacturerPartNumber}}
        </td>
        <td title="'Note'" data-sortable="'pk.salesNote.comment.lower_case_sort'">
          {{row._source.pk.salesNote.comment}}
        </td>
        <td title="'State'" data-sortable="'pk.salesNote.state'">
          {{row._source.pk.salesNote.state}}
        </td>
        <td title="'Relation'" ng-class="{info:row._source.primary}" data-sortable="'primary'">
          {{row._source.primary ? "Primary" : "Related"}}
        </td>
        <td class="text-nowrap" title="'Actions'">

          <a ng-href="/part/{{row._source.primaryPartId}}/sales_note/{{row._source.pk.salesNote.id}}" authorize="ROLE_SALES_NOTE_READ" class="btn btn-primary btn-sm">
            <span class="fa fa-file-text-o"></span> View Note
          </a>

          <a ng-click="SalesNotes.submit(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_SUBMIT" ng-if="SalesNotes.canSubmit(row._source.pk.salesNote)" class="btn btn-info btn-sm">
            <span class="fa fa-check-square"></span> Submit
          </a>

          <a ng-click="SalesNotes.publish(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_PUBLISH" ng-if="SalesNotes.canPublish(row._source.pk.salesNote)" class="btn btn-primary btn-sm">
            <span class="fa fa-cloud-upload"></span> Publish
          </a>

          <a ng-click="SalesNotes.approve(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_APPROVE" ng-if="SalesNotes.canApprove(row._source.pk.salesNote)" class="btn btn-success btn-sm">
            <span class="fa fa-thumbs-up"></span> Approve
          </a>

          <a ng-click="SalesNotes.reject(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_REJECT" ng-if="SalesNotes.canReject(row._source.pk.salesNote)" class="btn btn-danger btn-sm">
            <span class="fa fa-thumbs-down"></span> Reject
          </a>

          <a ng-click="SalesNotes.retract(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_RETRACT" ng-if="SalesNotes.canRetract(row._source.pk.salesNote)" class="btn btn-warning btn-sm">
            <span class="fa fa-cloud-download"></span> Retract
          </a>

        </td>
      </tr>
    </table>
  </div>
</div>
