<metanav>
  <li authorize="ROLE_READ">
    <a data-ng-href="/part/{{partId}}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i> View Part
    </a>
  </li>
  <li authorize="ROLE_SALES_NOTE_READ">
    <a data-ng-href="/part/{{salesNote.primaryPartId}}/sales_note/{{salesNote.id}}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i> View Sales Note
    </a>
  </li>

  <li>
    <a data-ng-click="save()" data-ng-disabled="!canSave()"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Add Related Part
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Sales Note {{salesNote.id}}"></h1>

<div class="row">

  <!-- Primary Part -->
  <div class="col-xs-6">
    <h3>Primary Part</h3>
    <part-summary part="part"></part-summary>
  </div>

  <!-- Picked BOM Item -->
  <div class="col-xs-6">
    <h3>
      Picked Parts
      <button type="button" title="Unpick All" data-ng-click="unpickAll()" data-ng-disabled="isBttnUnpickAllDisabled()" class="btn btn-link btn-sm" style="padding:0;">
        <i class="fa fa-times"></i>
      </button>
    </h3>
    <table data-ng-table="pickedPartsTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="part in $data">
        <td title="'Part #'" class="text-left" sortable="'manufacturerPartNumber'">
          <a href="#" data-ng-href="/part/{{part.id}}">{{part.manufacturerPartNumber}}</p>
        </td>
        <td title="'Part Type'" sortable="'partType.name'">
            {{part.partType.name}}
        </td>
        <td title="'Manufacturer'" sortable="'manufacturer.name'">
            {{part.manufacturer.name}}
        </td>
        <td title="'Actions'" class="actions text-center">
          <button type="button" class="btn btn-danger btn-xs" data-ng-click="unpickPart(part.id)">
            <i class="fa fa-times"></i> Unpick
          </button>
        </td>
      </tr>
      <tr data-ng-hide="!isBttnUnpickAllDisabled()">
        <td colspan="4">No picked parts.</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">

  <!-- Related Parts -->
  <div class="col-xs-6">
    <h3>Related Parts</h3>
    <table data-ng-table="relatedPartTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="relatedPart in $data">
        <td title="'Part #'" class="text-left" sortable="'part.manufacturerPartNumber'">
          <a href="#" data-ng-href="/part/{{relatedPart.part.id}}">{{relatedPart.part.manufacturerPartNumber}}</p>
        </td>
        <td title="'Part Type'" sortable="'part.partType.name'">
            {{relatedPart.part.partType.name}}
        </td>
        <td title="'Manufacturer'" sortable="'part.manufacturer.name'">
            {{relatedPart.part.manufacturer.name}}
        </td>
        <td title="'Actions'" class="actions text-center">
          <a data-ng-class="['btn', 'btn-xs', {'btn-primary': salesNote.primaryPartId != relatedPart.part.id, 'btn-success': salesNote.primaryPartId === relatedPart.part.id}]"
             data-ng-href="/part/{{ relatedPart.part.id }}">
            <i class="fa fa-eye"></i> View {{salesNote.primaryPartId === relatedPart.part.id ? "Primary" : "Related"}}
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<hr/>

<part-search class="well well-lg">
  <a authorize="ROLE_READ" data-ng-href="/part/{{$part._source.id}}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> View</a>
  <button authorize="ROLE_BOM" data-ng-disabled="!canPick($part._source.id)" data-ng-click="pickPart($part._source.id)" class="btn btn-success btn-xs"><i class="fa fa-bullseye"></i> Pick</button>
</part-search>
