<metanav>
  <li authorize="ROLE_READ">
    <a data-ng-href="/part/{{::part.id}}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i> View Part
    </a>
  </li>
  <li authorize="ROLE_SALES_NOTE_READ">
    <a data-ng-href="/part/{{::part.id}}/sales_notes"
       class="btn btn-info">
      <i class="fa fa-book"></i> Sales Notes &hellip;
    </a>
  </li>
  <li>
    <a data-ng-click="edit()" data-ng-if="!isEditing()"
       class="btn btn-success">
      <i class="fa fa-pencil"></i> Edit Note
    </a>
  </li>
  <li data-ng-if="isEditing()">
    <a data-ng-click="cancel()"
       class="btn btn-warning">
      <i class="fa fa-undo"></i> Cancel
    </a>
  </li>
  <li data-ng-if="isEditing()">
    <a data-ng-click="save()"
       class="btn btn-success">
      <i class="fa fa-save"></i> Save
    </a>
  </li>
  <li>
    <a data-ng-click="remove()"
       class="btn btn-danger">
      <i class="fa fa-trash-o"></i> Remove
    </a>
  </li>
  <li class="pull-right col-xs-2">
    <a id="salenote-state" class="btn btn-default" disabled="disabled">
      {{salesNote.state}}
    </a>
  </li>
  <li class="pull-right" authorize="ROLE_SALES_NOTE_SUBMIT" data-ng-if="SalesNotes.canSubmit(salesNote)">
    <a data-ng-click="SalesNotes.submit(salesNote)" data-ng-disabled="isEditing()"
       class="btn btn-info">
      <span class="fa fa-check-square"></span> Submit
    </a>
  </li>
  <li class="pull-right" authorize="ROLE_SALES_NOTE_PUBLISH" data-ng-if="SalesNotes.canPublish(salesNote)">
    <a data-ng-click="SalesNotes.publish(salesNote)" data-ng-disabled="isEditing()"
       class="btn btn-primary">
      <span class="fa fa-cloud-upload"></span> Publish
    </a>
  </li>
  <li class="pull-right" authorize="ROLE_SALES_NOTE_APPROVE" data-ng-if="SalesNotes.canApprove(salesNote)">
    <a data-ng-click="SalesNotes.approve(salesNote)" data-ng-disabled="isEditing()"
       class="btn btn-success">
      <span class="fa fa-thumbs-up"></span> Approve
    </a>
  </li>
  <li class="pull-right" authorize="ROLE_SALES_NOTE_REJECT" data-ng-if="SalesNotes.canReject(salesNote)">
    <a data-ng-click="SalesNotes.reject(salesNote)" data-ng-disabled="isEditing()"
       class="btn btn-danger">
      <span class="fa fa-thumbs-down"></span> Reject
    </a>
  </li>
  <li class="pull-right" authorize="ROLE_SALES_NOTE_RETRACT" data-ng-if="SalesNotes.canRetract(salesNote)">
    <a data-ng-click="SalesNotes.retract(salesNote)"
       class="btn btn-warning">
      <span class="fa fa-cloud-download"></span> Retract
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Sales Note {{salesNoteId}}"></h1>
<div class="row">
  <div class="col-xs-12">
    <span>
      Created <i>{{salesNote.createDate | date : "yyyy-MM-dd HH:mm:ss" }}</i> by <a href="#" data-ng-href="/security/user/{{salesNote.creator.id}}">{{salesNote.creator.name}}</a>.
    </span>
    <span data-ng-if="salesNote.createDate != salesNote.updateDate">
      Last updated <i>{{salesNote.updateDate | date : "yyyy-MM-dd HH:mm:ss" }}</i> by <a href="#" data-ng-href="/security/user/{{salesNote.updater.id}}">{{salesNote.updater.name}}.</a>

    </span>
  </div>
</div>
<hr>

<div data-ng-if="!isEditing()">
  {{salesNote.comment}}
</div>
<textarea data-ng-if="isEditing()" cols="70" rows="5" data-ng-model="editedSalesNote.comment"></textarea>
<hr>

<div class="col-xs-6">

  <form class="form-inline pull-right" authorize="ROLE_SALES_NOTE_SUBMIT">
    <div class="form-group">
      <input type="file" name="file" onchange="angular.element(this).scope().changedAttachment(this.files)"/>
    </div>
    <div class="form-group">
      <button data-ng-click="uploadAttachment()" data-ng-disabled="isUploadBttnDisabled()" class="btn btn-sm btn-primary">
        <i class="fa fa-upload"></i> Upload
      </button>
    </div>
  </form>

  <h3 style="margin-top:0" class="pull-left">Attachments</h3>

  <table data-ng-table="attachmentsTableParams" class="table table-bordered table-striped table-hover table-responsive">
  <tr data-ng-repeat="attachment in $data">
    <td title="'File Name'">
      <a href="other/salesNote/{{salesNoteId}}/attachment/{{attachment.id}}" title="Download" target="_self" download>{{attachment.filename}}</a>
    </td>
    <td title="'User'">
      <a data-ng-href="security/user/{{attachment.creator.id}}">{{attachment.creator.name}}</a>
    </td>
    <td title="'Created'">
      {{attachment.createDate | date : "yyyy-MM-dd HH:mm.ss"}}
    </td>
    <td title="'Actions'" class="actions text-center">
      <button type="submit" data-ng-click="removeAttachment(attachment.id)"
        class="btn btn-danger text-center btn-xs" data-ng-disabled="isEditing()">
        <i class="fa fa-trash-o"></i> Remove
      </button>
    </td>
  </tr>

  <tr data-ng-hide="$data.length > 0">
    <td colspan="4">No attachments to display.</td>
  </tr>

  </table>
</div>

<div class="col-xs-6">
  <h3 style="margin-top:0">Related Parts
      <a class="btn btn-primary pull-right"
         data-ng-href="/part/{{salesNote.primaryPartId}}/sales_note/{{salesNote.id}}/related_part/search" data-ng-disabled="isEditing()">
        <i class="fa fa-plus"></i>
        Add Related Part
      </a>
  </h3>
  <table data-ng-table="relatedPartTableParams" class="table table-bordered table-striped table-hover table-responsive">
  <tr data-ng-repeat="relatedPart in $data">
    <td title="'Part #'" sortable="'part.manufacturerPartNumber'">
      {{relatedPart.part.manufacturerPartNumber}}
    </td>
    <td title="'Part Type'" sortable="'part.partType.name'">
      {{relatedPart.part.partType.name}}
    </td>
    <td title="'Manufacturer'" sortable="'part.manufacturer.name'">
      {{relatedPart.part.manufacturer.name}}
    </td>
    <td title="'Actions'" class="actions text-center">
      <a data-ng-class="['btn', 'btn-xs', {'btn-primary': !isPrimaryRelatedPart(relatedPart), 'btn-success': isPrimaryRelatedPart(relatedPart)}]"
        data-ng-href="/part/{{ relatedPart.part.id }}">
        <i class="fa fa-eye"></i> View {{isPrimaryRelatedPart(relatedPart) ? "Primary" : "Related"}}
      </a>
      <button type="button" class="btn btn-danger btn-xs"
        data-ng-click="removeRelatedPart(relatedPart.part.id)"
        data-ng-if="salesNote.primaryPartId !== relatedPart.part.id"
        data-ng-disabled="isEditing()">
        <i class="fa fa-trash-o"></i> Remove
      </button>
    </td>
  </tr>

  <tr data-ng-hide="$data.length > 0">
    <td colspan="4">No related parts to display.</td>
  </tr>

  </table>
</div>
