<metanav>
  <li authorize="ROLE_READ">
    <a ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i> View Part
    </a>
  </li>
  <li authorize="ROLE_SALES_NOTE_SUBMIT">
    <a ng-href="/part/{{ partId }}/sales_note/create"
       class="btn btn-primary text-center">
      <i class="fa fa-plus"></i> Add Sales Note
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Sales Notes"></h1>

<div class="col-xs-3">
  <form ng-submit="notesTableParams.reload()">
    <h2>Search</h2>
    <button type="button">clear</button>
    <input id="part-number" class="form-control" type="text" placeholder="Related Part number or comment">

    <h4>Status</h4>
    <label ng-repeat="state in SalesNotes.states" style="display: block">
      <input type="checkbox" ng-checked="isStateEnabled(state)" ng-click="toggleState(state)"> {{state}}
    </label>
  </form>
</div>

<div class="col-xs-9">
  <table data-ng-table="notesTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="salesNote in $data">
          <td title="'Created'" data-sortable="'note.createdDate'">
              {{salesNote.createDate | date : "yyyy-MM-dd HH:mm" }}
          </td>
          <td title="'Note'" data-sortable="'note.comment'">
              {{salesNote.comment}}
          </td>
          <td title="'State'" data-sortable="'note.state'">
              {{salesNote.state}}
          </td>
          <td class="text-right" title="'Actions'">
            <ul class="list-inline">
              <li data-authorize="ROLE_SALES_NOTE_READ" class="pull-left">
                <a ng-href="/part/{{salesNote.primaryPartId}}/sales_note/{{salesNote.id}}"
                   class="btn btn-primary btn-sm">
                  <span class="fa fa-eye"></span> View
                </a>
              </li>
              <li authorize="ROLE_SALES_NOTE_SUBMIT" ng-if="salesNote.state === 'draft' || salesNote.state === 'rejected'">
                <a ng-click="SalesNotes.submit(salesNote)"
                   class="btn btn-info btn-sm">
                  <span class="fa fa-check-square"></span> Submit
                </a>
              </li>
              <li authorize="ROLE_SALES_NOTE_PUBLISH" ng-if="salesNote.state === 'approved'">
                <a ng-click="SalesNotes.publish(salesNote)"
                   class="btn btn-primary btn-sm">
                  <span class="fa fa-cloud-upload"></span> Publish
                </a>
              </li>
              <li authorize="ROLE_SALES_NOTE_APPROVE" ng-if="salesNote.state === 'submitted'">
                <a ng-click="SalesNotes.approve(salesNote)"
                   class="btn btn-success btn-sm">
                  <span class="fa fa-thumbs-up"></span> Approve
                </a>
              </li>
              <li authorize="ROLE_SALES_NOTE_REJECT" ng-if="salesNote.state === 'submitted' || salesNote.state === 'approved'">
                <a ng-click="SalesNotes.reject(salesNote)"
                   class="btn btn-danger btn-sm">
                  <span class="fa fa-thumbs-down"></span> Reject
                </a>
              </li>
              <li authorize="ROLE_SALES_NOTE_RETRACT" ng-if="salesNote.state === 'published'">
                <a ng-click="SalesNotes.retract(salesNote)"
                   class="btn btn-warning btn-sm">
                  <span class="fa fa-cloud-download"></span> Retract
                </a>
              </li>
            </ul>
          </td>
      </tr>
  </table>
</div>
