<metanav>
  <li authorize="ROLE_CREATE_PART">
    <button class="btn btn-success btn-lg" style="margin-right: 0.5em" data-ng-click="onCreateXRef()">
      <i class="fa fa-wrench"></i>
      Create X Ref
    </button>
  </li>
  <li authorize="ROLE_READ">
    <a data-ng-href="/part/{{ partId }}/ancestors"
       class="btn btn-info">
      <i class="fa fa-sitemap"></i>
      Where used &hellip;
    </a>
  </li>

  <li authorize="ROLE_INTERCHANGE">
    <a data-ng-href="/part/{{ partId }}/interchange/search"
       class="btn btn-info">
      <i class="fa fa-random"></i>
      Interchanges &hellip;
    </a>
  </li>

  <li authorize="ROLE_SALES_NOTE_READ">
    <a data-ng-href="/part/{{partId}}/sales_notes"
       class="btn btn-info">
      <i class="fa fa-book"></i>
      Sales Notes &hellip;
    </a>
  </li>
  <li class="pull-right col-xs-2">
    <a class="btn btn-default" disabled="disabled">
      <strong data-ng-show="part.inactive === false">Active</strong>
      <strong data-ng-show="part.inactive === true">Inactive</strong>
    </a>
  </li>
</metanav>

<div class="row">
  <div class="col-xs-8">
    <h2 class="padding-top" part-name="part"></h2>
  </div>
  <div class="col-xs-4">
    <div class="pull-right">
      <button type="button" class="btn btn-success" data-ng-click="onReindex()" authorize="ROLE_READ">
        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Reindex
      </button>
      <button type="button" class="btn btn-success" data-ng-click="onRebuildBom()" authorize="ROLE_BOM" data-ng-disabled="restService.status.bomRebuilding">
        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> Rebuild BOM
      </button>
      <button type="button" class="btn btn-success" data-ng-click="onReload()" authorize="ROLE_READ">
        <i class="fa fa-refresh" aria-hidden="true"></i> Reload
      </button>
    </div>
  </div>
</div>

<ul id="partTabs" class="nav nav-tabs" role="tablist">
  <li role="presentation">
    <a id="tab-details" href="#details" aria-controls="details" role="tab" data-toggle="tab">
      <i class="fa fa-bars" aria-hidden="true"></i>
      Part Details
    </a>
  </li>
  <li role="presentation">
    <a id="tab-critical-dimensions" href="#critical_dimensions" aria-controls="critical_dimensions" role="tab" data-toggle="tab">
      <i class="fa fa-arrows" aria-hidden="true"></i>
      Critical Dimensions
    </a>
  </li>
  <li role="presentation">
    <a id="tab-turbo-types" href="#turbo_types" aria-controls="turbo_types" role="tab" data-toggle="tab">
      <i class="fa fa-cog" aria-hidden="true"></i>
      Turbo Types
    </a>
  </li>
  <li role="presentation" data-ng-show="part.partType.value == 'turbo'">
    <a id="tab-applications" href="#applications" aria-controls="applications" role="tab" data-toggle="tab">
      <i class="fa fa-book" aria-hidden="true"></i>
      Applications
    </a>
  </li>
  <li role="presentation" data-ng-show="part.partType.value == 'gasket_kit'">
    <a id="tab-turbos" href="#turbos" aria-controls="turbos" role="tab" data-toggle="tab">
      <i class="fa fa-book" aria-hidden="true"></i>
      Turbos
    </a>
  </li>
  <li role="presentation" data-ng-show="part.partType.value == 'journal_bearing' || part.partType.value == 'journal_bearing_spacer' || part.partType.value == 'piston_ring'">
    <a id="tab-nonstandard" href="#nonstandard" aria-controls="non standard" role="tab" data-toggle="tab">
      <i class="fa fa-slack" aria-hidden="true"></i>
      Non Standard
    </a>
  </li>
  <li role="presentation">
    <a id="tab-audit-log" href="#audit_log" aria-controls="audit log" role="tab" data-toggle="tab">
      <i class="fa fa-book" aria-hidden="true"></i>
      Audit Log
    </a>
  </li>
  <li role="presentation" authorize="ROLE_PRICE_READ" data-ng-show="part.manufacturer.name == 'Turbo International'">
    <a id="tab-prices" href="#prices" aria-controls="prices" role="tab" data-toggle="tab">
      <i class="fa fa-usd" aria-hidden="true"></i>
      Prices
    </a>
  </li>
  <li role="presentation" authorize="ROLE_PRICE_READ" data-ng-show="part.manufacturer.name == 'Turbo International'">
    <a id="tab-also-bought" href="#also_bought" aria-controls="also bought" role="tab" data-toggle="tab">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Also Bought
    </a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="details">
    <data-ng-include src="'/views/part/view/TabDetails.html'"></data-ng-include>
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="critical_dimensions">
    cdForm.$invalid: {{cdForm.$invalid}}
    <critical-dimensions part="part" descriptors="criticalDimensions"></critical-dimensions>
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="turbo_types">
    <turbo-types part="part"></turbo-types>
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="applications">
    <a authorize="ROLE_APPLICATION_CRUD" class="btn btn-primary pull-right" style="margin-bottom:10px;" data-ng-href="/part/{{partId}}/application/search">
      <i class="fa fa-plus"></i>
      Add Application
    </a>
    <part-application-table />
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="turbos">
    <data-ng-include src="'/views/part/view/TabTurbos.html'"></data-ng-include>
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="nonstandard">
    <data-ng-include src="'/views/part/view/TabNonstandard.html'"></data-ng-include>
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="audit_log">
    <data-ng-include src="'/views/part/view/TabAuditLog.html'"></data-ng-include>
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="prices">
    <data-ng-include src="'/views/part/view/TabPrices.html'"></data-ng-include>
  </div>
  <div role="tabpanel" class="tab-pane fade tab-part-detail" id="also_bought">
    <data-ng-include src="'/views/part/view/TabAlsoBought.html'"></data-ng-include>
  </div>
</div>
<script>
  $('#partTabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  var h = window.location.hash;
  if (h === '#details') {
    $('#tab-details').tab('show');
  } else if (h === '#critical_dimensions') {
    $('#tab-critical-dimensions').tab('show');
  } else if (h === '#turbo_types') {
    $('tab-turbo-types').tab('show');
  } else if (h === '#applications') {
    $('#tab-applications').tab('show');
  } else if (h === '#turbos') {
    $('#tab-turbos').tab('show');
  } else if (h === '#nonstandard') {
    $('#tab-nonstandard').tab('show');
  } else if (h === '#audit_log') {
    $('#tab-auditlog').tab('show');
  } else if (h === '#prices') {
    $('#tab-prices').tab('show');
  } else if (h === '#also_bought') {
    $('#tab-also-bought').tab('show');
  } else {
    $('#partTabs a:first').tab('show');
  }
</script>
