<div class="row">
  <div class="col-xs-12">
    <div data-ng-show="changelogTableParamsLoading">
      Loading...
    </div>
    <div data-ng-hide="changelogTableParamsLoading">
      <table data-ng-table="changelogTableParams" class="table table-bordered table-striped table-hover table-expand">
        <tr data-ng-repeat="rec in $data">
          <td title="'Date'" data-sortable="'changeDate'" width="5%" class="text-center text-nowrap">{{rec.changeDate | date : "yyyy-MM-dd HH:mm.ss"}}</td>
          <td title="'Service'" data-sortable="'service'" width="5%" class="text-nowrap">{{rec.service}}</td>
          <td title="'User'" data-sortable="'user.name'" width="5%" class="text-nowrap"><a data-ng-href="security/user/{{rec.user.id}}">{{rec.user.name}}</a></td>
          <td title="'Description'" width="80%">{{rec.description}}</td>
          <td title="'Actions'" width="5%" class="actions text-center">
            <button class="btn btn-primary btn-xs" data-ng-click="onOpenChangelogSourceViewDlg(rec)"><i class="fa fa-eye"></i> View </button>
          </td>
        </tr>
        <tr data-ng-hide="$data.length > 0">
          <td colspan="5">No records to display.</td>
        </tr>
      </table>
      <table-summary rowscount="changelogRowsCount" />
    </div>
  </div>
</div>
