<div class="row">
  <div class="col-xs-12">
    <div data-ng-show="$scope.kitCommonTurboTypesLoading || $scope.kitCommonComponentMappingLoading">
      Loading...
    </div>
    <div data-ng-hide="$scope.kitCommonTurboTypesLoading || $scope.kitCommonComponentMappingLoading">
      <div class="row">
        <div class="col-xs-12">
          <h5><u>Common Turbo Types</u></h5>
          <table data-ng-table="kitCommonTurboTypesTableParams" class="table table-bordered table-striped table-hover table-responsive">
          <tbody>
          <tr data-ng-repeat="kctt in $data">
            <td title="'Part #'" data-sortable="'kit.partId'">
              <a href="#" data-ng-href="/part/{{kctt.kit.partId}}" target="_blank">{{kctt.kit.partNumber}}</a>
            </td>
            <td title="'Kit Type'" data-sortable="'kit.kitType.name'">{{kctt.kit.kitType.name}}</td>
            <td title="'Manufacturer'" data-sortable="'kit.manufacturer.name'">{{kctt.kit.manufacturer.name}}</td>
            <td title="'Mapping'">
              <span data-ng-if="kctt.exclude === true">Exclude</span>
              <span data-ng-if="kctt.exclude === false">Include</span>
              <span data-ng-if="kctt.exclude === null">None</span>
            </td>
            <td title="'Mapping Actions'" class="actions">
              <button type="button" data-ng-click="kitCommonTurboTypesMappingInclude(kctt.id)" class="btn btn-xs btn-success" data-ng-hide="kctt.exclude === false" authorize="ROLE_ALTER_PART">
                <i class="fa fa-check-circle-o"></i>
                Include
              </button>
              <button type="button" data-ng-click="kitCommonTurboTypesMappingExclude(kctt.id)" class="btn btn-xs btn-warning" data-ng-hide="kctt.exclude === true" authorize="ROLE_ALTER_PART">
                <i class="fa fa-circle-o"></i>
                Exclude
              </button>
            </td>
          </tr>
          <tr data-ng-hide="$data.length > 0">
            <td colspan="5">No parts to display.</td>
          </tr>
          </tbody>
          </table>
          <table-summary rowscount="kitCommonTurboTypes.length" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5 style="margin-top:20px;"><u>Common Component Mappings</u></h5>
          <div class="row">
            <div class="col-xs-6">
              <button class="btn btn-default btn-sm" style="margin-top:6px" title="Remove selected mappings." data-ng-disabled="!isThereAnySelectedCommonComponentMapping()" data-ng-click="onRemoveSelectedCommonComponentsMappings()">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
            <div class="col-xs-6">
              <div class="pull-right" style="margin-bottom: 5px;">
                <button type="button" authorize="ROLE_ALTER_PART" class="btn btn-primary" data-ng-click="kitCommonComponentAddMapping()">
                  <i class="fa fa-plus"></i>
                  Add Mapping
                </a>
              </div>
            </div>
          </div>
          <table data-ng-table="kitCommonComponentMappingTableParams" class="table table-bordered table-striped table-hover table-responsive">
          <tbody>
          <tr data-ng-repeat="kccm in $data">
            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox_kccm.html'">
              <input type="checkbox" data-ng-model="selectedItems.kccm.maps[kccm.id]" data-ng-click="$event.stopPropagation();"/>
            </td>
            <td title="'Part #'" data-sortable="'kit.partNumber'">
              <a href="#" data-ng-href="/part/{{kccm.kit.partId}}" target="_blank">{{kccm.kit.partNumber}}</a>
            </td>
            <td title="'Kit Type'" data-sortable="'kit.kitType.name'">{{kccm.kit.kitType.name}}</td>
            <td title="'Manufacturer'" data-sortable="'kit.manufacturer.name'">{{kccm.kit.manufacturer.name}}</td>
            <td title="'Mapping'" data-sortable="'exclude'">
              <span data-ng-if="kccm.exclude">Exclude</span>
              <span data-ng-if="!kccm.exclude">Include</span>
            </td>
            <td title="'Mapping Actions'" class="actions">
              <button type="button" data-ng-click="kitCommonComponentMappingInclude(kccm.id)" data-ng-show="kccm.exclude" class="btn btn-xs btn-success" authorize="ROLE_ALTER_PART">
                <i class="fa fa-check-circle-o"></i>
                Include
              </button>
              <button type="button" data-ng-click="kitCommonComponentMappingExclude(kccm.id)" data-ng-hide="kccm.exclude" class="btn btn-xs btn-warning" authorize="ROLE_ALTER_PART">
                <i class="fa fa-circle-o"></i>
                Exclude
              </button>
            </td>
          </tr>
          <tr data-ng-hide="$data.length > 0">
            <td colspan="6">No parts to display.</td>
          </tr>
          </tbody>
          </table>
          <table-summary rowscount="kitCommonComponentMapping.length" />
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="ng-table/headers/checkbox_kccm.html">
  <input type="checkbox" data-ng-model="selectedItems.kccm.allChecked" />
</script>

