<div class="hero-unit">
    <form data-ng-submit="" name="passwordResetForm">
        <label>Your email address: <input type="text" placeholder="This should be pre-filled&hellip;" name="email"
                                          data-ng-model="email" value="{{ email }}" required></label>
        <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid:
            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        </div>
        <label>Enter new password: <input type="password" placeholder="New password&hellip;" name="password" required></label>
        <label>Confirm new password: <input type="password" placeholder="Confirm password&hellip;" name="confpassword"
                                            data-ng-model="confpassword" required></label>
        <button data-ng-click="update()" data-ng-disabled="form.$invalid" class="btn">Submit</button>
    </form>
</div>