<div class="row">

    <!-- Search by input or facet select options -->
    <div class="col-xs-12 col-sm-3">
        <form class="" role="form">
          <button class="btn btn-default" ng-click="clear()">Clear</button>

          <div class="form-group">
            <label for="carmodel" class="sr-only control-label">Name</label>
            <input class="form-control" id="carmodel" type="text" ng-model="search.carmodel" placeholder="Car Model..."/>
          </div>

          <carmodel-search-facets search="search" results="searchResults"/>

        </form>
    </div>

    <!-- Tabular search results -->
    <div class="col-xs-12 col-sm-9">
        <table data-ng-table="carmodelTableParams" class="table table-bordered table-striped table-hover table-responsive">
            <tr data-ng-repeat="rec in $data">
              <td title="'Model'" sortable="'name.lower_case_sort'">
                {{rec._source.name}}
              </td>
              <td title="'Make'" sortable="'make.name.lower_case_sort'">
                {{rec._source.make.name}}
              </td>
              <td class="actions text-center" title="'Actions'" carmodel-search-actions></td>
            </tr>
        </table>
    </div>
</div>
