<div class="row">

    <!-- Search by input or facet select options -->
    <div class="col-xs-12 col-sm-3">
        <form class="" role="form">
          <button class="btn btn-default" data-ng-click="clear()">Clear</button>

          <div class="form-group">
            <label for="carmodel" class="sr-only control-label">Name</label>
            <input class="form-control" id="carmodel" type="text" data-ng-model="fltrCarmodel.carmodel" placeholder="Car Model..."/>
          </div>

          <div class="form-group">
            <label for="fltrCarmodelMake">Make</label>
            <select id="fltrCarmodelMake" data-ng-model="fltrCarmodel.make" class="form-control input-sm" data-ng-options="itm.key as itm.key + ' (' + itm.doc_count + ')' for itm in carmodelSearchResults.aggregations['Make'].buckets | orderBy: 'key'">
              <option></option>
            </select>
          </div>

        </form>
    </div>

    <!-- Tabular search results -->
    <div class="col-xs-12 col-sm-9">
        <table data-ng-table="carmodelTableParams" class="table table-bordered table-striped table-hover table-responsive">
            <tr data-ng-repeat="rec in $data">
              <td title="'Model'" sortable="'name.lower_case_sort'">
                {{rec._source.name}}
              </td>
              <td title="'Make'" sortable="'make.name.lower_case_sort'">
                {{rec._source.make.name}}
              </td>
              <td class="actions text-center" title="'Actions'" carmodel-search-actions></td>
            </tr>
        </table>
    </div>

</div>
