<div class="row">

    <!-- Search by input or facet select options -->
    <div class="col-xs-12 col-sm-3">
        <form class="" role="form">
          <button class="btn btn-default" data-ng-click="clear()">Clear</button>

          <div class="form-group">
            <label for="carengine" class="sr-only control-label">Name</label>
            <input class="form-control" id="carengine" type="text" data-ng-model="fltrCarengine.carengine" placeholder="Car Engine..."/>
          </div>

          <div class="form-group">
            <label for="fltrCarengineFuelType">Fuel Type</label>
            <select id="fltrCarengineFuelType" data-ng-model="fltrCarengine.fueltype" class="form-control input-sm" data-ng-options="itm.key as itm.key + ' (' + itm.doc_count + ')' for itm in carengineSearchResults.aggregations['Fuel Type'].buckets | orderBy: 'key'">
              <option></option>
            </select>
          </div>

        </form>
    </div>

    <!-- Tabular search results -->
    <div class="col-xs-12 col-sm-9">
        <table data-ng-table="carengineTableParams" class="table table-bordered table-striped table-hover table-responsive">
            <tr data-ng-repeat="rec in $data">
              <td title="'Engine Size'" sortable="'engineSize.lower_case_sort'">
                {{rec._source.engineSize}}
              </td>
              <td title="'Fuel Type'" sortable="'fuelType.name.lower_case_sort'">
                {{rec._source.fuelType.name}}
              </td>
              <td class="actions text-center" title="'Actions'" carengine-search-actions></td>
            </tr>
        </table>
    </div>

</div>
