<div>
    <div style="text-align: right;">
        <input type="text" ng-model="query" placeholder="Search..." style="width: 200px;"/>
        <button type="button" ng-click="search()">Search</button>
        <hr/>
    </div>
    <table ng-table="tableParams">
        <tr ng-repeat="searchResult in searchResults" ng-click="callback(searchResult)">
            <td data-title="'ID'">{{searchResult._id}}</td>
            <td data-title="'Part Type'">{{searchResult.part_type}}</td>
            <td data-title="'Manufacturer'">{{searchResult.manufacturer_name}}</td>
            <td data-title="'Mfr Part #'">{{searchResult.manufacturer_part_number}}</td>
            <td data-title="'Name'">{{searchResult.name}}</td>
        </tr>

        <!-- AJAX Spinner -->
        <tr ng-show="isSearching">
            <td colspan="5" style="text-align: center;">
                <img src="/images/ajax-loader.gif" alt="Loading..."/>
            </td>
        </tr>
    </table>
</div>