<div class="modal-header">
  <h3 class="modal-title">Create Car Model</h3>
</div>
<div class="modal-body">
  <cmodel-form car-make-id="makeId" car-model="null" car-makes="carMakes" />
</div>
<div class="modal-footer">
  <button data-ng-disabled="carmodelForm.$pristine || carmodelForm.$invalid || carmodelForm.$pending"
    data-ng-click="save()" class="btn btn-success">
    <i class="fa fa-save"></i>
    Save
  </button>
  <button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
</div>
