<form name="cmeyForm" novalidate authorize="ROLE_APPLICATION_CRUD">

  <metanav />

  <subnav>

    <li authorize="ROLE_READ" data-ng-hide="cmeyId == null">
      <a ng-href="application/carmodelengineyear/{{ cmeyId }}"
         class="btn btn-primary">
        <i class="fa fa-eye"></i>
        View Model Engine Year
      </a>
    </li>

    <li>
      <a ng-disabled="cmeyForm.$pristine || cmeyForm.$invalid || cmeyForm.$pending"
         ng-click="save()" class="btn btn-success">
        <i class="fa fa-save"></i>
        Save
      </a>
    </li>

    <li data-ng-hide="cmeyId == null">
      <a ng-click="revert()"
         ng-disabled="cmeyForm.$pristine"
         class="btn btn-warning">
        <i class="fa fa-undo"></i>
        Revert
      </a>
    </li>

  </subnav>

  <div class="col-xs-12">
    <h2>{{::titleHead}} Car Model Engine Year<span data-ng-show="cmey.id">#{{cmey.id}}</span></h2>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <label class="control-label" for="carmakeFilter">
        Car Make
      </label>

      <input id="carmakeFilter" ng-model="carmakeFilter" class="form-control input-sm" placeholder="Car make filter..."/>
      <select
        name = "car_make"
        ng-model="cmey.model.make.id" data-ng-change="onChangeMake()"
        data-ng-options="carmake.id as carmake.name for carmake in carmakes | filter:{name:carmakeFilter}"
        data-ng-disabled="carmakes.length == 0"
        size="15" class="select-large form-control">
      </select>
    </div>

    <div class="col-xs-12 col-md-6">
      <label class="control-label" for="carmodelFilter">
        Car Model
        <span ng-click="onClearModel(cmeyForm)" ng-disabled="cmey.model.id == null" class="btn btn-link btn-sm" stype="padding:0">
          <i class="fa fa-times"></i>
        </span>
      </label>

      <input id="carmodelFilter" ng-model="carmodelFilter" class="form-control input-sm" placeholder="Car model filter..."/>
      <select
        name = "car_model"
        data-ng-model="cmey.model.id"
        data-ng-options="carmodel.id as carmodel.name for carmodel in carmodels | filter:{name:carmodelFilter}"
        data-ng-disabled="carmodels.length == 0"
        size="15" class="select-large form-control">
      </select>
    </div>

  </div>

  <br/>
  <label class="control-label" for="car_engine">Car Engine</label>
  <div class="picker row">
    <div class="col-xs-11">
      <select id="car_engine" ng-model="cmey.engine.id"
        ng-options="item.id as item.name for item in carengines | orderBy:'name'"
        ng-disabled="carengines == null || carengines.length == 0"
        placeholder="Choose engine..." class="form-control input-sm"></select>
    </div>
    <div class="col-xs-1">
      <button ng-click="onClearEngine(cmeyForm)" ng-disabled="cmey.engine.id == null" class="btn btn-link btn-sm">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <label class="control-label" for="car_year">Car Year</label>
      <input id="car_year" name="car_year" class="form-control input-sm" data-ng-model="cmey.year.name" ng-model-options="{ debounce: 500 }" data-ng-change="onChangeYear()" maxlength="255">
      <span ng-show="cmeyForm.car_year.$dirty && !cmeyForm.car_year.$invalid && !carYearExists" class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span>This year is not existing and will be added automatically.</span>
      </span>
      <span ng-show="cmeyForm.car_year.$dirty && cmeyForm.car_year.$invalid" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span ng-show="cmeyForm.car_year.$error.maxlenth">Too long name (max 255 chars)!</span>
      </span>
    </div>
  </div>

</form>
