<metanav />

<subnav>

  <li authorize="ROLE_READ" data-ng-hide="cmeyId == null">
    <button type="button" data-ng-click="onClickViewCmey()"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Model Engine Year
    </button>
  </li>

  <li style="padding-left:2em;" data-ng-hide="cmeyId == null">&nbsp;</li>

  <li>
    <button type="button" data-ng-hide="cmeyId == null" data-ng-disabled="cmeyForm.$pristine || cmeyForm.$invalid || cmeyForm.$pending"
       data-ng-click="save()" class="btn btn-success">
      <i class="fa fa-save"></i>
      Save
    </button>
  </li>

  <li data-ng-hide="cmeyId == null">
    <button type="button" data-ng-click="revert()"
       data-ng-disabled="cmeyForm.$pristine"
       class="btn btn-warning">
      <i class="fa fa-undo"></i>
      Revert
    </button>
  </li>

</subnav>

<cmey-form car-engines="carEngines" car-makes="carMakes" car-model-engine-year="carModelEngineYear" />
