<form name="cmeyForm" novalidate data-reference-form-controller authorize="ROLE_APPLICATION_CRUD">

  <div class="row">
    <div class="col-xs-6">
      <h2>{{::titleHead}} Car Model Engine Year <span data-ng-show="cmey.id">#{{cmey.id}}</span></h2>
    </div>
    <div class="col-xs-6 vcenter">
      <div class="alert alert-danger" data-ng-show="cmeyForm.$error.nonUniqueApp">
        <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
        Application with these attributes already exists.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h4>Picked Make/Models</h4>
      <table data-ng-table="pickedModelsTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="rec in $data">
        <td title="'Model'">{{rec.id}}</td>
        <td title="'Make'">{{rec.make.id}}</td>
        <td class="actions text-center" title="'Actions'">
          TODO
        </td>
      </tr>
      </table>
    </div>
    <div class="col-xs-12 col-md-3">
      <h4>Picked Engines</h4>
    </div>
    <div class="col-xs-12 col-md-6">
      <h4>Picked Years</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <div>
          <label for="carmakeFilter">
            Car Make
            <button type="button" data-ng-click="onClearMake(cmeyForm)" data-ng-disabled="cmey.model.make.id == null" class="btn btn-link btn-sm">
              <i class="fa fa-times"></i>
            </button>
          </label>
          <div class="pull-right">
            <button type="button" class="btn btn-success btn-sm" data-ng-click="quickCreateCarMake()">
              <i class="fa fa-wrench"></i>
              Quick Create
            </button>
          </div>
        </div>
        <input id="carmakeFilter" data-ng-model="carmakeFilter" class="form-control" placeholder="Car make filter..."/>
        <select name = "car_make" data-ng-model="cmey.model.make.id" data-ng-change="onChangeMake()"
          data-ng-options="carmake.id as carmake.name for carmake in carmakes | filter:{name:carmakeFilter}"
          data-ng-disabled="carmakes.length == 0"
          size="15" class="select-large form-control">
        </select>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <div>
          <label for="carmodelFilter">
            Car Model
            <button type="button" data-ng-click="onClearModel(cmeyForm)" class="btn btn-link btn-sm">
              <i class="fa fa-times"></i>
            </button>
          </label>
          <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-sm pull-right" data-ng-click="quickCreateCarModel()">
              <i class="fa fa-wrench"></i>
              Quick Create
            </button>
            <button type="button" class="btn btn-success btn-sm" data-ng-click="pickCarModel()">
              <i class="fa fa-bullseye"></i>
              Pick
            </button>
          </div>
        </div>
        <input id="carmodelFilter" data-ng-model="carmodelFilter" class="form-control" placeholder="Car model filter..."/>
        <select
          name = "car_model" data-ng-model="cmey.model.id"
          data-ng-options="carmodel.id as carmodel.name for carmodel in carmodels | filter:{name:carmodelFilter}"
          data-ng-disabled="carmodels.length == 0"
          size="15" class="select-large form-control">
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <div>
          <label class="control-label" for="car_engine">
            Car Engine
            <button data-ng-click="onClearEngine(cmeyForm)" data-ng-disabled="cmey.engine.id == null" class="btn btn-link btn-sm">
              <i class="fa fa-times"></i>
            </button>
          </label>
          <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-sm" data-ng-click="quickCreateCarEngine()">
              <i class="fa fa-wrench"></i>
              Quick Create
            </button>
            <button type="button" class="btn btn-success btn-sm" data-ng-click="pickCarEngine()">
              <i class="fa fa-bullseye"></i>
              Pick
            </button>
          </div>
        </div>
        <select id="car_engine" data-ng-model="cmey.engine.id" class="form-control"
                data-ng-options="item.id as item.name for item in carengines | orderBy:'name'"
                data-ng-disabled="carengines == null || carengines.length == 0"
                placeholder="Choose engine..." class="form-control input-sm"></select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <div>
          <label class="control-label" for="car_year">
            Car Year
            <button data-ng-click="onClearYear(cmeyForm)" data-ng-disabled="cmey.year.name == null" class="btn btn-link btn-sm">
              <i class="fa fa-times"></i>
            </button>
          </label>
          <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-success btn-sm" data-ng-click="pickCarYear()">
              <i class="fa fa-bullseye"></i>
              Pick
            </button>
          </div>
        </div>
        <input id="car_year" type="number" name="car_year" class="form-control input-sm"
               data-ng-model="cmey.year.name"
               data-ng-model-options="{ debounce: 500 }"
               data-ng-maxlength="4"
               data-ng-min="1900"
               data-ng-pattern="/^[0-9]*$/"
               data-ng-change="onChangeYear()" maxlength="255">
        <span data-ng-show="cmeyForm.car_year.$viewValue != '' && cmeyForm.car_year.$dirty && cmeyForm.car_year.$valid && !carYearExists" class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          <span>This year is not existing and will be added automatically.</span>
        </span>
        <span data-ng-show="cmeyForm.car_year.$dirty && cmeyForm.car_year.$invalid" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span data-ng-show="cmeyForm.car_year.$error.min || cmeyForm.car_year.$error.pattern || cmeyForm.car_year.$error.maxlength">Invalid year!</span>
        </span>
      </div>
    </div>
  </div>

</form>
