<metanav>
</metanav>

<h1>Sources Names List</h1>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <form name="forms.create" class="form-inline" style="margin-bottom:8px;">
      <div class="form-group">
        <input id="new-name" type="text" class="form-control" placeholder="New source name" data-ng-model="data.newName" required data-ng-maxlength="255" unique-changelog-source-name>
      </div>
      <button class="btn btn-success btn-sm" data-ng-model="data.newName" data-ng-click="onCreate()" data-ng-disabled="forms.create.$invalid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
    <form name="forms.edit" novalidate>
      <table data-ng-table="sourcesNamesTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="rec in $data">
        <td title="'Name'" sortable="'name'" class="text-left">
          <span data-ng-if="rec.id !== sourceName.id">{{rec.name}}</span>
          <input data-ng-if="mode==='edit' && rec.id === sourceName.id" type="text" data-ng-model="sourceName.name" data-ng-maxlength="255" required unique-changelog-source-name>
        </td>
        <td class="actions" title="'Actions'">
          <button type="button" data-ng-click="onEdit(rec)" class="btn btn-warning btn-xs" data-ng-hide="mode==='edit' && rec.id === sourceName.id" data-ng-disabled="mode==='edit' && rec.id !== sourceName.id">
            <i class="fa fa-cog"></i> Modify
          </button>
          <button type="button" data-ng-click="onRemove(rec)" class="btn btn-danger btn-xs" data-ng-hide="mode==='edit' && rec.id === sourceName.id" data-ng-disabled="mode==='edit' && rec.id !== sourceName.id">
            <i class="fa fa-trash-o"></i> Remove
          </button>
          <button type="button" data-ng-click="onSave()" class="btn btn-success btn-xs" data-ng-show="mode==='edit' && rec.id===sourceName.id" data-ng-disabled="forms.edit.$pristine || forms.edit.$invalid || forms.edit.$pending" >
            <i class="fa fa-save"></i> Save
          </button>
          <button type="button" data-ng-click="onRevert()" class="btn btn-warning btn-xs" data-ng-show="mode==='edit' && rec.id===sourceName.id" data-ng-disabled="forms.edit.$pristine">
            <i class="fa fa-undo"></i>
            Revert
          </button>
          <button type="button" data-ng-click="onCancel()" class="btn btn-warning btn-xs" data-ng-show="mode==='edit' && rec.id===sourceName.id">
            <i class="fa fa-minus-circle"></i> Cancel
          </button>
        </td>
      </tr>
      </table>
    </form>
  </div>
</div>
