<div class="modal-header">
    <h3>{{data.title}}</h3>
</div>

<div class="modal-body">
    <form name="form" role="form" class="form-horizontal">

        <div class="form-group">
            <label class="col-xs-3">Name</label>
            <div class="col-xs-8">
                <input class="form-control input-small"
                       data-ng-model="name"
                       required/>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" data-ng-click="respond(name)">{{data.respondButton}}</button>
</div>
