<div class="modal-header">
  <h3 class="modal-title">Password Reset</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <p>Are you sure?</p>
      <p>Do you really want to reset password for <mark>{{username}}</mark>?</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="onConfirmPasswordResetConfirmDlg()">Yes</button>
  <button type="button" class="btn btn-default" ng-click="onClosePasswordResetConfirmDlg()">No</button>
</div>
