<metanav />

<h1 class="padding-top">Search All Sales Notes</h1>

<form data-ng-submit="notesTableParams.reload()" class="form-inline" style="left-padding:0;">

  <div id="fltrStates" class="btn-group" style="padding-right:3em;">
    <label data-ng-repeat="state in SalesNotes.states" class="btn btn-success" uib-btn-checkbox data-ng-model="states.current[state]">{{state}}</label>
  </div>

  <div id="fltrPrimary" class="btn-group">
    <label class="btn btn-primary" uib-btn-checkbox data-ng-model="search.includePrimary">Primary</label>
    <label class="btn btn-primary" uib-btn-checkbox data-ng-model="search.includeRelated">Related</label>
  </div>

  <div id="fltrOther" class="form-group pull-right">
    <input id="part-number" class="form-control" size="15" type="text" placeholder="Primary Part" data-ng-model="search.partNumber" data-ng-model-options="{debounce:300}">
    <input id="comment" class="form-control" size="25" type="text" placeholder="Comment" data-ng-model="search.comment" data-ng-model-options="{debounce:300}">
  </div>

</form>

<div class="row">
  <div class="col-xs-12" style="padding-top:0.5em;">
    <table data-ng-table="notesTableParams" class="table table-bordered table-striped table-hover table-responsive table-condensed">
      <tr data-ng-repeat="row in $data">
        <td title="'Created'" data-sortable="'createDate'" class="text-nowrap">
          {{row._source.createDate | date : "yyyy-MM-dd HH:mm" }}
        </td>
        <td title="'Primary Part'" data-sortable="'pk.part.manufacturerPartNumber.lower_case_sort'" class="text-nowrap">
          {{row._source.pk.part.manufacturerPartNumber}}
        </td>
        <td title="'Note'" data-sortable="'pk.salesNote.comment.lower_case_sort'">
          {{row._source.pk.salesNote.comment}}
        </td>
        <td title="'State'" data-sortable="'pk.salesNote.state'" class="text-center">
          {{row._source.pk.salesNote.state}}
        </td>
        <td class="text-nowrap" title="'Actions'">

          <a data-ng-href="/part/{{row._source.primaryPartId}}/sales_note/{{row._source.pk.salesNote.id}}" authorize="ROLE_SALES_NOTE_READ" class="btn btn-primary btn-xs">
            <span class="fa fa-file-text-o"></span> View Note
          </a>

          <button data-ng-click="SalesNotes.submit(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_SUBMIT" data-ng-if="SalesNotes.canSubmit(row._source.pk.salesNote)" class="btn btn-info btn-xs">
            <span class="fa fa-check-square"></span> Submit
          </button>

          <button data-ng-click="SalesNotes.publish(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_PUBLISH" data-ng-if="SalesNotes.canPublish(row._source.pk.salesNote)" class="btn btn-primary btn-xs">
            <span class="fa fa-cloud-upload"></span> Publish
          </button>

          <button data-ng-click="SalesNotes.approve(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_APPROVE" data-ng-if="SalesNotes.canApprove(row._source.pk.salesNote)" class="btn btn-success btn-xs">
            <span class="fa fa-thumbs-up"></span> Approve
          </button>

          <button data-ng-click="SalesNotes.reject(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_REJECT" data-ng-if="SalesNotes.canReject(row._source.pk.salesNote)" class="btn btn-danger btn-xs">
            <span class="fa fa-thumbs-down"></span> Reject
          </button>

          <button data-ng-click="SalesNotes.retract(row._source.pk.salesNote)" authorize="ROLE_SALES_NOTE_RETRACT" data-ng-if="SalesNotes.canRetract(row._source.pk.salesNote)" class="btn btn-warning btn-xs">
            <span class="fa fa-cloud-download"></span> Retract
          </button>

        </td>
      </tr>
      <tr data-ng-hide="$data.length > 0">
        <td colspan="5">Sales notes not found.</td>
      </tr>
    </table>
  </div>
</div>
