<metanav>
  <li>
    <a data-ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a data-ng-click="save()"
       data-ng-disabled="pickedPart == null || restService.status.bomRebuilding"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Add Alternate
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part"></h1>

<div class="row">

  <!-- Bill of Materials -->
  <div class="col-xs-6">
    <h3>Part BOM</h3>
    <part-table parts="bom" key="child"></part-table>
  </div>

  <!-- BOM Item -->
  <div class="col-xs-6">
    <h3>BOM Item</h3>
    <part-summary part="bomItem.child"></part-summary>
  </div>
</div>

<div class="row">

  <!-- Current Alternates -->
  <div class="col-xs-6">
    <h3>Current Alternates</h3>
    <part-table parts="bomItem.alternatives" key="part" extra-columns="{&quot;Alt Group #&quot;: &quot;item.header.id&quot;}"></part-table>
  </div>

  <!-- Picked Alternate -->
  <div class="col-xs-6">
    <h3>Picked Part</h3>
    <part-summary part="pickedPart" data-ng-show="pickedPart"></part-summary>
    <div data-ng-show="pickedPart" class="input-group">
    </div>
    <div data-ng-hide="pickedPart" class="well well-sm">
      Pick an alternate part to add.
    </div>
  </div>
</div>

<hr/>

<part-search part-types="partTypes" class="well well-lg">

  <a authorize="ROLE_READ"
     data-ng-href="/part/{{partId}}"
     class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a authorize="ROLE_BOM"
     data-ng-click="pickPart(partId)"
     class="btn btn-success btn-xs">
    <i class="fa fa-bullseye"></i>
    Pick
  </a>

</part-search>
