<metanav>
  <li>
    <button data-ng-click="showPart(part.id)"
       class="btn btn-primary btn-lg">
      <i class="fa fa-eye"></i>
      View Part
    </button>
  </li>
  <li>
    <button data-ng-click="save()"
       data-ng-disabled="isBttnSaveDisabled() || ppForm.$invalid"
       class="btn btn-success btn-lg">
      <i class="fa fa-save"></i>
      Add to Parent BOMs
    </button>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Add to Parent BOM"></h1>

<div class="row">

  <!-- Bill of Materials -->
  <div class="col-xs-6">
    <h3>Existing Parent BOMs</h3>
    <table data-ng-table="bomTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="b in $data">
        <td title="'Part Type'" data-sortable="'part.partType.name'">
          {{b.part.partType.name}}
        </td>
        <td title="'Manufacturer'" data-sortable="'part.manufacturer.name'">
          {{b.part.manufacturer.name}}
        </td>
        <td title="'Part#'" class="text-center text-nowrap" data-sortable="'part.partNumber'">
          <a data-ng-href="/part/{{b.part.partId}}" target="_blank" authorize="ROLE_READ">
            {{b.part.partNumber}}
          </a>
        </td>
        <td title="'Qty'" class="text-right" data-sortable="'qty'">
          {{b.qty}}
        </td>
        <td title="'Actions'" class="actions text-center">
          <button data-ng-click="removeBom(b.part.partId)"
                  authorize="ROLE_BOM" class="btn btn-danger btn-xs">
            <i class="fa fa-trash-o"></i> Remove
          </button>
        </td>
      </tr>

      <tr data-ng-hide="$data.length > 0">
        <td colspan="5">No parts to display.</td>
      </tr>

    </table>

  </div>

  <!-- Picked BOM Item -->
  <div class="col-xs-6">
    <h3>
      Picked Parts
      <button type="button" title="Unpick All" data-ng-click="unpickAll()" data-ng-disabled="isBttnUnpickAllDisabled()" class="btn btn-link btn-sm" style="padding:0;">
        <i class="fa fa-times"></i>
      </button>
    </h3>
    <form name="ppForm">
      <table data-ng-table="pickedPartsTableParams" class="table table-bordered table-striped table-hover table-responsive">
        <tr data-ng-repeat="rec in $data">
          <td title="'Part Type'" class="text-nowrap">{{rec.partType.name}}</td>
          <td title="'Part#'" class="text-nowrap">
            <a data-ng-href="/part/{{rec.id}}" target="_blank" authorize="ROLE_READ">
              {{rec.manufacturerPartNumber}}
            </a>
          </td>
          <td title="'Qty'">
            <input type="number" data-ng-model="rec.extra.qty" data-ng-min="0" style="width:5em;" required />
          </td>
          <td title="'Existing BOM'">
            <span class="text-nowrap">
              <a data-ng-href="/part/{{rec.extra.existingBoms[0].part.partId}}">{{rec.extra.existingBoms[0].part.partNumber}}</a>
            <span data-ng-show="rec.extra.existingBoms.length > 1">,</span></span>
            &nbsp;<a href="#" title="See more..." data-ng-show="rec.extra.existingBoms.length > 1" data-ng-click="displayExistingBOMs(rec)">...</a>
          </td>
          <td title="'Resolution'">
            <select data-ng-model="rec.extra.resolution" data-ng-disabled="!rec.extra.existingBoms.length" required>
              <option></option>
              <option value="REPLACE">Replace Existing</option>
              <option value="ADD">Add to Existing</option>
            </select>
          </td>
          <td class="actions text-center" title="'Actions'">
            <button type="button" class="btn btn-danger btn-xs" data-ng-click="unpick(rec.id)">
              <i class="fa fa-times"></i>
              Unpick
            </button>
          </td>
        </tr>
        <tr data-ng-hide="$data.length > 0">
          <td colspan="6">No picked parts.</td>
        </tr>
      </table>
    </form>
  </div>

</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <part-search on-press-enter-callback="cbPickOnEnter(searchResults)">
      <a authorize="ROLE_READ" data-ng-href="/part/{{$part._source.id}}" target="_blank" class="btn btn-primary btn-xs">
        <i class="fa fa-eye"></i> View
      </a>
      <button type="button" authorize="ROLE_BOM"
              data-ng-disabled="isBttnPickDisabled($part._source)"
              data-ng-click="pick($part._source)"
              class="btn btn-success btn-xs">
        <i class="fa fa-bullseye"></i> Pick
      </button>
    </part-search>
  </div>
</div>

