<metanav>
  <li>
    <button data-ng-click="showPart(part.id)"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </button>
  </li>
  <li>
    <button data-ng-click="save()"
       data-ng-disabled="isBttnSaveDisabled() || ppForm.$invalid"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Add to Parent BOMs
    </button>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Add to Parent BOM"></h1>

<div class="row">

  <!-- Bill of Materials -->
  <div class="col-xs-12 col-md-5">
    <h3>Existing Parent BOMs</h3>
    <table data-ng-table="bomTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="bomItem in $data">
        <td title="'Type'" data-sortable="'parent.partType.name'">
          {{bomItem.parent.partType.name}}
        </td>
        <td title="'Manufacturer'" data-sortable="'parent.manufacturer.name'">
          {{bomItem.parent.manufacturer.name}}
        </td>
        <td title="'Part #'" class="text-center text-nowrap" data-sortable="'parent.manufacturerPartNumber'">
          {{bomItem.parent.manufacturerPartNumber}}
        </td>
        <td title="'Qty'" class="text-right" data-sortable="'quantity'">
          {{bomItem.quantity}}
        </td>
        <td title="'Actions'" class="actions text-center">
          <a data-ng-href="/part/{{bomItem.parent.id}}"
             authorize="ROLE_READ" class="btn btn-primary btn-xs">
            <i class="fa fa-eye"></i> View
          </a>
          <button data-ng-click="removeBOM($index)"
                  data-ng-disabled="restService.status.bomRebuilding"
                  authorize="ROLE_BOM" class="btn btn-danger btn-xs">
            <i class="fa fa-trash-o"></i> Remove
          </button>
        </td>
      </tr>

      <tr data-ng-hide="$data.length > 0">
        <td colspan="5">No parts to display.</td>
      </tr>

    </table>

  </div>

  <!-- Picked BOM Item -->
  <div class="col-xs-12 col-md-7">
    <h3>Picked Parts</h3>
    <form name="ppForm">
      <table data-ng-table="pickedPartsTableParams" class="table table-bordered table-striped table-hover table-responsive">
        <tr data-ng-repeat="rec in $data">
          <td title="'Part Type'" class="text-nowrap">{{rec.partType.name}}</td>
          <td title="'Part #'" class="text-nowrap">{{rec.manufacturerPartNumber}}</td>
          <td title="'Qty'">
            <input type="number" data-ng-model="rec.extra.qty" data-ng-min="0" style="width:5em;" required />
          </td>
          <td title="'Existing BOM'">
            <span class="text-nowrap">{{rec.extra.existingBoms[0].child.manufacturerPartNumber}}<span data-ng-show="rec.extra.existingBoms.length > 1">,</span></span>
            &nbsp;<a href="#" title="See more..." data-ng-show="rec.extra.existingBoms.length > 1" data-ng-click="displayExistingBOMs(rec)">...</a>
          </td>
          <td title="'Resolution'">
            <select data-ng-model="rec.extra.resolution" required>
              <option></option>
              <option value="REPLACE">Replace Existing</option>
              <option value="ADD">Add to Existing</option>
            </select>
          </td>
          <td class="actions text-center" title="'Actions'">
            <button type="button" class="btn btn-danger btn-xs" data-ng-click="unpick($index)">
              <i class="fa fa-times"></i>
              Unpick
            </button>
          </td>
        </tr>
        <tr data-ng-hide="$data.length > 0">
          <td colspan="6">No picked parts.</td>
        </tr>
      </table>
    </form>
  </div>

</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <part-search>
      <a authorize="ROLE_READ" data-ng-href="/part/{{$part._source.id}}" class="btn btn-primary btn-xs">
        <i class="fa fa-eye"></i> View
      </a>
      <button type="button" authorize="ROLE_BOM"
              data-ng-click="pick($part._source)"
              data-ng-disabled="isBttnPickDisabled($part._source)"
              class="btn btn-success btn-xs">
        <i class="fa fa-bullseye"></i> Pick
      </button>
    </part-search>
  </div>
</div>

