<metanav>
  <li>
    <a data-ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a data-ng-click="save()"
       data-ng-disabled="pickedPart == null || restService.status.bomRebuilding"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Add BOM Item
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Add BOM Item"></h1>

<div class="row">

  <!-- Bill of Materials -->
  <div class="col-xs-6">
    <h3>Part BOM</h3>
    <part-table parts="bom" key="child" extra-columns="{&quot;Qty&quot;:&quot;item.quantity&quot;}"></part-table>
  </div>

  <!-- Picked BOM Item -->
  <div class="col-xs-6">
    <h3>Picked Part</h3>
    <part-summary part="pickedPart" data-ng-show="pickedPart"></part-summary>

    <div class="form-group" data-ng-show="pickedPart">
      <label for="quantity-input" class="col-sm-2 control-label">Qty</label>

      <div>
        <input type="text" data-ng-model="bomItem.quantity" class="form-control" id="quantity-input" placeholder="Quantity">
      </div>
    </div>
    <div data-ng-hide="pickedPart" class="well well-sm">
      Pick a part to add to the bill of materials.
    </div>
  </div>

</div>

<hr/>

<part-search class="well well-lg">
  <a authorize="ROLE_READ" data-ng-href="/part/{{$part._source.id}}" class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i> View
  </a>
  <button type="button" authorize="ROLE_BOM"
     data-ng-click="pickBomItemPart($part._source.id, part.manufacturer.id == $part._source.manufacturer.id)"
     data-ng-disabled="part.manufacturer.id != $part._source.manufacturer.id || part.id == $part._source.id || $part._source.id == pickedPart.id"
     class="btn btn-success btn-xs">
    <i class="fa fa-bullseye"></i> Pick
  </button>
</part-search>


