<metanav>
  <li>
    <a ng-href="/part/{{ partId }}"
       class="btn btn-primary">
      <i class="fa fa-eye"></i>
      View Part
    </a>
  </li>

  <li>
    <a ng-click="save()"
       ng-disabled="pickedPart == null || restService.status.bomRebuilding"
       class="btn btn-success">
      <i class="fa fa-save"></i>
      Add BOM Item
    </a>
  </li>
</metanav>

<h1 class="padding-top" part-name="part" part-name-suffix="Add BOM Item"></h1>

<div class="row">

  <!-- Bill of Materials -->
  <div class="col-xs-6">
    <h3>Part BOM</h3>
    <part-table parts="part.bom" key="child" extra-columns="{&quot;Qty&quot;:&quot;item.quantity&quot;}"></part-table>
  </div>

  <!-- Picked BOM Item -->
  <div class="col-xs-6">
    <h3>Picked Part</h3>
    <part-summary part="pickedPart" ng-show="pickedPart"></part-summary>

    <div class="form-group" ng-show="pickedPart">
      <label for="quantity-input" class="col-sm-2 control-label">Qty</label>

      <div>
        <input type="text" ng-model="bomItem.quantity" class="form-control" id="quantity-input" placeholder="Quantity">
      </div>
    </div>
    <div ng-hide="pickedPart" class="well well-sm">
      Pick a part to add to the bill of materials.
    </div>
  </div>
</div>

<hr/>

<part-search class="well well-lg">

  <a authorize="ROLE_READ"
     ng-href="/part/{{partId}}"
     class="btn btn-primary btn-xs">
    <i class="fa fa-eye"></i>
    View
  </a>

  <a authorize="ROLE_BOM"
     ng-click="pickBomItemPart(partId)"
     class="btn btn-success btn-xs">
      <i class="fa fa-bullseye"></i>
    Pick
  </a>

</part-search>
