<div data-ng-controller="SearchFacetsCtrl">
    <div data-ng-repeat="(facetName, facet) in search.filterFacets(searchResults.facets)">
        <h2 facet-friendly-name="facetName"></h2>

        <ul>
            <li data-ng-repeat="term in filterTerms(facetName, facet)">
                <span data-ng-show="isTermSelected(facetName, term)">
                    {{term.term}} <a href="javascript:;" data-ng-click="removeFacetFilter(facetName)">(Remove)</a>
                </span>
                <span data-ng-hide="isTermSelected(facetName, term)">
                    <a href="javascript:;" data-ng-click="setFacetFilter(facetName, term.term)">{{term.term}}</a> ({{term.count}})
                </span>
            </li>
        </ul>
    </div>
</div>
