<metanav />

<subnav authorize="ROLE_APPLICATION_CRUD" item="make">

  <li>
    <a class="btn btn-success" data-ng-href="/application/carmake/form">
      <i class="fa fa-wrench"></i>
      Create Make
    </a>
  </li>

</subnav>

<h1>Make List</h1>

<carmake-search class="well well-lg">

  <button data-ng-click="modifyStart(rec._source, carmakeForm)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-warning btn-xs" data-ng-hide="isModifying(rec._source)">
    <i class="fa fa-cog"></i> Modify
  </button>
  <button data-ng-click="remove(rec._source.id, rec._source.name)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-danger btn-xs" data-ng-hide="isModifying(rec._source)">
    <i class="fa fa-trash-o"></i> Remove
  </button>
  <button data-ng-click="modifySave(rec._source, carmakeForm)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-success btn-xs ng-hide" data-ng-show="isModifying(rec._source)"  data-ng-disabled="carmakeForm.$pristine || carmakeForm.$invalid || carmakeForm.$pending">
    <i class="fa fa-save"></i> Save
  </button>
  <button data-ng-click="modifyCancel(rec._source, carmakeForm)" class="btn btn-warning btn-xs ng-hide" data-ng-show="isModifying(rec._source)">
    <i class="fa fa-minus-circle"></i> Cancel
  </button>

</carmake-search>
