<metanav authorize="ROLE_APPLICATION_CRUD" />

<subnav authorize="ROLE_APPLICATION_CRUD" item="make">

  <li>
    <a class="btn btn-success" ng-href="/application/carmake/form">
      <i class="fa fa-wrench"></i>
      Create Make
    </a>
  </li>

</subnav>

<h1>Make List</h1>

<carmake-search class="well well-lg">

  <button ng-click="modifyStart(rec._source)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-warning btn-xs" ng-hide="isModifying(rec._source)">
    <i class="fa fa-cog"></i> Modify
  </button>
  <button ng-click="remove(rec._source.id, rec._source.name)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-danger btn-xs" ng-hide="isModifying(rec._source)">
    <i class="fa fa-trash-o"></i> Remove
  </button>
  <button ng-click="modifySave(rec._source)" authorize="ROLE_APPLICATION_CRUD" class="btn btn-success btn-xs ng-hide" ng-show="isModifying(rec._source)">
    <i class="fa fa-save"></i> Save
  </button>
  <button ng-click="modifyCancel(rec._source)" class="btn btn-warning btn-xs ng-hide" ng-show="isModifying(rec._source)">
    <i class="fa fa-minus-circle"></i> Cancel
  </button>

</carmake-search>
