<div class="modal-header">
  <h3>Add Turbo Type</h3>
</div>

<div class="modal-body">
  <div class="row">
    <label class="col-xs-3">Manufacturer</label>
    <picker class="col-push-1 col-xs-8"
            data-ng-model="selection.manufacturer"
            item-type="other/manufacturer"></picker>
  </div>

  <div class="row">
    <div data-ng-disabled="!turboTypes" class="form-group">
      <label class="col-xs-3 control-label">Turbo Type</label>
      <input data-ng-model="filter" class="form-control input-sm" placeholder="Turbo type filter..."/>
      <br/>
      <select data-ng-model="selection.turboType"
              data-ng-options="turboType as turboType.name for turboType in turboTypes | filter:{name:filter}"
              data-ng-disabled="turboTypes.length == 0"
              size="15" class="select-large required form-control">
      </select>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" data-ng-click="add()" data-ng-disabled="!selection.turboType">Add Type</button>
</div>
