<div class="modal-header">
  <h3 class="modal-title">View</h3>
</div>
<div class="modal-body">

  <ul id="tabsChangelog" class="nav nav-tabs" role="tablist">
    <li role="presentation">
      <a href="#changelog_details" aria-controls="details" role="tab" data-toggle="tab">
        <i class="fa fa-bars"></i>
        Details
      </a>
    </li>
    <li role="presentation">
      <a href="#changelog_sources" aria-controls="sources" role="tab" data-toggle="tab">
        <i class="fa fa-paperclip"></i>
        Linked Sources
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <div id="changelog_details" role="tabpanel" class="tab-pane fade" style="padding-top:8px;">

      <div class="row">
        <div class="col-xs-12">
          <label for="log_date" style="width: 10em;">Date</label>
          <span id="log_date">{{date | date : "yyyy-MM-dd HH:mm.ss"}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="log_user" style="width: 10em;">User</label>
          <span id="log_user">{{user.name}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="log_description">Description</label>
          <pre id="log_description" style="max-height: 10em;">{{description}}</pre>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="log_data">Data</label>
          <pre id="log_data" style="max-height: 15em;">{{changes | json : 2}}</pre>
        </div>
      </div>

    </div>

    <div id="changelog_sources" role="tabpanel" class="tab-pane fade" style="padding-top:8px;">
      <div data-ng-show="!changelogSourceLink">
        There are no any linked sources.
      </div>

      <div data-ng-show="changelogSourceLink">

        <form class="form-horizontal" novalidate>
          <div class="form-group">
            <label class="col-sm-2 control-label">User</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{changelogSourceLink.createUser.name}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Created</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{changelogSourceLink.created | date : "yyyy-MM-dd HH:mm.ss"}}</p>
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{changelogSourceLink.description}}</p>
            </div>
          </div>
        </form>

        <table data-ng-table="changelogSourcesTableParams" class="table table-bordered table-striped table-hover table-responsive">
        <tr data-ng-repeat="rec in $data">
          <td title="'Name'">
            {{rec.pk.source.name}}
          </td>
          <td title="'Description'" class="text-left">
            {{rec.pk.source.description}}
          </td>
          <td title="'Source Name'">
            {{rec.pk.source.sourceName.name}}
          </td>
          <td title="'Rating'" class="text-center">
            <span uib-rating max="5" read-only="readonly" data-ng-model="rec.rating"></span>
          </td>
          <td title="'Created'" class="text-center">
            {{rec.pk.source.created | date : "yyyy-MM-dd HH:mm.ss"}}
          </td>
          <td class="actions text-center" title="'Actions'">
            <button data-ng-click="onSourceView(rec.pk.source.id)" class="btn btn-primary btn-xs">
              <i class="fa fa-eye"></i> View
            </button>
          </td>
        </tr>

        <tr data-ng-hide="$data.length > 0">
          <td colspan="6">No linked sources.</td>
        </tr>

        </table>

      </div>

    </div>

  </div>

</div>


<div class="modal-footer">
  <button type="button" class="btn btn-default" data-ng-click="onCloseViewDlg()">Close</button>
</div>

<script>
  $('#tabsChangelog a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $('#tabsChangelog a:first').tab('show');
</script>
