$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:   "../bower_components/fontawesome/fonts/";
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/fontawesome/scss/font-awesome";

/* Mixins */
@mixin rounded {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; /* future proofing */
  -khtml-border-radius: 6px; /* for old Konqueror browsers */
}

@mixin border-1 {
  border: 1px solid black;
}

/* General */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px;
  background-image: url("../images/bg.gif");
  background-repeat: repeat;
  padding-top: 50px;
}

h1:first-of-type {
  margin-top: 0;
  line-height: 36px;
}

.facet-header {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.list-bottom-border {
  padding-bottom: 10px;
  border-bottom: 1px #DDDDDD solid;
}

table.info-form {
  width: 100%;
  margin-bottom: 10px;
}

td.val {
  color: #333;
  font-size: small;
  font-weight: normal;
  padding: 6px;
}

td.label {
  color: #333;
  font-size: small;
  font-weight: bold;
  padding: 6px;
}

.even {
  background-color: #ffffff;
}

.odd {
  background-color: #efefef;
}

.table {
  thead {
    font-size: 14px;
    tr {
      th {
        padding: 2px 8px;
        line-height: 14px;
        vertical-align: middle;
      }
    }
  }
  tbody {
    font-size: 12px;
    tr {
      td {
        padding: 2px 8px;
        line-height: 12px;
        vertical-align: middle;
      }
    }
  }
}

.padding-top {
  padding-top: 20px;
}
/* WHY: This makes modals invisible. Why is it here?
.modal {
  display: block;
  height: 0; // Invisible modals
  overflow: visible;
}*/

.picker {
  div[class*='col-'] {
    padding-right: 0;
  }
  button {
    margin-left: -15px;
  }
}

/* Fix for pagination in ngTable. */
/*
.ng-table-pagination {
  margin-top: 0;
}
*/

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #ddd;
}

.navbar-inverse {
  background-color: #3A5A98;
  border-color: #090909;
}

#partTabs > li {
  float: left;
  margin-bottom: -1px;
  background-color: transparent;
}

#partTabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background-color: #859994; /*#555E7B;*/
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

#partTabs > li > a:hover {
  text-decoration: underline;
  background-color: #000;
  color: #fff;
}

#partTabs > li.active > a,
#partTabs > li.active > a:hover,
#partTabs > li.active > a:focus {
  text-decoration: underline;
  color: #333;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

#atTabs > li {
  float: left;
  margin-bottom: -1px;
  background-color: transparent;
}

#atTabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background-color: #859994; /*#555E7B;*/
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

#atTabs > li > a:hover {
  text-decoration: underline;
  background-color: #000;
  color: #fff;
}

#atTabs > li.active > a,
#atTabs > li.active > a:hover,
#atTabs > li.active > a:focus {
  text-decoration: underline;
  color: #333;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-part-detail {
  padding: 20px 10px;
  background-color: #FFF;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

div.no-image {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-width: 0;
  background-image: url("../images/no-image.png");
}

/**
 * Critical dimensions.
 */

table.critical-dimensions {
  /* Marker, to define styles for child elements. Don't remove! */
}

table.critical-dimensions input {
  line-height: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

form .ng-invalid {
  border: 1px solid #a94442;
  background-color: #f2dede;
}

.alert {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.tool-control {
  margin: 5px 0;
}

td.actions {
  white-space: nowrap;
  width: 100px;
}

.clicked-row {
  cursor:pointer;
}

form.table-top-form {
  padding: 6px 6px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

div.tolerance {
  display: inline-block;
}

/* Autocomplete */

.highlight {
  color: #ff0000;
}

.angucomplete-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: 250px;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  /*top: 32px;
  left: 0px;
  */
  margin-top: -6px;
  background-color: #ffffff;
  overflow-y: auto;
  max-height: 200px;
}

.angucomplete-description {
  font-size: 10px;
  color: #777;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.part-state {
  padding: 3px 5px;
}

.btn-h4 {
  margin-top: 4px;
}

/* GTOAST */
.gtoast {
  position: absolute;
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  z-index: 10098;
  top: 30px;
  left: 0px;
  font-weight: bold;
}

.gtoast-dialog {
  text-align: center;
  display: inline-block;
  z-index: 10099;
}

.gtoast-default-theme {
  font-size: 80%;
  line-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gtoast-default-theme.gtoast-dialog, .gtoast-default-theme .gtoast-dialog {
  border: solid 1px #f0c36d;
  background: #f9edbe;
  padding: 10px 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* SPINNER */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #FAFA6B;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 10px;
  opacity: .45;
  -moz-box-shadow: #FAFA6B 1px 0 6px 1px;
  -ms-box-shadow: #FAFA6B 1px 0 6px 1px;
  -webkit-box-shadow: #FAFA6B 1px 0 6px 1px;
  box-shadow: #FAFA6B 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 17px;
  left: 6px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #FAFA6B;
  border-left-color: #FAFA6B;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

li.part-icon {
  padding: 6px;
  margin: 4px;
}

img.part-icon {
  max-height: 135px;
  max-width: 135px;
  margin-top: 5px;
  cursor: pointer;
}

.part-img-modal-window .modal-dialog {
  width: 1032px;
}

div.part-panel {
  padding: 10px;
  background-color: #fcf8e3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px;
  -moz-box-shadow: 0 4px 8px;
  -box-shadow: 0 4px 8px;
}

