<metanav />

<h2>Changelog</h2>

<form name="frmFilter" class="row" style="margin-bottom:1em;" data-ng-submit="applyFilter()" novalidate>
  <div class="col-xs-12">
    <div class="row form-inline">
      <div class="col-xs-8">
        <div class="form-group" style="white-space: nowrap;">
          <label style="width:6em;">Date</label>
          <input date-range-picker class="form-control date-picker" type="text" ng-model="search.date" options="datePickerOptions" />
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="ctrl-user">User</label>
          <div style="display:inline-block" ng-dropdown-multiselect="" options="users" selected-model="search.users" extra-settings="{keyboardControls: true, scrollable: true, scrollableHeight: '400px'}">
          </div>
        </div>
      </div>
      <div class="col-xs-1">
        <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="frmFilter.$invalid"><i class="fa fa-search" aria-hidden="true"></i> Apply</button>
      </div>
    </div>
    <div class="row form-inline">
      <div class="col-xs-3">
         <div class="form-group">
          <label for="ctrl-service" style="width:6em;">Service</label>
          <div style="display:inline-block" ng-dropdown-multiselect="" options="services" selected-model="search.services" extra-settings="{keyboardControls: true}">
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <label for="ctrl-description" style="width:6em;">Description</label>
          <input id="ctrl-description" type="text" class="form-control" data-ng-model="search.description" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="ctrl-data">Data</label>
          <input id="ctrl-data" type="text" class="form-control" data-ng-model="search.data" />
        </div>
      </div>
    </div>
  </div>
</form>

<hr>

<uib-tabset type="tabs">
  <uib-tab index="0" select="onChangeTab('changelog_tab_facts')">
    <uib-tab-heading>
      <div class="tab-head">
        <div class="tab-title">
          <i class="fa fa-list-ol" aria-hidden="true"></i>
          Facts
        </div>
      </div>
    </uib-tab-heading>
    <div role="tabpanel" class="tab-pane tab-part-detail">
      <data-ng-include src="'/views/changelog/TabFacts.html'"></data-ng-include>
    </div>
  </uib-tab>
  <uib-tab index="1" select="onChangeTab('changelog_tab_aggregation')">
    <uib-tab-heading>
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Aggregation
    </uib-tab-heading>
    <div role="tabpanel" class="tab-pane tab-part-detail">
      <data-ng-include src="'/views/changelog/TabAggregation.html'"></data-ng-include>
    </div>
  </uib-tab>
</uib-tabset>

