<metanav />

<h2>Changelog</h2>

<form name="frmFilter" class="row" style="margin-bottom:1em;" data-ng-submit="applyFilter()" novalidate>
  <div class="col-xs-12">
    <div class="row form-inline">
      <div class="col-xs-7">
        <div class="form-group" style="white-space: nowrap;">
          <label style="width:6em;">Date</label>
          <p class="input-group">
            <input type="text" class="form-control" data-ng-model="search.startDate" uib-datepicker-popup="{{::dateFormat}}" is-open="opened.startDate" close-text="Close">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-ng-click="openStartDateCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          &#8230;
          <p class="input-group">
            <input type="text" class="form-control" data-ng-model="search.finishDate" uib-datepicker-popup="{{::dateFormat}}" is-open="opened.finishDate" close-text="Close">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-ng-click="openFinishDateCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="ctrl-user">User</label>
          <select id="ctrl-user" class="form-control" data-ng-model="search.user" data-ng-options="u.name for u in users | orderBy:'name' track by u.id">
            <option></option>
          </select>
        </div>
      </div>
      <div class="col-xs-1">
        <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="frmFilter.$invalid"><i class="fa fa-search" aria-hidden="true"></i> Apply</button>
      </div>
    </div>
    <div class="row form-inline">
      <div class="col-xs-7">
        <div class="form-group">
          <label for="ctrl-description" style="width:6em;">Description</label>
          <input id="ctrl-description" type="text" class="form-control" data-ng-model="search.description" />
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <label for="ctrl-data">Data</label>
          <input id="ctrl-data" type="text" class="form-control" data-ng-model="search.data" />
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row" style="margin-top:0.1em">
  <div class="col-xs-12">
    <table data-ng-table="changelogTableParams" class="table table-bordered table-striped">
      <tr data-ng-repeat="rec in $data">
        <td title="'Date'" data-sortable="'changeDate'" class="text-center text-nowrap">{{rec.changeDate | date : "yyyy-MM-dd HH:mm.ss"}}</td>
        <td title="'User'" data-sortable="'user.name'" class="text-nowrap"><a data-ng-href="security/user/{{rec.user.id}}">{{rec.user.name}}</a></td>
        <td title="'Description'">{{rec.description}}</td>
        <td title="'Actions'" class="actions text-center">
          <button class="btn btn-primary btn-xs" data-ng-click="onOpenViewDlg(rec)"><i class="fa fa-eye"></i> View </button>
        </td>
      </tr>
      <tr data-ng-hide="$data.length > 0">
        <td colspan="4">No records to display.</td>
      </tr>
    </table>
  </div>
</div>
