<div class="row">
  <div class="col-xs-12">
    <div data-ng-show="aggregationTableParamsLoading">
      Loading...
    </div>
    <div data-ng-hide="aggregationTableParamsLoading">
      <table data-ng-table="changelogAggregationTableParams" data-ng-table-columns-binding="tblAggrMeta.cols" class="table table-condensed table-bordered table-striped">
        <tr data-ng-repeat="r in $data">
          <td title="'User'" data-sortable="'user.name'" ng-if="true" class="text-nowrap text-left">
            <a target="_blank" data-ng-href="security/user/{{r.user.id}}">{{r.user.name}}</a>
          </td>
          <td title="'APPLICATIONS'" data-sortable="'applications'" ng-if="true" class="number">
            {{r.applications | number}}
          </td>
          <td title="'BOM'" data-sortable="'bom'" ng-if="true" class="number">
            {{r.bom | number}}
          </td>
          <td title="'CRITICALDIM'" data-sortable="'criticaldim'" ng-if="true" class="number">
            {{r.criticaldim | number}}
          </td>
          <td title="'IMAGE'" data-sortable="'image'" ng-if="true" class="number">
            {{r.image | number}}
          </td>
          <td title="'INTERCHANGE'" data-sortable="'interchange'" ng-if="true" class="number">
            {{r.interchange | number}}
          </td>
          <td title="'KIT'" data-sortable="'kit'" ng-if="true" class="number">
            {{r.kit | number}}
          </td>
          <td title="'MAS90SYNC'" data-sortable="'mas90sync'" ng-if="true" class="number">
            {{r.mas90sync | number}}
          </td>
          <td title="'PART'" data-sortable="'part'" ng-if="true" class="number">
            {{r.part | number}}
          </td>
          <td title="'SALESNOTES'" data-sortable="'salesnotes'" ng-if="true" class="number">
            {{r.salesnotes | number}}
          </td>
          <td title="'TURBOMODEL'" data-sortable="'turbomodel'" ng-if="true" class="number">
            {{r.turbomodel | number}}
          </td>
          <td title="'TURBOTYPE'" data-sortable="'turbotype'" ng-if="true" class="number">
            {{r.turbotype | number}}
          </td>
          <td title="'Grand Total'" data-sortable="'total'" ng-if="true" class="number bg-info" style="border-left: 3px solid #999;font-size:large;"">
            <b>{{r.total | number}}</b>
          </td>
        </tr>
        <tr data-ng-hide="$data.length > 0">
          <td colspan="13">No records to display.</td>
        </tr>
        <tr data-ng-show="$data.length > 0">
          <td style="border-top: 3px solid #999"><b>Grand Total</b></td>
          <td data-ng-if="totalCols.APPLICATIONS.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.APPLICATIONS.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.BOM.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.BOM.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.CRITICALDIM.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.CRITICALDIM.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.IMAGE.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.IMAGE.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.INTERCHANGE.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.INTERCHANGE.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.KIT.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.KIT.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.MAS90SYNC.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.MAS90SYNC.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.PART.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.PART.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.SALESNOTES.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.SALESNOTES.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.TURBOMODEL.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.TURBOMODEL.val | number}}</b>
          </td>
          <td data-ng-if="totalCols.TURBOTYPE.show" class="number bg-info" style="border-top: 3px solid #999;font-size:large;"">
            <b>{{totalCols.TURBOTYPE.val | number}}</b>
          </td>
          <td class="number bg-warning" style="border-left: 3px solid #999;border-top: 3px solid #999;font-size:large;"><b>{{grandTotalRows | number}}</b></td>
        </tr>
      </table>
    </div>
  </div>
</div>
