<div class="modal-header">
  <h3 class="modal-title">Details</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <label for="log_date" style="width: 10em;">Date</label>
      <span id="log_date">{{date | date : "yyyy-MM-dd HH:mm.ss"}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="log_user" style="width: 10em;">User</label>
      <span id="log_user">{{user.name}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="log_description">Description</label>
      <p id="log_description">{{description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="log_data">Data</label>
      <pre id="log_data" style="max-height: 45em;">{{changes | json : 2}}</pre>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-ng-click="onCloseViewDlg()">Close</button>
</div>

