<div id="detailsView" class="row-fluid">

    <a ng-href="#/part/">&lt; Back to Part List</a>

    <h2>{{ partType }} #{{ partId }} <a ng-href="#/part/{{ partType }}/{{ partId }}/edit">Edit</a></h2>

    <dl>
        <dt>Name</dt>
        <dd>{{part.name}}</dd>
    </dl>

    <dl>
        <dt>Description</dt>
        <dd>{{part.description}}</dd>
    </dl>

    <strong ng-show="part.inactive == false">Active</strong>
    <strong ng-show="part.inactive == true">Inactive</strong>

    <dl>
        <dt>Manufacturer</dt>
        <dd>{{part.manufacturer.name}}</dd>
    </dl>

    <dl>
        <dt>Manufacturer P/N</dt>
        <dd>{{part.manufacturerPartNumber}}</dd>
    </dl>

    <!-- Type-specific fields -->
    <div ng-switch="partType">

        <!-- Backplate -->
        <div ng-switch-when="Backplate">
            <dl>
                <dt>Seal Type</dt>
                <dd>{{part.sealType.name}}</dd>
    
                <dl>
                    <dt>Seal Type (freeform)</dt>
                    <dd>{{part.sealTypeString}}</dd>
    
                </dl>
                <dl>
                    <dt>Compressor Wheel Style</dt>
                    <dd>{{part.styleCompressorWheel}}</dd>
    
                </dl>
                <dl>
                    <dt>Overall Diameter</dt>
                    <dd>{{part.overallDiameter}}</dd>
    
                </dl>
                <dl>
                    <dt>Compressor Wheel Diameter</dt>
                    <dd>{{part.compressorWheelDiameter}}</dd>
    
                </dl>
                <dl>
                    <dt>Piston Ring Diameter</dt>
                    <dd>{{part.pistonRingDiameter}}</dd>
    
                </dl>
                <dl>
                    <dt>Compressor Housing Diameter</dt>
                    <dd>{{part.compressorHousingDiameter}}</dd>
    
                </dl>
                <dl>
                    <dt>Secondary Diameter</dt>
                    <dd>{{part.secondaryDiameter}}</dd>
    
                </dl>
                <dl>
                    <dt>Overall Height</dt>
                    <dd>{{part.overallHeight}}</dd>
    
                </dl>
                <dl>
                    <dt>Notes</dt>
                <pre>
                    {{part.notes }}
                </pre>
        </div>
    
        <!-- Bearing Housing -->
        <div ng-switch-when="Bearing Housing">
            <dl>
                <dt>Coolant</dt>
                <dd>{{part.coolType.name}}</dd>
            </dl>
            <dl>
                <dt>Oil Inlet</dt>
                <dd>{{part.oilInlet}}</dd>
            </dl>
            <dl>
                <dt>Oil Outlet</dt>
                <dd>{{part.oilOutlet}}</dd>
            </dl>
            <dl>
                <dt>Oil</dt>
                <dd>{{part.oil}}</dd>
            </dl>
            <dl>
                <dt>Outlet Flange Holes</dt>
                <dd>{{part.outletFlangeHoles}}</dd>
            </dl>
            <dl>
                <dt>Water Ports</dt>
                <dd>{{part.waterPorts}}</dd>
            </dl>
            <dl>
                <dt>Design Features</dt>
                <dd>{{part.designFeatures}}</dd>
            </dl>
            <dl>
                <dt>Bearing Type</dt>
                <dd>{{part.bearingType.name}}</dd>
            </dl>
        </div>
    
        <!-- Bearing Spacer -->
        <div ng-switch-when="Bearing Spacer">
            <dl>
                <dt>Standard Size</dt>
                <dd>{{part.standardSize}}</dd>
            </dl>
            <dl>
                <dt>Oversize</dt>
                <dd>{{part.oversize}}</dd>
            </dl>
            <dl>
                <dt>Outside Diameter (min - max)</dt>
                <dd>{{part.outsideDiameterMin}}</dd> </dl>
            - <dd>{{part.outsideDiameterMax}}</dd>
            </dl>
            <dl>
                <dt>Inside Diameter (min - max)</dt>
                <dd>{{part.insideDiameterMin}}</dd> </dl>
            - <dd>{{part.insideDiameterMax}}</dd>
            </dl>
        </div>
    
        <!-- Cartridge -->
    
        <!-- Compressor Wheel -->
        <div ng-switch-when="Compressor Wheel">
            <dl>
                <dt>Inducer Diameter A</dt>
                <dd>{{part.inducerOa}}</dd>
            </dl>
            <dl>
                <dt>Tip Height B</dt>
                <dd>{{part.tipHeightB}}</dd>
            </dl>
            <dl>
                <dt>Exducer Diameter C</dt>
                <dd>{{part.exducerOc}}</dd>
            </dl>
            <dl>
                <dt>Hub Length D</dt>
                <dd>{{part.hubLengthD}}</dd>
            </dl>
            <dl>
                <dt>Bore Diameter E</dt>
                <dd>{{part.boreOe}}</dd>
            </dl>
            <dl>
                <dt>Number of Blades</dt>
                <dd>{{part.numberOfBlades}}</dd>
            </dl>
            <dl>
                <dt>Application</dt>
                <dd>{{part.application}}</dd>
            </dl>
        </div>
    
        <!-- Gasket -->
        <div ng-switch-when="Gasket">
            <dl>
                <dt>Type</dt>
                <dd>{{part.gasketType.name}}</dd>
            </dl>
        </div>
    
        <!-- Heatshield -->
        <div ng-switch-when="Heatshield">
            <dl>
                <dt>Overall Diameter</dt>
                <dd>{{part.overallDiameter}}</dd>
            </dl>
            <dl>
                <dt>Inside Diameter</dt>
                <dd>{{part.insideDiameter}}</dd>
            </dl>
            <dl>
                <dt>Inducer Diameter</dt>
                <dd>{{part.inducerDiameter}}</dd>
            </dl>
        </div>
    
        <!-- Journal Bearing -->
        <div ng-switch-when="Journal Bearing">
            <dl>
                <dt>Standard Size</dt>
                <dd>{{part.standardSize}}</dd>
            </dl>
            <dl>
                <dt>Oversize</dt>
                <dd>{{part.oversize}}</dd>
            </dl>
            <dl>
                <dt>Outside Diameter (min - max)</dt>
                <dd>{{part.outsideDiameterMin}}</dd> </dl>
            - <dd>{{part.outsideDiameterMax}}</dd>
            </dl>
            <dl>
                <dt>Inside Diameter (min - max)</dt>
                <dd>{{part.insideDiameterMin}}</dd> </dl>
            - <dd>{{part.insideDiameterMax}}</dd>
            </dl>
        </div>
    
        <!-- Kit -->
        <div ng-switch-when="Kit">
            <dl>
                <dt>Kit Type</dt>
                <dd>{{part.kitType.name}}</dd>
            </dl>
        </div>
    
        <!-- Nozzle Ring -->
    
        <!-- Piston Ring -->
        <div ng-switch-when="Piston Ring">
            <dl>
                <dt>Outside Diameter (min - max)</dt>
                <dd>{{part.outsideDiameterMin}}</dd> </dl>
            - <dd>{{part.outsideDiameterMax}}</dd>
            </dl>
            <dl>
                <dt>Width (min - max)</dt>
                <dd>{{part.widthMin}}</dd> </dl>
            - <dd>{{part.widthMax}}</dd>
            </dl>
            <dl>
                <dt>Installed Gap (min - max)</dt>
                <dd>{{part.installedGapMin}}</dd> </dl>
            - <dd>{{part.installedGapMax}}</dd>
            </dl>
        </div>
    
        <!-- Turbine Wheel -->
        <div ng-switch-when="Turbine Wheel">
            <dl>
                <dt>Exducer Diameter A</dt>
                <dd>{{part.exducerDiameterA}}</dd>
            </dl>
            <dl>
                <dt>Tip Height B</dt>
                <dd>{{part.tipHeightB}}</dd>
            </dl>
            <dl>
                <dt>Inducer Diameter C</dt>
                <dd>{{part.inducerDiameterC}}</dd>
            </dl>
            <dl>
                <dt>Journal Diameter D</dt>
                <dd>{{part.journalDiameterD}}</dd>
            </dl>
            <dl>
                <dt>Stem Diameter E</dt>
                <dd>{{part.stemDiameterE}}</dd>
            </dl>
            <dl>
                <dt>Shaft Thread F</dt>
                <dd>{{part.shaftThreadF}}</dd>
            </dl>
            <dl>
                <dt>Number of Blades</dt>
                <dd>{{part.numberOfBlades}}</dd>
            </dl>
        </div>
    
        <!-- Turbo -->
        <div ng-switch-when="Turbo">
            <dl>
                <dt>Turbo Model</dt>
                <dd>{{part.turboModel}}</dd>
            </dl>
            <dl>
                <dt>Coolant</dt>
                <dd>{{part.coolType.name}}</dd>
            </dl>
        </div>
    </div>

    <!-- Interchanges -->
    <dl>
        <dt>Interchangeable Part Group</dt>
        <dd>
            <span ng-show="interchangeId != null">{{part.interchangeId}}</span>
            <span ng-show="interchangeId == null">[none]</span>
        </dd>
    </dl>

    <dt>Bill of Materials</dt>

    <table data-ng-controller="BillOfMaterialsCtrl" data-ng-table="bomTableParams" class="table table-bordered table-striped">
        <tr data-ng-repeat="bomItem in part.bom" data-ng-click="$emit('BillOfMaterials.click', {'part': part, 'bomItem': bomItem})">
            <td title="'Type'">{{bomItem.child.partType.name}}</td>
            <td title="'Manufacturer'">{{bomItem.child.manufacturer.name}}</td>
            <td title="'OEM Part #'">{{bomItem.child.manufacturerPartNumber}}</td>
            <td title="'Name'">{{bomItem.child.name}}</td>
            <td title="'Manufacturer Part Number'"></td>
            <td title="'Quantity'">{{bomItem.quantity}}
            </td>
        </tr>
    </table>
</div>
