<form name="form">
  <div class="row">
      <div class="btn-group">
        <a ng-href="#/security/groups/"
           class="btn btn-info">
          <i class="fa fa-group"></i>
          Groups
        </a>

        <button ng-click="save()"
                ng-disabled="form.$pristine"
                class="btn btn-success">
          <i class="fa fa-save"></i>
          Save
        </button>

        <button ng-click="undo()"
                ng-disabled="form.$pristine"
                ng-show="group.id"
                class="btn btn-warning">
          <i class="fa fa-undo"></i>
          Undo
        </button>

        <button ng-click="delete()"
                class="btn btn-danger">
          <i class="fa fa-trash-o"></i>
          Delete
        </button>
      </div>
  </div>

  <div class="row">
    <h1 ng-hide="group.id">Create Group</h1>
    <h1 ng-show="group.id">Group: {{group.name}}</h1>
  </div>

  <div class="row">
    <h2>Roles</h2>
    <ul class="list-group">
      <li ng-repeat="role in roles" class="list-group-item">
        <input type="checkbox" ng-model="roleSelections[role.id]"/> {{role.display}}
      </li>
    </ul>
  </div>

  <div class="row">
    <h2>Users</h2>
    <ul class="list-group">
      <li ng-repeat="user in group.users" class="list-group-item">
        <a ng-href="#/security/user/{{user.id}}">{{user.name}}</a>
      </li>
      <li ng-hide="group.users" class="list-group-item">No users assigned</li>
    </ul>
  </div>
</form>
