<ng-form name="form">
    <metanav>
        <li>
            <a ng-href="/security/groups/"
               class="btn-info">
                <i class="fa fa-angle-double-left"></i>
                Groups List
            </a>
        </li>

        <li>
            <a ng-click="save()"
               ng-disabled="form.$pristine"
               class="btn btn-success">
                <i class="fa fa-save"></i>
                Save
            </a>
        </li>

        <li>
            <a ng-click="undo()"
               ng-disabled="form.$pristine"
               ng-hide="isNewGroup()"
               class="btn btn-warning">
                <i class="fa fa-undo"></i>
                Undo
            </a>
        </li>

        <li>
            <a ng-click="delete()"
               ng-hide="isNewGroup()"
               class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
                Delete
            </a>
        </li>
    </metanav>

    <div class="row">
        <div class="col-sm-6">
            <h1 ng-show="isNewGroup()">Create Group</h1>

            <h1 ng-hide="isNewGroup()">Group: {{group.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="input-group form-inline">
            <span class="input-group-addon">Group Name</span>
            <input type="text" class="form-control" ng-model="newName" id="group-name-input" placeholder="Group Name"/>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Roles</h2>
            <ul class="list-group">
                <li ng-repeat="role in roles" class="list-group-item">
                    <input type="checkbox" ng-model="roleSelections[role.id]" name="roleSelection"/> {{role.display}}
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h2>Users</h2>
            <ul class="list-group">
                <li ng-repeat="user in users" class="list-group-item">
                    <input type="checkbox" ng-model="userSelections[user.id]" name="userSelection"/> {{user.name}}
                </li>
            </ul>
        </div>
    </div>
</ng-form>
