<div class="row">
  <h1 class="">Login</h1>
</div>

<form class="form-horizontal" role="form" data-ng-submit="login()">

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-col-6 col-sm-10">
      <input type="text" class="form-control" id="username" placeholder="Username" data-ng-required="true" data-ng-model="username" autofocus="autofocus">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-6 col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="Password" data-ng-required="true" data-ng-model="password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="bttn-login" type="submit" class="btn btn-primary btn-lg">
        <i class="fa fa-sign-in"></i>
        Login
      </button>
      <button type="button" class="btn btn-danger" data-ng-click="onOpenPasswordResetConfirmDlg()">
        <i class="fa fa-unlock"></i>
        Password Reset
      </button>
    </div>
  </div>

</form>

<script>$(function(){$("#username").focus();});</script>
