  <metanav>
    <li>
      <button data-ng-click="back()" class="btn btn-info">
        <i class="fa fa-angle-double-left"></i>
        Users List
      </button>
    </li>

    <li>
      <button data-ng-click="save()"
         data-ng-disabled="form.$pristine"
         class="btn btn-success">
        <i class="fa fa-save"></i>
        Save
      </button>
    </li>

    <li>
      <button data-ng-click="undo()"
         data-ng-disabled="form.$pristine"
         data-ng-show="user.id"
         class="btn btn-warning">
        <i class="fa fa-undo"></i>
        Undo
      </button>
    </li>

    <li data-ng-show="user.id">
      <button data-ng-click="toggleResetPassword()"
         class="btn btn-primary"
         data-ng-class="{active: showResetPassword}">
        <i class="fa fa-key"></i>
        Reset Password
      </button>
    </li>

    <li data-ng-show="user.id">
      <button data-ng-click="delete()"
         class="btn btn-danger">
        <i class="fa fa-trash-o"></i>
        Delete
      </button>
    </li>
  </metanav>

  <div class="row">
    <hgroup class="col-xs-12">
      <h1 data-ng-hide="user.id">Create User</h1>

      <h1 data-ng-show="user.id">User: {{user.name}}</h1>
    </hgroup>
  </div>

  <ng-form name="form" role="user information">
    <fieldset class="form-group">
      <label for="name-input">Display Name</label>
      <input type="text" data-ng-model="user.name" class="form-control" id="name-input" placeholder="First and last name">
    </fieldset>
    <fieldset class="form-group">
      <label for="username-input">Username</label>
      <input type="text" data-ng-model="user.username" class="form-control" id="username-input" placeholder="Logon name">
    </fieldset>
    <fieldset class="form-group">
      <label for="email-input">Email</label>
      <input type="email" data-ng-model="user.email" class="form-control" id="email-input" placeholder="Email">
    </fieldset>
    <fieldset class="checkbox">
      <label>
        <input type="checkbox" data-ng-model="user.enabled" data-ng-true-value="true" data-ng-false-value="false"> <b>Enabled</b>
      </label>
    </fieldset>
    <fieldset class="form-group">
      <label for="authProvider">Authentication provider</label>
      <select id="authProvider" data-ng-model="user.authProvider" data-ng-options="ap.name for ap in authProviders track by ap.id" class="form-control" style="width:auto;"></select>
    </fieldset>
    <fieldset class="form-group" data-ng-show="(user.id == null || showResetPassword) && user.authProvider.id == -1">
      <label for="password-input">Password</label>
      <input type="password" data-ng-model="user.password" class="form-control" id="password-input" placeholder="New password">
    </fieldset>
  </ng-form>

  <div class="row">
    <div class="col-sm-5 col-md-4" data-ng-if="user.id">
      <h2 style="margin-top:0;">Groups</h2>
      <ul class="col-sm-9 list-group">
        <li data-ng-repeat="group in user.groups" class="list-group-item">
          <a data-ng-href="/security/group/{{group.id}}">{{group.name}}</a>
        </li>
        <li data-ng-hide="user.groups" class="list-group-item">No groups assigned</li>
      </ul>
    </div>
  </div>

