<metanav>
  <li>
    <a data-ng-href="/security/user/create"
       class="btn-success">
      <i class="fa fa-plus"></i>
      Create User
    </a>
  </li>
</metanav>

<script type="text/ng-template" id="filters/clearbutton.html">
  <button class="btn btn-default input-sm" data-ng-click="clearFilter()">
    <i class="fa fa-eraser" aria-hidden="true"></i> Clear
  </button>
</script>

<div class="row">
  <h1 class="col-xs-12">Users</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <table data-ng-table="usersTableParams" show-filter="true" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="user in $data">
        <td data-title="'Display Name'" data-sortable="'name'" filter="{displayName: 'text'}" class="text-left">
          {{user.name}}
        </td>
        <td data-title="'Username'" data-sortable="'username'" filter="{userName: 'text'}" class="text-left">
          {{user.username}}
        </td>
        <td data-title="'Email'" data-sortable="'email'" filter="{email: 'text'}" class="text-left">
          {{user.email}}
        </td>
        <td data-title="'Enabled'" data-sortable="'enabled'" filter="{enabled: 'select'}" filter-data="enabledOpts" class="text-center">
          <i data-ng-show="user.enabled === true" class="fa fa-circle" title="yes"></i>
          <i data-ng-show="user.enabled === false" class="fa fa-circle-o text-muted" title="no"></i>
        </td>
        <td data-title="'Auth Provider'" data-sortable="'authProvider'" filter="{authProviderId: 'select'}" filter-data="authProviders" class="text-left">
          {{user.authProvider.name || 'Local DB'}}
        </td>
        <td data-title="'Actions'" filter="{resetFilter: 'clearbttn'}" class="actions text-center">
          <a href="/security/user/{{user.id}}" class="btn btn-primary btn-xs">
            <i class="fa fa-cog"></i>
            Edit
          </a>
        </td>
      </tr>

      <tr data-ng-hide="$data.length > 0">
        <td colspan="6">No users to display.</td>
      </tr>

    </table>
  </div>
</div>
