<metanav>
  <li>
    <a data-ng-href="/security/user/create"
       class="btn-success">
      <i class="fa fa-plus"></i>
      Create User
    </a>
  </li>
</metanav>

<div class="row">
  <h1 class="col-xs-12">Users</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <table data-ng-table="usersTableParams" class="table table-bordered table-striped table-hover table-responsive">
      <tr data-ng-repeat="user in $data">
        <td title="'Display Name'" data-sortable="'name'" class="text-left">
          {{user.name}}
        </td>
        <td title="'Username'" data-sortable="'username'" class="text-left">
          {{user.username}}
        </td>
        <td title="'Email'" data-sortable="'email'" class="text-left">
          {{user.email}}
        </td>
        <td title="'Auth Provider'" data-sortable="'authProvider.name'" class="text-left">
          {{user.authProvider.name}}
        </td>
        <td title="'Actions'" class="actions">
          <a href="/security/user/{{user.id}}" class="btn btn-primary btn-xs">
            <i class="fa fa-cog"></i>
            Edit
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
